[2018-02-07 19:19] okyksl opened #1 "Label Formatting"
In the `Meeting #1`, we decided to use label format `<Label-Header>:<Label-Name>` specified in the following article:

Suggested labels in the article are mostly adopted. We may need to incorporate additional labels according to our needs. This issue is designed to track additional discussion on **Label Formatting**.

[2018-02-07 19:37] byklyci commented on #1
We can also add our tags " Priority:Critical " for the urgent things.

[2018-02-07 19:37] serkan-ozel-2015400123 opened #2 "Research About Good Repositories"
Due: 12.05.2017
  Our first week assignment is researching about git and some repositories that we like. For doing this homework we have a wiki page called

on the sidebar. We, all of us, should decide on a specific format and add our research information to that page.

- [ ] Gökhan Tekel
- [ ] Didem Öngü
- [x] Hamdi Özgür Akaoğlu
- [x] Nazmican Çalık
- [x] İlyas Demirkıran
- [x] Yusuf Kalaycı
- [

[2018-02-07 19:42] serkan-ozel-2015400123 commented on #1
I guess we already have priority: high somekind of label. I think it is enough for the purpose

[2018-02-07 20:01] byklyci opened #3 "Issue Formatting"
_Due by Feb 12,2018_

We are trying to understand the best format of issue. Mastering issues should include as follows:
*A title and description describe what the issue is all about.
*Color-coded labels help you categorize and filter your issues (just like labels in email).
*A milestone acts like a container for issues. This is useful for associating issues with specific features or
 project phase

[2018-02-07 23:37] byklyci opened #4 "Adding Team Member's Page to Wiki"
**_Due to 12 Feb ,2018_**
-------------------------------------------------------------------------------
Add your personal page to the [Wiki](https://github.com/bounswe/bounswe2018group9/wiki).

- [x] Gökhan Tekel
- [x] Didem Öngü
- [x] Hamdi Özgür Akaoğlu
- [x] Nazmican Çalık
- [x] İlyas Demirkıran
- [x] Yusuf Kalaycı
- [x] Serkan Özel
- [x] Kemal Tulum
- [x] Galip Ümit Yolcu
- [x] Oğuz Kaan Yük

[2018-02-09 07:35] okyksl opened #5 "Wiki Design"
Here is some consideration about the design of the Wiki:
* Additional `Authors` section to sidenav will be useful.
* Home page should focus on project content rather than details such as Meetings or Team Members, however it should also be a secondary navigation unit to sidenav for a fluent navigation through Wiki.
* A `Resources` section including pages such as `Repository Examples` and `Git Learn

[2018-02-09 07:42] okyksl commented on #1
I'm closing the issue until the specifics of the project becomes clear. After that, we probably need to discuss additional set of labels to cover cases such as implementation platform. e.g `Platform: Node`.

[2018-02-09 07:42] #1 closed

[2018-02-09 18:58] byklyci opened #6 "Personal Log Links"
_Due to 12 Feb 2018,_
Don't forget to send your personel effort documentation to our T.A. Can Tunca (can.tunca@boun.edu.tr).

- [x] Gökhan Tekel
- [x] Didem Öngü
- [x] Hamdi Özgür Akaoğlu
- [x] Nazmican Çalık
- [x] İlyas Demirkıran
- [x] Yusuf Kalaycı
- [x] Serkan Özel
- [x] Kemal Tulum
- [x] Galip Ümit Yolcu
- [x] Oğuz Kaan Yüksel

[2018-02-09 19:15] byklyci commented on #4
Personal bio about us.

[2018-02-09 21:05] serkan-ozel-2015400123 commented on #5
Oğuz all of the things you have mentioned are done actually except we don't have a page like repository examples. However, we have learn git page added and we can add any extra pages to the resources sction as you mentioned. Therefore, if not any change recommendations to our wiki design we can close this issue.

[2018-02-09 21:11] serkan-ozel-2015400123 opened #7 "Discuss tools that facilitates team-working like Slack, Trello, Google Groups"
Are we going to use any of them? In meeting action items, Kemal is responsible for setting up slack. That's because I am assigning to Kemal.

[2018-02-09 21:15] serkan-ozel-2015400123 opened #8 "Setup README.md"
We also decided to set up readme.md file. "According to Github's official document on README.md and our repository needs, README.md should include sections such as Project Name, Description, Contributing, Credits." This is the discussion item we do have. The assignees of this issue are the responsibles for this action item.

We can write something like that : "

We are currently working on this re

[2018-02-09 22:44] akaogluozgur commented on #8
I am checking out the Github's official document right now. Changes will be added tomorrow.

[2018-02-10 07:13] nazmicancalik commented on #3
One more point to add:

If there is an issue that is going to be assigned to specific person, mention his/her username in the
Issue title. Only assignee part is not enough.

[2018-02-10 07:46] nazmicancalik opened #9 "Nazmican - Shouldn't we have members and meeting notes on wiki homepage?"
I think we should have **meeting notes** and **members**  sections on our wiki homepage as well as wiki sidebar.

[2018-02-10 07:58] okyksl commented on #9
@nazmicancalik, could you please check #5? I'm closing this issue as duplicate, let's discuss this point on #5.

[2018-02-10 07:59] #9 closed

[2018-02-10 08:04] nazmicancalik commented on #5
Hi,
After a consideration, sidenav would be better for members and meeting notes.

[2018-02-10 08:13] kemaltulum commented on #3
I agree with Nazmi, which is why I heard from the ones having taken this course that Suzan Hoca likes mentioning the assignee names in the title. Still it is arguable. We can embrace another way if we do not like doing in this way

[2018-02-10 08:16] okyksl commented on #3
@nazmicancalik I think if issue title should focus on problem/task more, and that would be clearer way of conveying information. One problem associated with your suggestion is that some issues will be assigned to more than one person, in that case issue title will be a bit messy.

On Issue page, you can either click on assignee and then filter a user to search assignees. Further, you can use advan

[2018-02-10 08:51] byklyci commented on #3
The idea Of adding name in issue title will be efficient. But in my opinion; whoever and whatever written in the title, the others should check the issue everytime.

[2018-02-10 08:51] nazmicancalik commented on #3
I added the issue format file. For now it doesn't say we have to add assignee's to the title. We can add the name specification according to the group consensus.

[2018-02-10 12:15] akaogluozgur opened #10 "Template of README.md"
I found a template of readme.md  to templates file and changed README.md according to it. We can discuss how we customize it or what will be included in credits and contributing parts.

[2018-02-10 12:35] byklyci commented on #5
Now, sidenav includes members and meetings but the home page looks empty in my opinion.

[2018-02-10 12:39] byklyci commented on #5
And also for our first meeting documentation ; we talked about adding picture. @didemongu Can you add our picture including our meeting in lounge.

[2018-02-10 13:37] okyksl commented on #7
I think our usage of Issues until now was efficient and active. I believe additional products to manage the workflow of our project might be overkill - *I'm talking about Trello here* -. Slack on the other hand, might give additional benefits to track less formal dialogues and helps to organize outside of repo file sharing. However, it still feels like overkill - *less than Trello* -.

Any thought

[2018-02-10 13:43] okyksl commented on #4
@didemongu, @akaogluozgur, @gumityolcu

[2018-02-10 14:17] gumityolcu commented on #8
I added the group members and links to our pages in the wiki. I will upload the document when everyone has created their pages.

I think several major updates will be made to the README file once we get the project, we can not do much until then.

[2018-02-10 14:36] okyksl commented on #5
@serkan-ozel-2015400123, should I move the `Researching Repository` under the `Resources` and close the `Homeworks` part?

[2018-02-10 14:39] okyksl commented on #5
@bounswe/bounswe2018group9 checkout the `Meetings` page. I plan to add a short passage to the `Home` as well. Any suggestions & ideas about the current design of the wiki?

[2018-02-10 14:50] serkan-ozel-2015400123 commented on #4
I think we don't have didem in our repository group yet. What can we do about this?

[2018-02-10 15:05] okyksl commented on #4
@serkan-ozel-2015400123, we have @didemongu in the repository :)

[2018-02-10 15:22] serkan-ozel-2015400123 commented on #4
Ok I realize now. Deleting the message that I posted on team page

[2018-02-10 15:24] okyksl opened #11 "Contribution Guide"
We should build a contribution guide so that we all can easily check and decide how to contribute to the repo. It should include topics such as:

- [x] Issues
- [x] Commits
- [x] Workflow
  - [ ] Branching
  - [ ] Pulling & Pushing
  - [ ] Merging

Any inconsistencies in habits in such areas would make our job harder in the future. So I suggest we build a guide and stick to it.

[2018-02-10 15:26] byklyci commented on #8
Nice job. Thank you..

[2018-02-10 15:34] okyksl commented on #6
- [ ] Gökhan Tekel
- [ ] Didem Öngü
- [ ] Hamdi Özgür Akaoğlu
- [ ] Nazmican Çalık
- [ ] İlyas Demirkıran
- [ ] Yusuf Kalaycı
- [ ] Serkan Özel
- [ ] Kemal Tulum
- [ ] Galip Ümit Yolcu
- [x] Oğuz Kaan Yüksel

[2018-02-10 15:49] okyksl commented on #7
Also checkout the [Typescript Repository](https://github.com/Microsoft/TypeScript). They use **Projects** section of GitHub, it looks like Trello.

[2018-02-10 17:41] okyksl commented on #6
@bounswe/bounswe2018group9

[2018-02-10 19:09] #10 closed

[2018-02-10 19:46] byklyci commented on #3
If you wont add anything about issue formating, ı will close the issue. @nazmicancalik

[2018-02-10 19:52] byklyci commented on #2
@serkan-ozel-2015400123 about the good repositories, how can we decide it is good or bad?

[2018-02-10 19:59] byklyci commented on #4
Just two person needed. @gkhntkl and @akaogluozgur could you please include your personel pages?

[2018-02-10 20:15] serkan-ozel-2015400123 commented on #5
I think we can close wiki design issue right now until some other time.

[2018-02-10 20:15] #5 closed

[2018-02-10 20:15] byklyci commented on #3
I'm closing the issue until the specifics of the project becomes clear. After that, we probably need to discuss additional set of settings to cover cases such as implementation platform.

[2018-02-10 20:20] okyksl commented on #3
@byklyci let's organize your summary & guide and @nazmicancalik Issue Template, as a Issue Contribution Guide and load it to the [Wiki](https://github.com/bounswe/bounswe2018group9/wiki/Issues)

[2018-02-10 21:13] serkan-ozel-2015400123 commented on #2
I decided it based on my intutions. In general, I have written visually nice features to research page. Another criteria may be practicality.

[2018-02-11 09:52] byklyci commented on #11
I added issues summary and guide in our contribution guide part.
[Issues](https://github.com/bounswe/bounswe2018group9/wiki/Issues)

[2018-02-11 10:14] nazmicancalik commented on #2
I think everybody should serach for their favourite repositories based on their instincts and how the repository is documented, structured etc.
After that we should add our researches without including our name ( who edited which lines already can be seen), creating a mutual page. But being make sure that everybody contributes.

Template:
- [Name of the repo](link) - Comment about why you picked t

[2018-02-11 10:14] byklyci commented on #4
I am closing this issue because it's done.

[2018-02-11 10:14] #4 closed

[2018-02-11 11:25] nazmicancalik commented on #8
Should we close the issue, since we don't have something to add for now, or should we wait for addition of  **contributing** wiki page issue #11 so that we can add the **contributing page link** to the readme file.

[2018-02-11 12:02] serkan-ozel-2015400123 commented on #2
@nazmicancalik Nazmican I think you accidentally deleted our(Oguz's and mine) research text. I am adding them to the page in the latest form.

[2018-02-11 12:07] serkan-ozel-2015400123 commented on #2
Because I think we should put all research info to the same page

[2018-02-11 12:14] serkan-ozel-2015400123 commented on #2
Btw, I added our names to our individual contribution because it is going to be hard to find research texts' writer.

[2018-02-11 12:16] nazmicancalik commented on #2
I haven't deleted the page but maybe by a mistake it got deleted. Yes please, you add deleted text. For writing our names I am open to both solutions we can write our names or not. Sorry for inconvenience.

[2018-02-11 12:38] okyksl commented on #2
@nazmicancalik I'm moving your checklist to the first comment on the issue, so that we can track the checklist from Issues panel.

[2018-02-11 20:24] okyksl commented on #7
I'm closing this issue until we feel overwhelmed with our current communication platforms.

[2018-02-11 20:24] #7 closed

[2018-02-12 06:12] okyksl commented on #2
I'm closing this issue, anyone who wants to add additional repositories can edit the wiki page.

[2018-02-12 06:12] #2 closed

[2018-02-12 07:06] okyksl commented on #6
I'm closing this issue as we have finished.

[2018-02-12 07:06] #6 closed

[2018-02-13 19:00] okyksl opened #12 "Git Workflow"
According to our `Meeting #2`, I'm organizing the Git Workflow of our repository.

* `master` branch is now protected. Any commits must be made from non-protected branches and submitted via pull-request. I will routinely review the PRs.
* **Feature-branch workflow** is adopted. Documentation on the workflow will be available on `Wiki`.
* Additionally, `master` branch is cleaned and now uses [Ionic

[2018-02-13 19:09] okyksl commented on #8
@nazmicancalik, sorry for the late response. I think we should close the issue since _initial structure of the **README.md**_ is finished. Any additional change for the **README.md** can be tracked from its specific issue from now on.

[2018-02-13 19:09] #8 closed

[2018-02-13 19:13] byklyci opened #13 "Team or Project Name Selection"
Are we _**select a team name or choose project name**_?  Its will take form with our discussion commits.Please can you suggest something about that situation.Thank you....

[2018-02-13 19:15] byklyci commented on #13
Actually we should have both of them. But mainly, the project name will be obligation.So, first of all we need a team name.

[2018-02-13 19:18] serkan-ozel-2015400123 opened #14 "Requirement Analysis Format"
Let us decide subheadings of requirements together.  You can add another topic to a certain heading or add another heading. If you don't think a heading's position is not correct, state it so that we can change it.
1. Functional Requirements
1.1 User Requirements
1.1.1 Member Users -- What they can do
1.1.1.1 Sign Up -- How they will sign up.
1.1.1.2 Communication -- Relation between users in term

[2018-02-13 19:22] nazmicancalik opened #15 "Configuration of Communication Plan"
Communication plan will be decided and documented on wiki.

[2018-02-13 19:28] byklyci commented on #3
I reopened that issue because our issue summary and guidelines need same specific flow.So can you say your opinion about our issue formatting!Then ı will edit it.

[2018-02-13 19:48] serkan-ozel-2015400123 commented on #13
Byte Me?

[2018-02-13 19:48] byklyci commented on #14
Actually in my perspective, add it right now then we can write under it some time later.

[2018-02-13 19:51] gkhntkl commented on #14
The existence of the Sing-up system could be interpreted as  a demonstration of the security.

[2018-02-13 19:51] byklyci commented on #13
It is a good offer but actually we can find soul-shattering name!

[2018-02-13 19:54] nazmicancalik opened #16 "Delete homework descriptions from the wiki page"
Should we add homework descriptions to the wiki system or not ? What are your thoughts ?
Please put a tick near your name if you want homework descriptions to be deleted from the wiki system.

- [x] Gökhan Tekel
- [ ] Didem Öngü
- [ ] Hamdi Özgür Akaoğlu
- [x] Nazmican Çalık
- [ ] İlyas Demirkıran
- [x] Yusuf Kalaycı
- [x] Serkan Özel
- [ ] Kemal Tulum
- [x] Galip Ümit Yolcu
- [x] Oğuz Kaan Yüksel

[2018-02-13 19:54] gumityolcu commented on #14
@serkan-ozel-2015400123 We could add "2.3 Security - Data security and which data access rights" right now so that we won't forget it later when we detail each section down.

@gkhntkl I was thinking about protection of passwords, e-mail addresses and -maybe even chats, photographs etc.- of the users. Plus, maybe even data access rights between users. Requirements like "A guest should not be able t

[2018-02-13 19:55] serkan-ozel-2015400123 commented on #14
@byklyci @gkhntkl I am adding security section according to this.

[2018-02-13 19:55] byklyci commented on #12
* `master` branch protection is a good way to avoid some mistakes and conflicts. This is a remarkable newness of our project.Thank you.

[2018-02-13 19:58] byklyci commented on #15
Will we make a log or a folder that includes our communications? For example Yusuf make phone call with Nazmican about ...... , Ümit write something in Slack for Oğuz!  etc. I mean some remarkable topics.

[2018-02-13 19:59] gkhntkl commented on #14
What about supporting different languages...We are trying to encompass all of the world,right?

[2018-02-13 20:08] gumityolcu opened #17 "Description of the Project"
Now that we have the project description, we can update the `README.md` file to include the general description of the project.

[2018-02-13 20:09] nazmicancalik commented on #14
Even if we make it only in english, I think we should add this question to the list of questions that we are going to ask to the customer this thursday, because it is unclear.

[2018-02-13 20:11] gumityolcu commented on #16
It would be good to be able to access the homework documents from anywhere, but it makes the wiki crowded. So I think we should add the documents to the repo under docs.

[2018-02-13 20:12] byklyci commented on #16
Because this is not a part of our projects after we make something that for customers , they wont care about it.

[2018-02-13 20:43] kemaltulum opened #18 "Customer Meeting Questions"
We have been accumulating the ideas for the requirements we would have for our project. This issue is the place where we discuss and collect the points we should ask to our customer, who is @mericturan .

Please every one of us puts the questions in this mind here, Also, we should discuss the questions we come up with so that we prepare consistent and effective questions for our customer.

Then, w

[2018-02-13 20:45] serkan-ozel-2015400123 commented on #15
@byklyci  I don't think that we should not add this because it is not specified in format of communication plan.

[2018-02-13 20:51] serkan-ozel-2015400123 commented on #18
Our customer is @mericturan instead of @cantunca. @nazmicancalik Nazmi can add his question about language support

[2018-02-13 21:00] nazmicancalik commented on #16
Since we have reached a consensus, I'm deleting the homework description page and closing the issue.

[2018-02-13 21:00] #16 closed

[2018-02-13 21:04] nazmicancalik commented on #18
We can add this question :
Do we need to support multiple languages on the platform ?

[2018-02-13 21:23] byklyci commented on #13
I agree with you @okyksl about removing the milestone.

[2018-02-13 21:25] okyksl commented on #13
I was thinking about **Cultr** but there is a product with that [name](https://www.cultr.com). In case we blow up the market, thats a problem :)

[2018-02-13 21:26] okyksl commented on #13
@byklyci why not we make a list of offered names on the first comment, so that we can track them more easily.

[2018-02-13 21:30] byklyci commented on #13
But first of all we should find some soul-shattering name!

[2018-02-13 21:36] okyksl opened #19 "Wiki Design - Project Plan Header"
With the coming `Requirements Analysis` page and a `Customer Meeting` pages, there will be documents relating to **project plan & description**. I suggest we move these files to a separate header called `Project Plan` or directly under the `Home` page. I believe reserving `Resources` for both external and internal documents will make navigation less fluent. Moreover, `Home` page could include `Pro

[2018-02-14 06:41] mericturan commented on #18
@nazmicancalik actually, I didn’t think to add such feature while I was preparing your project. Yet, it seems like a quite necessary and nice feature to have. Therefore, I expect you to support at least 2 languages :)

Also, your application/web site should select the default language based on the language of the device (mobile device or pc). If the language of the device is not supported by your

[2018-02-14 11:26] serkan-ozel-2015400123 commented on #17
We can also edit wiki home page.

[2018-02-14 17:53] nazmicancalik commented on #19
I think this would be a really good way to organize project related wiki pages.

[2018-02-14 17:54] gkhntkl commented on #13
ctrl+A comes into my mind.

[2018-02-14 18:03] nazmicancalik commented on #3
I think the last consensus was following:
* There won't be any names included in issue titles.
* Issue title grammar should be in an imperative format. (__Ex:__ ~~Deleting~~ index.html, Delete index.html )

Any more thoughts ?

[2018-02-14 18:09] nazmicancalik commented on #15
@byklyci I think for now we don't have to make a log of our phone calls, however if we ever take crucial decisions on those calls we better log those calls. That way we can refer to those calls or any type of communication in the future.

[2018-02-14 18:19] nazmicancalik commented on #15
Guys I need help of everyone. I'm thinking we add another delivery purpose to our communication plan like following :
* We check the current progress of distributed works, everybody reports their status on a platform that we will decide (Projects tab can be used for this). That way everybody will know what is the progress of each task.
Any thoughts ?

[2018-02-14 18:38] gkhntkl commented on #18
what sort of information are  we allowed to gain about our customer? Lets say we wanna be informed of his\her gender,birthdate to serve them in better conditions,are we allowed?

[2018-02-14 18:54] dkilyas commented on #13
I think ctrl+A looks meaningful. But, there is a problem with it. As we all know, it is a shortcut in computer. It may cause the people to misunderstand. I mean they would think that our app is about the technology.

[2018-02-14 18:55] dkilyas commented on #13
My suggestion is "WeAct". "Act" comes from the first three characters of the activity and "We" represents the group of the people that do cultural activities.

[2018-02-14 19:04] mericturan commented on #18
You can use personal information (i.e., gender, age, and homeland) of your users by keeping them anonymous.

Let me give an example to clarify: Ayşe is a female who is 22 and lives in Istanbul. You can see the actions (i.e., events that Ayşe participated) of Ayşe, her age, gender and homeland in order to recommend her better events, but as the developer, you shouldn't know that this particular per

[2018-02-14 19:14] didemongu opened #20 "Necessary Labels for Project"
_Due by Feb 18,2018_

About last meeting (meeting 2) we discussed labels and tags I will add `Platform` label type which specifies what the issue is on specifically, would be beneficial to add. `Platform: Documentation`, `Platform: Frontend`, `Platform: Backend` are considered. Is there any suggestion?

[2018-02-14 19:20] akaogluozgur commented on #13
I think "WeAct" is a good one.

[2018-02-14 19:20] kemaltulum commented on #20
I think `Type: Meeting` would be useful in that we can simply label the issues to be discussed in the meeting.

Another suggestion of mine is `Platform: CustomerReview` or `Platform: CustomerMeeting`. Actually I am not sure yet but for some issues we can specify it as things that should be discussed with the customer.

[2018-02-14 19:33] gumityolcu commented on #20
We could also add a label similar to Platform: CodeReview since we decided do code review and master branch protection.

[2018-02-14 19:55] didemongu commented on #20
@kemaltulum @gumityolcu I think header `Type` is more suitable for `Customer Review` and `Code Review` labels.

[2018-02-14 20:00] gumityolcu commented on #20
@didemongu You are right. "Type: Code Review, Platform: Frontend" seems better than "Platform: Code Review, Platform: Frontend"

[2018-02-14 20:05] kemaltulum commented on #3
@nazmicancalik Imperative format would not be so convenient for issues in such cases, for example, when reporting an error, you would probably put the error message to the title. On the other hand, most of the issues we have right now is in a more flexible format like this one "Issue Formatting"
There would be a replacement for this title for me in imperative form "Discuss Issue Formatting (Rules)

[2018-02-14 20:09] byklyci commented on #18
About the rating system,  what should we do? For example: Top 10 activities in İstanbul or Best Activities about people's personel interest. And also , what will we look selecting best rated activities? Vote or Comment based!?

[2018-02-14 20:13] byklyci commented on #20
Actually our tags and labels are very useful seperation style. We can add some time later other specific things when the project is coming mature.

[2018-02-14 20:16] byklyci commented on #3
@kemaltulum you are right because of title and the number of issue has a huge impact.

[2018-02-14 20:16] didemongu commented on #20
I added `Type: Meeting` , `Type: Code Review` and `Type: Customer Review` labels.

[2018-02-14 20:56] mericturan commented on #18
I think you should not keep your customer busy for every single detail :)

You may give some weight to the comments, likes, likes of the comments, ratings of the people who comment etc.

Why don't you all argue this question in your next meeting and come up with a proposal?

[2018-02-14 21:00] byklyci commented on #18
Yes, we will add this topic our agenda for talking next meeting.

[2018-02-14 21:05] byklyci commented on #15
@nazmicancalik ı agree with your idea. In projects tab we can add in progress section which title is current progress and at the end Of the week we can add it done section.

[2018-02-14 21:30] serkan-ozel-2015400123 commented on #13
Group Name Ideas : Collab9raTeD , GroupEff9rt, WePutEff9rt

[2018-02-14 22:07] okyksl commented on #19
I'm added the extra `Project` header to track documents relating to **project plan & description**.

[2018-02-14 22:07] #19 closed

[2018-02-14 22:46] byklyci commented on #13
**_Actopus_** comes into my mind. As we know that Octopus is a creature that has lots of arms and we can think that our project just like that.I change the first letter of Octopus to **Actopus**.People will connect each other and communicate with each other. Octopus Hands is an idiom and meaning is when a person's hands are all over another person. We can also easily add a logo and find creative t

[2018-02-15 05:34] okyksl commented on #13
Just in case you guys like it,  _**Actipus**_ emphasize _activity_ more.
However, _**Actopus**_' that **opus** part feels more natural. I really like _**Actopus**_ - Let's go for it :)

[2018-02-15 07:45] serkan-ozel-2015400123 commented on #3
@nazmicancalik Imperative form will be used in commit messages but not in issue titles, I remember. So if we are not going to set a certain issue form for its content (not its title), we can close this issue.

[2018-02-15 07:51] serkan-ozel-2015400123 commented on #13
I agree Actopus

[2018-02-15 08:04] serkan-ozel-2015400123 commented on #18
Question 1 and 9 are similar. I think one of them should be deleted.

[2018-02-15 09:06] gumityolcu commented on #18
@serkan-ozel-2015400123
You are right. I handled it

[2018-02-15 13:16] kemaltulum opened #22 "Important Things About Individual Notes"
Let's put things that are important for grading here, then we get all AAs easily.

[2018-02-15 14:06] byklyci opened #23 "Requirement Elicitation Task Seperation"
We should seperate our requirenment eliciation. As we talked in Meeting 2 there should be an actions about requirenment. The team leaders select additional people under its work and help needed.Lets talk about !!

[2018-02-15 15:46] #15 closed

[2018-02-15 16:23] gumityolcu commented on #12
I am closing the issue since there is nothing to discuss here and the issues page is very crowded 😃

[2018-02-15 16:26] gumityolcu commented on #13
I think Actopus sounds good 😄👍

[2018-02-15 17:09] gumityolcu commented on #23
We decided on 4 groups so we need to separate the requirements to 4 sub section. I think this(https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis) is a very good start.

This is my proposition:
2 Groups for Functional Requirements/Member User Requirements
1 Group for Functional Requirements/Guest User Requirements
1 Group for Nonfunctional Requirements

If we accept this, we sh

[2018-02-15 17:40] byklyci commented on #13
We decided our project name and it is _**Actopus**_ after voting on WhatsApp and face to face communication this is our selection. 🐙🎉🎊🎈
Project Name: Actopus
Group Name: Actopus Team
I am closing this issue because it is done successfully...

[2018-02-15 17:40] #13 closed

[2018-02-15 18:01] akaogluozgur commented on #23
This suggestion sounds good to me. @gumityolcu

[2018-02-15 18:03] okyksl commented on #23
@gumityolcu how about group for `Functional Requirements / System Requirements`? Maybe we could integrate `Guest User` with `Member User` so that we have a room for another team?

[2018-02-15 18:05] okyksl commented on #22
@kemaltulum should we turn this into a wiki page?

[2018-02-15 18:06] akaogluozgur opened #24 "Structure of the Resource Files"
We decided to put external resources to our repo so that if anything happens to the external source, we are not affected by this. We accepted that images go under resources/images. What else we can put there? Is there something I missed?

[2018-02-15 18:09] gumityolcu commented on #23
@okyksl You are right, but I think the Member User part will be hard/long/complicated enough for 1 group. What do you think? We should pick the easiest of System Req.s/Member User Req.s/System Req.s and integrate it with Guest User Req.s

[2018-02-15 18:14] okyksl commented on #23
How about this:
* 2 groups for `Functional Requirements / User Requirements`
* 1 group for `Functional Requirements / System Requirements`
* 1 group for `Non Functional Requirements`

2 groups can share the burden of `Member User Requirements`.

[2018-02-15 18:15] nazmicancalik commented on #24
I think for now the images will do. We can add other files as we follow along the course.

[2018-02-15 18:16] nazmicancalik commented on #23
This sounds good to me @okyksl

[2018-02-15 18:18] nazmicancalik commented on #18
Since we have done with customer meeting, I am closing the issue

[2018-02-15 18:21] okyksl commented on #23
And also note that,
* Everyone should feel free to _(and in our team probably will)_ edit any kind of requirements.
* This separation of tasks is only for management purposes _i.e just in case requirements get out of hand at some point of the project_.

[2018-02-15 18:24] okyksl commented on #18
@nazmicancalik Should we close this after we add other team's questions about the project?

[2018-02-15 18:25] nazmicancalik commented on #18
@okyksl Okay, that's actually a good idea. I will reopen the issue.

[2018-02-15 18:26] byklyci opened #25 "Actopus Team Logo Selection"
Guys, we decided our team and project name.Then we should find a logo pictures, background and something else according to our project.Please comment your opinion about this situation.The logo in my opinion has huge affect to people's interest. As all of knows **_"First impression is an impact."_**
I need your help....
Yusuf from Team Actopus.

[2018-02-15 18:26] nazmicancalik opened #26 "Next Week's (19.02.2018) Agenda"
I think we should create the next week's meeting template and start to fill out the agenda. That way we can be prepared for the meeting. You can add your agenda items here when you find time. Then we can copy it to the meeting doc. (I think one agenda item is discussed in issue #18 by @byklyci )

__Add your agenda items here:__

- Actopus Project Logo Design (Actopus Team,Yusuf)
- The review sessi

[2018-02-15 18:27] nazmicancalik commented on #25
@byklyci Yusuf you are right. Let's search for octopus icons maybe.

[2018-02-15 18:29] nazmicancalik commented on #20
If we don't have any more additions to labels we can close this issue Didem. @didemongu

[2018-02-15 18:34] byklyci commented on #26
We should add Actopus project logo design in next meeting agenda also we have an issue about this situation and write your thoughts in there.

[2018-02-15 18:38] okyksl commented on #3
@serkan-ozel-2015400123 It means that don't open any issue such as: `Serkan: Do This`, instead just use `Do This` with assignee `Serkan`.

[2018-02-15 18:42] nazmicancalik commented on #3
@serkan-ozel-2015400123 I think everything is clear after @okyksl 's reply. I think @serkan-ozel-2015400123 is right we can close this issue. However, we should put the consensus ( no names and imperative ) to a related wiki page. What do you think ? @okyksl @serkan-ozel-2015400123 @byklyci

[2018-02-15 18:44] nazmicancalik commented on #3
@byklyci Yusuf, issue page on the sidebar seemed a bit long to me what do you say we make it a bit smaller? What do you think ?

[2018-02-15 18:55] okyksl commented on #20
@didemongu I agree with @nazmicancalik.

And, additional side notes about labels:
* One trend we are going towards is that, sometimes we select **5 labels** even though we have only **4 types** - _which causes a bit overhead to issues_.
* We should clarify the usage of each label, so that we can pick the right ones for the issue at hand.
* **_Maybe_** (_and thats a 50-50 maybe_) we should restrict

[2018-02-15 19:03] nazmicancalik commented on #20
I definitely aggree with @okyksl . Our labels are pretty helpful but sometimes using too many labels makes the issue seem confusing more than it should be. So my suggestion is same as @okyksl :
- We can limit usage of labels.

[2018-02-15 19:06] nazmicancalik commented on #26
@byklyci We will definitely contribute to that issue. Yusuf could you also add your agenda item about logo design to the first post of this issue (issue body), that way it would be easy to collect agenda items and document them later. Thanks ._.

[2018-02-15 19:12] serkan-ozel-2015400123 commented on #25
![Image](http://mocomipullzone.anibraindigitalt.netdna-cdn.com/wp-content/uploads/2012/03/Mocomi_Activities_Cutouts_Octopus_vi_v02.jpg)

Cute octopus images? Maybe some more editing to it ? What do you think?

[2018-02-15 19:14] nazmicancalik commented on #3
@kemaltulum Kemal I just saw your feedback. You have your points, I couldn't decide. We can argue this on next week's meeting to get the consensus. You can add an agenda item about this to the body of issue #26 .

[2018-02-15 19:17] nazmicancalik commented on #11
@okyksl Oğuz, just to check : Where are we on this issue? Is there anything we can do ? Also, as I asked at issue #3, should we make issues wiki page (on the sidebar) a bit smaller, like Meriç's idea about making our git page a bit smaller and concise.

[2018-02-15 19:22] byklyci commented on #3
If you are all agree about closing this issue ı will do it.

[2018-02-15 19:23] okyksl commented on #3
@nazmicancalik @byklyci @serkan-ozel-2015400123 @kemaltulum Let's use this issue to track the **ideas** about the `Issue Formatting`. As @nazmicancalik said, we should definitely put ideas cultivated here to the `Wiki`, _but the completion of that guide is another task_ - so let's close it.

[2018-02-15 19:32] serkan-ozel-2015400123 commented on #23
I guess requirements are not in its final form. I don't know what Meriç assistant mentioned at customer meeting, so I don't know what to edit.

[2018-02-15 19:39] serkan-ozel-2015400123 commented on #22
@okyksl Because of this issue is about opening issues this issue should stay. 👍

[2018-02-15 19:43] serkan-ozel-2015400123 commented on #18
@okyksl What do you mean by adding other teams questions? Where to? You know I wasn't at the meeting so it may be normal not to understand for me.

[2018-02-15 19:49] serkan-ozel-2015400123 commented on #3
@byklyci You can close it, please 👍

[2018-02-15 19:54] okyksl opened #27 "Item Enumeration for References"
**The Boss** pointed out the importance of the enumeration of the items for `Requirements` document.
I suggest we _utilize this idea more_:

* If there are any document which will be referenced later on, enumerate its items so that reference to the specific item can be done simply by numbers.
* Accordingly, update `Meeting Template` to utilize enumerable items.

One concern here to give attention:

[2018-02-15 19:56] serkan-ozel-2015400123 commented on #14
The four groups we will set up can show their format here.  That way we can review them before they decide on final form.

[2018-02-15 19:59] okyksl commented on #25
![Image](https://cdn3.iconfinder.com/data/icons/aquatic-creatures/256/Octopus-256.png)

[2018-02-15 20:04] okyksl commented on #18
@serkan-ozel-2015400123 Customer meeting is done together with all the three teams doing the same project. There were also some questions raised by other teams. I suggest we should also add them to the `Customer Meeting` questions sheet.

[2018-02-15 20:06] #3 closed

[2018-02-15 20:19] byklyci commented on #11
I added Issues last version on the sidebar.

[2018-02-15 20:22] okyksl commented on #11
@nazmicancalik I'm unable to progress since we focused more on `Requirements Elicitation` process. I'll try to make progress as soon as possible.

[2018-02-15 20:24] byklyci commented on #22
Actually, the best thing about this topic is team work. And I am sure that **_Team Actopus_** is a very coordinative,fixer,helpful and very staidly working team.

[2018-02-15 20:27] byklyci commented on #20
I added Issue Summary and Guide on the Wiki page Sidebar Issues 1section. If we decide another label please inform me individually to edit there again. Thank you.
Team Actopus,Yusuf

[2018-02-15 20:30] okyksl commented on #22
@byklyci Indeed a very **soul-shattering** comment :)

[2018-02-15 21:36] okyksl commented on #24
Should we host the _resources for the wiki_ under folder `wiki`? I think `resources` might be used for some development purpose later on.

[2018-02-15 22:18] byklyci commented on #17
Now we also have the project name , we can update the `README.md` file and add the project name on there.
Team Actopus,Yusuf.

[2018-02-15 22:54] byklyci commented on #18
We should also prepare Costumer Meeting page. This page should include date,where,when,what etc. informantion. Question and answer part and some other information. Please dont forget this situation because the T.A's said that in the PS time.
Team Actopus,Yusuf

[2018-02-15 23:00] byklyci commented on #22
Especially, our wiki page and code page should look over again and again.We should add always new and brain labor updates in these parts.

[2018-02-15 23:12] byklyci commented on #26
Also we can add next meeting agenda, the review session about our wiki page, sidebar,Readme etc.Because the main importance for our Costumers are these topics right now.

[2018-02-16 11:58] okyksl commented on #18
@bounswe/bounswe2018group9 Are there any additional questions you noted on `Customer Meeting #1`? If so please add them [here](https://github.com/bounswe/bounswe2018group9/wiki/Customer-Meeting-%231).

There are 3 questions here that is not included on the document:
* Do we need to support multiple languages on the platform?
* What sort of information are we allowed to gain about our customer?
* A

[2018-02-16 11:58] #18 closed

[2018-02-16 12:03] okyksl commented on #17
If @dkilyas finish his magnificent art, we can also add our **Actopus**.

[2018-02-16 12:09] okyksl commented on #26
@byklyci can you add the items @nazmicancalik was talking about here?

[2018-02-16 12:34] okyksl opened #28 "Customer Meeting #1 Review"
Let's organize the [Customer Meeting - #1](https://github.com/bounswe/bounswe2018group9/wiki/Customer-Meeting-%231) document to reflect the nature of the meeting.

**Todo**:

- [x] Add the specifics of the meeting.
- [x] Review the answers we had for our questions and document those answers.
- [x] Divide questions into `Clarification` and `Feature` groups. _(Or should we?)_

[2018-02-16 15:00] byklyci commented on #26
@okyksl I added the items about the next meeting agenda.

[2018-02-16 16:13] gumityolcu commented on #24
Once the project logo is finished, we should put it there.

[2018-02-16 16:17] gumityolcu commented on #27
I think the latter is better because we can just type "2" instead of "Agenda" 😄

[2018-02-16 16:21] gumityolcu commented on #20
@okyksl You are right. I think this specification should be included in the Contribution Guide #11

[2018-02-16 16:23] gumityolcu commented on #28
I will do this today, I will need a review. I'll write here when I'm done.

[2018-02-16 16:36] kemaltulum commented on #27
I think we can enumerate everything like Agenda, Discussion and Actions. It would be very simple as well as systematic. The latter is a decent choice for me as well

[2018-02-16 17:13] gumityolcu commented on #28
It's nearly done. I added all the answers to Clarification Questions except one (Number 3 -with the new enumeration-) because I couldn't find the answer. I transferred the optional feature questions to the (Possible) Feature Questions because the customer gave us the freedom to decide on ourselves about those matters. I also re-enumerated the whole list.

Now, we will be working on requirements af

[2018-02-16 17:30] kemaltulum commented on #28
I can share what I remember related with third question with my comments:
* Location search should be on a Google Map. You can use either use your location or choose another location to find out the events near the specified point on the map
* Content search is I think related with keywords or tags. For example, when you search for "theatre", you would see all the events including a theatre activi

[2018-02-16 19:32] serkan-ozel-2015400123 commented on #28
I understand them differently @kemaltulum
1) Content search searches the word you entered directly. i.e It should match with the content literally to show that result to you.
2) Semantic search shows related words & contents also
3) Location based is obvious

However, in that question I was asking whether we should put these searching options seperately or we should put all of them together i.e fo

[2018-02-16 19:44] didemongu commented on #20
I am closing this issue because discussed labels are added.

[2018-02-16 19:44] #20 closed

[2018-02-16 20:11] serkan-ozel-2015400123 commented on #27
If we can understand everytime we write 2.x.x of Meeting y, 2 corresponds to agenda then that's better. Because it is shorter.

Serkan -- An actopus member 😄

[2018-02-16 20:19] serkan-ozel-2015400123 commented on #25
@dkilyas What is the situation of your work?

[2018-02-16 20:22] okyksl commented on #28
@gumityolcu I reviewed the document, you are great!

@kemaltulum I think @serkan-ozel-2015400123's description of _semantic search_ is closer to the given initial description of the project. From the document:

However, @kemaltulum's view can be noted as optional feature question.

@serkan-ozel-2015400123 we asked the `question #3`, the answer we get was in these lines:
_Semantic search allows us

[2018-02-16 22:07] kemaltulum commented on #28
I think that there is not enough specification on the description. We can design the product in the most convenient way for our users.

We should first understand or describe what a semantic tag is. The description implies that we should have a search algorithm that is able to suggest events not needing a match with user input. Like Basket Analysis method, we could infere some results in time. For

[2018-02-16 22:22] dkilyas commented on #25
Sorry for the latency. I made some improvements on the drawing, but I wasn't able to do much. Here is the last version.
![actopus](https://github.com/dkilyas/cmpe352/blob/master/resources/images/actopus.png)

[2018-02-16 22:30] dkilyas commented on #17
@okyksl Thanks for your comment about my drawing. I finished it. If everyone likes it, we can put it on the description.
![actopus](https://github.com/dkilyas/cmpe352/blob/master/resources/images/actopus.png?raw=true)

[2018-02-16 22:40] kemaltulum commented on #23
Seems that there is just one step to go here to share titles between team leaders, then we can all contribute

[2018-02-17 04:35] serkan-ozel-2015400123 commented on #25
Good Work! If we want to add more activity later, we can edit. Let's put this logo to our wiki page and readme page (or only to wiki).
@dkilyas

[2018-02-17 09:51] okyksl commented on #27
I'm closing the issue, following style is adopted:

[2018-02-17 09:51] #27 closed

[2018-02-17 10:12] kemaltulum commented on #22
@okyksl I can convert this issue into a wiki page soon.

I think if the number of issues opened by a single member is important we can observe statistics of us and somehow let everyone open issues, which would be engaging as well.

I am closing this issue for now, if you hear something about grading, please reopen this issue and mention the trick so that we can all benefit.

[2018-02-17 10:12] #22 closed

[2018-02-17 10:33] kemaltulum opened #32 "Domain Name, Extension and Brand Name Selection"
İf we are working on our logo, we can buy a domain and launch our product with a "Coming soon!" page.

I searched for the domains for "actopus", .com and .org extensions are invaded. The most proper domain extension seems to be .net. (about 13 dollar/year) or .io (about 50 dollar/year). Prices are taken from domain.com, other domain providers can offer cheaper prices.

Another thing about our bran

[2018-02-17 10:40] kemaltulum opened #33 "Should We Consult our Product Name to Our Customer?"
Should the name we choose for the product "Actopus" be approved by our customer?

[2018-02-17 10:53] okyksl commented on #33
I talked with our **customer** and he approved the **Actopus**.

[2018-02-17 10:53] #33 closed

[2018-02-17 10:54] cihatbaktir commented on #33
Well, I don't know why you assigned me to this issue since I am not your customer :) But I can make a couple of comments on it: You can choose any name you desire, unless it is **totally** irrelevant.

[2018-02-17 10:57] okyksl commented on #33
@cihatbaktir I believe it's a misclick, sorry for the inconvenience :)

[2018-02-17 12:19] serkan-ozel-2015400123 opened #34 "Change Meeting Time"
Can we change meeting time because it conflicts with my important PS section. (15 to 17).
Tuesday after 15.00, Monday 12.00-13.00, Wednesday after 14.00, Thursday from 9.00 to 12.00 fits me.

[2018-02-17 12:33] dkilyas commented on #34
I am negative about changing the meeting time. I made my plans according to this time and actually it is the most suitable time for me.
But, if most of us says that we can change it, then I will stick to that new plan.
(The ones that suit me are M:12-13 and W:after 14)

[2018-02-17 13:02] nazmicancalik commented on #17
@dkilyas this is great work, I think we can add this to our Readme file now, so that it would look prettier and more interactive.

[2018-02-17 13:15] akaogluozgur commented on #34
I am negative as well but again if most of the group select a time, I can change my plans.

[2018-02-17 13:16] #25 closed

[2018-02-17 13:19] nazmicancalik commented on #24
Seperating the wiki resources from other resources can be very useful, I agree with you @okyksl. Since there will be photos for wiki pages in the future we better not to mix them with other resources that are related specifically to the project.

[2018-02-17 13:43] gkhntkl commented on #34
i can open a doodle poll to check all time section of the week if you wish.We can see there if there is a suitable time for us,if not we can continue with the usual time.

[2018-02-17 13:47] nazmicancalik commented on #34
I added next week's meeting to the wiki sidebar. It is created according to usual time, but we can change if the group decides to change the time of the meeting. You can also add your agenda items to the Meeting 3 page.

[2018-02-17 13:48] nazmicancalik commented on #26
I have created the wiki page for the next week's meeting. You can add your agenda items to the Meeting 3 draft from [here](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%233-(19.02.2018))

[2018-02-17 14:57] gkhntkl opened #37 "The Poll to Set the Meeting Time"
here is the poll
[click here for the poll](https://doodle.com/poll/d2br32ugcarrizf9)

Please,dont forget to sign your name,thank you.
- [x] Gökhan Tekel
- [x] Didem Öngü
- [x] Hamdi Özgür Akaoğlu
- [x] Nazmican Çalık
- [x] İlyas Demirkıran
- [x] Yusuf Kalaycı
- [x] Serkan Özel
- [x] Kemal Tulum
- [x] Galip Ümit Yolcu
- [x] Oğuz Kaan Yüksel

[2018-02-17 15:23] okyksl commented on #24
@akaogluozgur should I handle this with a PR?

[2018-02-17 15:34] okyksl commented on #28
I'm closing the issue. If you think there are additional things to clarify about `Customer Meeting #1`, please reopen the issue.

[2018-02-17 15:34] #28 closed

[2018-02-17 15:52] okyksl commented on #17
I'm closing this issue as description and logo of the project is added to `README.md`.

[2018-02-17 15:52] #17 closed

[2018-02-17 16:00] okyksl commented on #34
Should we handle this at #37, since poll is opened there?

[2018-02-17 16:04] nazmicancalik commented on #34
Let's head to #37.

[2018-02-17 16:04] #34 closed

[2018-02-17 16:10] akaogluozgur commented on #24
@okyksl doesn't matter you or I can do it. Your choice

[2018-02-17 16:11] gkhntkl commented on #32
in the ongoing meeting,we may talk this issue by looking at the cons and pros of those extensions.

[2018-02-17 16:13] nazmicancalik commented on #32
@kemaltulum you are right we can buy a domain name and launch the product. However,  previous takers of this course claim that not so much done for coding part of the product. Also, there is a chance that there would be a specification about this topic (I mean the protocol for the course). So, it would be better first we consult assistants or Instructor.
But there is a catch: we might not be able

[2018-02-17 16:13] akaogluozgur commented on #32
Better to include both of this issues on the agenda of our next meeting.

[2018-02-17 16:18] akaogluozgur commented on #26
I added the issue about whether we need the domain or not. If so which extension should be used.

[2018-02-17 16:46] okyksl commented on #32
@kemaltulum if we consider development begins in September, there are lot of times to consider these. However, I am willing to give this a shot if we can produce something nice.

[2018-02-17 19:15] byklyci commented on #32
Actually ı agree with Özgür and lets talk about this issue in the next meeting.

[2018-02-17 20:45] gumityolcu commented on #23
I will take the Nonfunctional Requirements part. I am opening a new issue for it. You can contribute in the comments.

[2018-02-17 20:48] gumityolcu opened #38 "Nonfunctional Requirements Specification"
We prepare the Nonfunctional Requirements part of the requirements document here. Any comment, review, suggestion or contribution is welcome in the comments section.

The document being prepared is [here](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis#2-non-functional-requirements).

[2018-02-17 20:51] okyksl commented on #37
@bounswe/bounswe2018group9 what are we going to do? I don't see a secondary option to our current meeting time.

[2018-02-17 21:27] okyksl commented on #38
@gumityolcu just to get going, here are some _sub-headers_ to consider:

* Performance
* Security

[2018-02-17 21:28] gkhntkl commented on #37
I guess, we should obey the democracy.I dont have any offer.

[2018-02-17 21:53] #24 closed

[2018-02-17 22:25] gumityolcu commented on #38
@gkhntkl  I am having doubts about this. For example, if I want to write "The passwords and personal information of users shall be encrypted before being put in the database." I can write this under a new section, 'Database' but I think it is more logical to put it under Security.

There may be requirements that should go under Database and no other section, but then the question would be, where d

[2018-02-17 22:38] okyksl commented on #38
How about this:

* The passwords and personal information of users shall be protected. (Security item)
* Passwords shall be encrypted before being put in the database (Database item)

Additionally, why not use cross references such as this:

* **2.2.1.** **[2.1.1.]** Passwords shall be encrypted before being put in the database

where **2.2.1.** is the item number and **[2.1.1.]** is the reference

[2018-02-17 23:01] gumityolcu commented on #38
The first version is on.

@okyksl I think we can do cross references like this if we define it in the beginning of the requirements. I didn't do any cross references but I added both security and database sections

[2018-02-18 05:15] serkan-ozel-2015400123 commented on #38
Under security we can write SSL certificate and reCaptcha features if we will use them. This two feature is very common so we should use them for security.

[2018-02-18 05:42] serkan-ozel-2015400123 commented on #38
I added some more requirements. Let's finish it today, thanks

[2018-02-18 07:40] nazmicancalik commented on #38
I added some of the security protocols used widely to the requirements. Also edited some of the requirements to be specific and obvious. We can elaborate the existing requirements and make them specific

[2018-02-18 09:24] okyksl commented on #11
@nazmicancalik could you review the `Commits` section?

@byklyci can I revision `Issues` section a bit?

[2018-02-18 09:28] okyksl commented on #37
We'll review the result of this poll and discuss meeting scheduling in `Meeting #3` on `19 February, 2018 - 15:00`.

[2018-02-18 09:28] #37 closed

[2018-02-18 09:29] nazmicancalik commented on #11
I checked out the `Commits` section and it seemed pretty good to me.  We can use this section as a good guideline. We can add new specifications if we need to as we go along. Thanks @okyksl :)

[2018-02-18 09:31] nazmicancalik commented on #32
Since we decided to discuss this topic on next week's meeting, I am closing the issue. We can reopen it after meeting.

[2018-02-18 09:31] #32 closed

[2018-02-18 13:35] akaogluozgur commented on #38
I added some non-functional requirements to security and robustness.
By the way, it seems the identifier of both robustness and performance was same (2.3) so I moved robustness to 2.7 and made changes accordingly. If this was on purpose I can change it back.
Also, I fixed some minor typos. Feel free to refine/change them.

[2018-02-18 13:43] gumityolcu commented on #38
@akaogluozgur no it was an error. Nice work

[2018-02-18 16:50] okyksl commented on #26
All the items here are added to [Meeting #3](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%233-(19.02.2018)), I'm closing this issue as [Meeting #3](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%233-(19.02.2018)) will be on tomorrow (19.02.2018) at 15:00.

[2018-02-18 16:50] #26 closed

[2018-02-18 17:07] byklyci opened #40 "Functional Requirements - User Requirements Specification"
We prepare Functional Requirements/Member User Requirements part of the requirements document here. Any comment, review, suggestion or contribution is welcome in the comments section.
The document being prepared is [here](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis#2-non-functional-requirements).

[2018-02-18 17:13] byklyci commented on #40
I need your help for functional requirenments about our users please subscribe here your comments.

[2018-02-18 18:45] okyksl commented on #14
I renamed `Guest Users` part to `Guests` and integrated it into `User Requirements` to have better organization.

[2018-02-18 19:05] gumityolcu commented on #40
I noticed there are some requirements that are linked to each other. I added references as @okyksl suggested in #38 . But I am not quite pleased with the format and didn't have any idea on how to do it differently. Can you check it and change it if you see fit?

The references are in 1.1.2.1.2 and 1.1.4.1.

[2018-02-18 19:11] gumityolcu opened #41 "Functional Requirements - System Requirements Specification"
System Requirements part of the [Requirements Document](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis) needs some items.

Please add any suggestions or ideas either here or directly to the document.

[2018-02-18 20:39] okyksl commented on #41
I added `Search` and `Recommendation` subsections.

[2018-02-18 21:07] okyksl commented on #12
We're using PRs very well until now, in the long run it will be even more beneficial. _Documentation_ part of this issue will be tracked on #11.

[2018-02-18 21:07] #12 closed

[2018-02-18 21:08] serkan-ozel-2015400123 commented on #14
Now that we switch to seperate issues we can close this issue. Moreover, first post is not up-to-date anymore.

[2018-02-18 21:08] #14 closed

[2018-02-18 21:16] okyksl commented on #23
We couldn't handle the distribution of the tasks as expected. I think we should be more clear and specific on meetings to avoid this kind of situations. I'm closing this issue as first draft of `Requirement Analysis` somehow popped out of our collaborative efforts.

[2018-02-18 21:16] #23 closed

[2018-02-18 21:20] okyksl commented on #40
I think we should add a `Feed` section to the `User Requirements`.

[2018-02-18 21:38] okyksl commented on #15
@nazmicancalik I added a simple glossary part which can grow if need arises.

[2018-02-18 21:45] okyksl commented on #40
I assembled event related subsections into the `Events` subsection to make document easier to navigate.

[2018-02-18 21:58] kemaltulum commented on #41
I added `Admin Panel` subsection. I hope, I am not wrong with the definition of system requirements. Please correct me if needed

[2018-02-18 22:08] okyksl commented on #41
I'm not so sure about `Admin Panel` belongs to `System Requirements`. It seems like a _user requirement_ since moderators of the app are also _users_. However, there are related _system requirements_ about `Admin Panel` such as _system should be able to log ill-behavior reports about a user_.

[2018-02-18 22:09] kemaltulum commented on #40
@okyksl I think it seems to be proper, but I realized an inconsistency. `Events` section has `Voting` subsection saying that users shall be voted. This is actually a small thing we can correct easily. On the other hand, I would suggest that we can consider organizing the requirements in a more object oriented manner.

I mean `User` entity has Profile, Feed and Personal Preferences...
`Event` entit

[2018-02-18 22:13] kemaltulum commented on #40
Another thing in my mind for functional requirements is the details of the `User Interface`

For example, when choosing start and finish dates of an event, will the user have two datepickers or daterange pickers. Or when searching an event, will we have a autocomplete functionality suggesting events immediately.

As you can guess, there is a bunch of messy things when we consider UI/UX design. Sti

[2018-02-18 22:19] okyksl commented on #40
@kemaltulum I didn't check the `Voting` or any other subsection I moved semantically - _yet_. There might be some inconsistencies as you reported, please feel free to reorganize and edit.

I tried to organize the format of requirements to reflect _object oriented manner_ more and more. I believe **modularization** like that will make thinking through requirements more and more easy.

About the UI/

[2018-02-18 22:33] kemaltulum commented on #40
@okyksl Actually, I liked the way the requirements are organized but we need deciding on some points as I see. Then it will be much easier if we have a consensus with the structure.

You're right about the UI/UX design part. The details I mentioned are not requirements. I will have some additions considering how the user interact with the app under Functional - User requirements

[2018-02-18 22:56] gkhntkl commented on #38
I added **Non-Functional Requirements 2.8**.If i am wrong,please correct me

[2018-02-19 20:26] serkan-ozel-2015400123 opened #42 "Outgoing questions on project plan"
Here are the questions that we are going to ask to Suzan Uskudarli. The other concepts can be either clear for us or missed by us.  Feel free to recommend new ones.

1How many milestones should we use? **There is a example on the slides** :
Examples of Activities:
Major Activities:
Planning
Requirements Elicitation
Requirements Analysis
System Design
Object Design
Implementation
System Testing
Del

[2018-02-19 20:33] nazmicancalik commented on #42
@serkan-ozel-2015400123 Additionally we can ask:
* What time they expect us to finish the project ?
   * End of 451 or end of this term?
* Also, should we determine `when we are going to implement which part` now ? (Because if we are going to make a timeline for all activities and tasks we should clearly specify which part should be done when?)

[2018-02-19 20:37] serkan-ozel-2015400123 commented on #42
@nazmicancalik  I find out that hw3 mentions that we should update it always as we advance developing project. You can find it on first post.

[2018-02-19 20:38] okyksl commented on #42
I think one of the most critical questions is definitely the format of the `Project Plan` draft. Is it up to us? Will it be **WBS** structure or else?

We need more _specification and guidance_ on this task. If it is up to us **mostly**, then I strongly suggest that we should have another meeting on _21 February 2018, Wednesday 20:00 online_.

[2018-02-19 20:44] serkan-ozel-2015400123 commented on #42
@okyksl I don't think it is not that flexible. And I think, for now, we can only do wbs. (basically same as writing milestone and objectives hierarchically)

[2018-02-19 20:45] nazmicancalik commented on #42
I agree with @okyksl  We should definitely meet up to clearly specify ambiguities about this homework and also talk about what can be done. If possible we can also meet face-to-face.

[2018-02-19 20:49] serkan-ozel-2015400123 commented on #42
"Now, create a high level project plan that outlines the major activities and milestones."
In Hw3 it says this. Therefore, in my opinion, we should make something basic involving milestones and major activities **only**.

[2018-02-19 20:51] nazmicancalik commented on #42
Actually @serkan-ozel-2015400123 you are right. It is highly possible that we should put the answer of these questions on the plan. However, there might one aspect of this questions being expected to answer:
Suzan Hoca and Meriç Hoca might want to get the answer via looking at the gant chart  in the project plan. Not necessarily by looking at question answers. Because even the slack activities are

[2018-02-19 20:52] serkan-ozel-2015400123 commented on #42
@nazmicancalik  Of course we will. When should we ask?

[2018-02-19 20:54] nazmicancalik commented on #42
@serkan-ozel-2015400123  Let's ask , if there is nothing to add we can close this issue. Let's continue the conversation thorough whatsapp from now on

[2018-02-19 21:00] okyksl commented on #42
I think the specific questions asked at the homework meant to be answered by our `Project Plan` document _at any time by inspecting it_. I don't think there should be regularly updated pre-fetched answers on the document, rather `Project Plan` document will be the place to track and evaluate these kind of questions.

[2018-02-19 21:13] serkan-ozel-2015400123 commented on #42
Hi,

I am Serkan from BOUNSWE organization, group9. For us plan is a bit ambigious, so could you inform us, please?

Questions:

1)How many milestones should we use? There is a example on the slides :

Examples of Activities:
Major Activities:
Planning
Requirements Elicitation
Requirements Analysis
System Design
Object Design
Implementation
System Testing
Delivery

Sub-activities during
requiremen

[2018-02-19 21:23] okyksl commented on #42
@serkan-ozel-2015400123 could you forward the answer to this email? And also if the discussion with **The Boss** continues could you please CC all of us to the ongoing discussion?

[2018-02-20 14:13] serkan-ozel-2015400123 commented on #42
Ms uskudarli answered through piazza to class this noon.

[2018-02-20 14:13] #42 closed

[2018-02-20 14:58] serkan-ozel-2015400123 commented on #38
For annotations part, some of them can be written in system requirements.These parts consist of what system do to handle annotations on the other hand I think we should write properties of annotations to nonfunctional requirements.

[2018-02-20 15:02] serkan-ozel-2015400123 commented on #38
@okyksl  I agree

[2018-02-20 15:04] serkan-ozel-2015400123 commented on #41
@gumityolcu 1.2.3.1.1 Admin shall be able to delete or edit events when necessary
1.2.3.1.1 Admin should be able to create roles with different rights

I think these are not system functionalities. We should either change their syntax or delete them

[2018-02-20 17:54] gumityolcu opened #43 "Ranking System and Algorithms"
I added the Ranking section to Functional Requirements/System Requirements. I wasn't sure if we want the users to be ranked too so I didn't add it. What do you think? Any other points?

Also,
I also did some reading on the ranking algorithms currently in use. I found these articles about [reddit](https://www.reddit.com) and [Hacker News](https://news.ycombinator.com/). If you are interested check

[2018-02-20 18:16] serkan-ozel-2015400123 commented on #41
I have sent this document to Ümit but I want everybody to be able to see the changes that I am considering to make.

### 1.2.4 Annotations
* Annotations shall be retrieved by the system when a page with annotaions is opened
* Annotations shall be stored in the system
* System shall test the annotations to assure validity.
#### 1.2.4.1 Annotation Format
* System should allow explanation texts
* Sys

[2018-02-20 18:23] serkan-ozel-2015400123 opened #44 "Project Plan Elements and Project Libre Usage"
We have asked our questions to customer and she has not returned directly but she has posted new contents to piazza. This is what she has added to hw3:
[code]
Can all of us go and check this planning site which our instructor has sended ?
[Project Libre](https://www.projectlibre.com/)

[2018-02-20 18:34] serkan-ozel-2015400123 commented on #43
I think this is a good concept. And I don't think we should rank users. It is enough to verify a certain user is fake or real person.

Moreover we have recommendation system. What is the difference between rec. system and ranking?
`System shall send recommendations based on followed users, activity preferences and events attended.`
System already recommends events to users. Ranking can be effectiv

[2018-02-20 19:18] akaogluozgur commented on #38
A new version of non-functional requirements is ready.
* Some of the existing requirements are reconstructed.
* New requirements and fields are added.
* Integrity field is added according to feedback from our customer
* Requirements are grouped by their definition of a [Wikipedia page](http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvTm9uLWZ1bmN0aW9uYWxfcmVxdWlyZW1lbnQ)

[2018-02-20 22:30] okyksl commented on #43
Shouldn't ranking also consider users? Let's say one user tries to find another user by name -_might be an verified artist_- how come we will rank that search among the users?

[2018-02-21 08:58] serkan-ozel-2015400123 commented on #43
Yeah, maybe we should consider the popularity of people who have same names and according to the ranking list more popular one.

[2018-02-21 08:59] serkan-ozel-2015400123 commented on #41
I am adding these changes to document

[2018-02-21 09:03] serkan-ozel-2015400123 commented on #41
@nazmicancalik @gkhntkl  The user requirements is up to you, so please be informed that I am deleting this because it is about user requirements.

This was under admin panel
**1.2.3.1.1** Admin shall be able to delete or edit events when necessary
**1.2.3.1.1** Admin should be able to create roles with different rights

[2018-02-21 09:05] serkan-ozel-2015400123 commented on #41
@akaogluozgur @byklyci  And also I think format of annotations allowed should be under nonfunctional so  please add these information there

1.2.4.1 Annotation Format
System should allow explanation texts
System should allow questions and answers
System should allow geographical references
System should allow images
System should allow links to other sites

[2018-02-21 13:04] gumityolcu commented on #43
@serkan-ozel-2015400123 @okyksl  Okay, we have a problem. I thought ranking system was to be used when a user wants to see the Top or Hot events in our platform. Serkan thought it was to be used for recommendation purposes. I think recommentdation should be a different system because there we care less about the votes, date and number of attendees of an event and we care more about if a specific u

[2018-02-21 15:48] gkhntkl commented on #40
@kemaltulum @dkilyas  *Guest* section 1.1.1.3 should be corrected.The reason is that the guests are not allowed to behave just like a user.They can only visit the website but cannot  use the search engine of the website.There should be some restriction on guests.

[2018-02-21 16:15] gkhntkl commented on #38
I am not sure whether we should put the following item:

- Once the program is willingly turned off,the user should provide his/her password again and again to get into the platform.

[2018-02-21 16:21] gumityolcu commented on #38
@gkhntkl I think we should not. This is basically a social media platform and when we look at other successful platforms (instagram, facebook, twitter  etc. anything really) we see that they have chosen to facilitate the sign in process after first sign in.

[2018-02-21 17:10] gkhntkl commented on #38
@gumityolcu  okay.moreover,it does not make the user to spend more time.

[2018-02-21 17:24] gkhntkl commented on #41
I guess,the user should be allowed to take instant photos and share it via the program which means that the program will have some permission to use the camera.(other folders may be included)

what do you think?

[2018-02-21 18:24] byklyci commented on #43
I agree with @gumityolcu ranking system and recommedation system is different.But there will be a problem and much work to seperate them. So ı am confused about this situation.What will we do exactly?

[2018-02-21 18:25] byklyci commented on #38
I added under avaliability part;
The system is available to existing Facebook users.

[2018-02-21 18:27] byklyci commented on #38
I added under Privacy part;
In login page of the web and Android application,the password will not be visible unless user chooses the otherwise.

[2018-02-21 18:30] byklyci commented on #40
"Users shall have the option to Sign in via their Facebook account." ı also added this part under Availability. This topic is functional and nonfunctional in my opinion.Do you agree with me ?

[2018-02-21 19:27] nazmicancalik commented on #40
I rearranged the following of the fields in  Requirement Analysis :
* __Authentication (Sign Up/Sign In)__:
   * Authentication services is deleted.
      * I thought Authentication services should be given as a part of the sign up and sign in system. For example user should be able to see Forgot my password and remember me sections at sign in section that's why I restructured the authentication p

[2018-02-22 06:38] serkan-ozel-2015400123 commented on #41
@gkhntkl @nazmicancalik  I agree. We need camera access for mobile version. In this case, you should add a user requirement about photo taking in mobile version. After that, I think we can also add upload functionality of user and system web version.

[2018-02-22 13:32] okyksl commented on #40
@nazmicancalik even though **The Customer** said that guests are not allowed to make search, I believe guests should be able to make search. To allure guests to sign up, we should show them what we have in our platform related with their queries.

[2018-02-22 13:45] okyksl commented on #44
@bounswe/bounswe2018group9 I set up a team meeting between 20:00 - 23:00 on Friday (23.02.2018) to discuss `Project Planning` phase.

[2018-02-22 14:17] okyksl opened #45 "Glossary - Project Jargon"
We must define our `Glossary` i.e _project jargon_ to communicate with precision and clarity. Here are few notes about the `Glossary`:

* Since our glossary will be our _project's vocabulary to express our ideas_ getting familiar with it is everyone's job.
* To achieve precision and clarity as stated, glossary should be a reference point in our communications and especially **documents**.
* With p

[2018-02-22 15:47] didemongu commented on #45
I think a glossary in alphabetical order is more readable. I alphabetised our existing glossary. We should add new terms by considering the alphabetical order.

[2018-02-22 16:02] gkhntkl commented on #40
@okyksl i have contacted the customer about the searching,he said that guests will not be allowed to search in the platform,however,they will be able to see the pages via links  or google search results.

[2018-02-22 22:15] okyksl commented on #11
I believe our `Contribution Guide` matured enough so that we can close this issue. As we are practicing **Agile Lifecycle**,  `Contribution Guide` should continue to evolve to reflect changes and needs in our project.

[2018-02-22 22:15] #11 closed

[2018-02-23 06:29] serkan-ozel-2015400123 commented on #38
Please correct this according to last ps. It is very long and complicated sentence. Can assitant said that please use "before,after, during" instead of "if".

In case of any inconsistency between incoming requests and database, the operation related to the request will be terminated, state of the database will be restored if any changes have been made. Moreover, an occasional log file will include

[2018-02-23 07:15] serkan-ozel-2015400123 commented on #45
* activity preferences

I am changing all the words like interests, event choices etc. to this word. Moreover, I defined it on the glossary. We can use same words for same meaning, otherwise we may need to define them multiple times.

[2018-02-23 13:27] gumityolcu commented on #40
@okyksl I agree,  we should talk about this issue in the next meeting

[2018-02-23 13:40] gumityolcu commented on #40
1.1.4.2.3 Feed should include the events that are sponsored by verified users (Paid advertising business model)

Are we sure about this? This is not what I had imagined. There sure will be verified accounts but I thought a user would see events created by a verified account only if she follows it.

[2018-02-23 13:49] gumityolcu commented on #38
2.2.3. The system shall achieve 99.5% uptime.

I can't understand this requirement. Uptime should be 99.5% of what?

[2018-02-23 13:59] gumityolcu commented on #38
Also, in 2.2 and 2.3, I noticed we used the words "unexpected events" in order to indicate possible system failures that we didn't foresee. But event is a special word in our project and it has its definition in the glossary therefore we shouldn't use the word "event" to indicate anything other than an event in the context of our project. I changed the words "unexpected events" to "errors".

[2018-02-23 14:41] okyksl commented on #38
@gumityolcu for **2.2.3.** can it mean _system should be working for at least 99.5% of the time?_

[2018-02-23 14:49] gumityolcu commented on #38
@okyksl Yes, the problem was that I misremembered the definition of uptime 😄

[2018-02-24 13:17] okyksl commented on #45
I observed that we use **activity** and **event** interchangeably, should we decide on one of them?

[2018-02-24 15:55] okyksl commented on #41
@gumityolcu **1.2.9.2.4** says:

Will there be any requests in the follow procedure?

[2018-02-24 18:38] okyksl opened #46 "What Does `Vote` Mean?"
From the description of the project we know

* Users
* Comments
* Events

should be votable. But what do we mean by `voting`?

Here is what I have in my mind:

* Users can be followed or not, and that might be considered as vote. _Verified artists_ might be votable out of 10? - I wouldn't want my verified account to be rated as 4/10!
* Comments can be liked or disliked.
* Events can be voted out o

[2018-02-24 18:56] okyksl commented on #45
**Event** is chosen over _activity_.

[2018-02-24 18:56] okyksl commented on #45
@bounswe/bounswe2018group9 `Glossary` updated from scratch, so could you please review the `Glossary` to get familiar with and then also update your requirements section according to the `Glossary`?

[2018-02-24 20:30] serkan-ozel-2015400123 commented on #46
@okyksl I organized requirements according what I have in my mind a couple days ago. My idea was similar to yours. Like you mentioned, I only assumed that voting for a user is to follow him. But like you also have said verified users can be rated according to their follower number or a general out of 5 or 10 rating system. It is up to us. Finally I had supposed that comments and events can only be

[2018-02-24 20:32] serkan-ozel-2015400123 commented on #41
@okyksl Actually, I need to change it. I tried to mean "if somebody follows the user"

[2018-02-24 20:38] serkan-ozel-2015400123 commented on #45
@didemongu @okyksl Do you put subitem under annotation word intentionally?

[2018-02-24 20:44] serkan-ozel-2015400123 opened #47 "Meeting #4 Agenda Preparation"
@bounswe/bounswe2018group9 I think we should start preparing agenda for `Meeting #4`. Also, becase we have decided to discuss what have we done last week, ups and downs, we can start filling what we will talk there. Prior to this, we need to make a new page for the meeting documentation. Am I wrong?

[2018-02-24 20:47] byklyci opened #48 "GitHub Accounts Profile Pictures"
We are **_Actopus Team_**, and we should upload our profile pictures for Github accounts.This is a good point for us, because without pictures accounts seems like boot account. :sweat_smile:

[2018-02-24 20:50] serkan-ozel-2015400123 commented on #48
Aah, come on man I cant be a robot you know

[2018-02-24 20:51] serkan-ozel-2015400123 commented on #48
Though you are right. I better add my pic.

[2018-02-24 20:52] byklyci commented on #48
Serkan oh my boy, you are handsome guy please add your charismatic picture. :smile:

[2018-02-24 21:01] okyksl commented on #45
@serkan-ozel-2015400123 It's intentionally, I though it will be useful to define annotation types seperately.

[2018-02-24 21:04] serkan-ozel-2015400123 commented on #48
I added my most charismatic, wonder beatiful incredible pic.

[2018-02-24 21:05] okyksl commented on #48
Thats the spirit @serkan-ozel-2015400123!

[2018-02-24 21:12] okyksl commented on #40
@bounswe/bounswe2018group9 we need help especially on `User Requirements - Part 2`. Can we move our attention to `User Requirements` and finish it before the deadline - _26.02.2018_?

[2018-02-24 21:14] nazmicancalik commented on #46
Here is my thoughts about voting system:
* I think voting verified accounts is not necessary. Once an account is verified by the system admins or editors there should be no need for voting.
* For comments we can use what 9gag and reddit use: upvote or downvote.
   * Then according to the scores of comments in one event (thread) can determine which comments will appear up top.
* I think 5 Star syst

[2018-02-24 21:50] nazmicancalik commented on #40
I will take over the part 2 by myself now. Can you give details which parts exactly do I need to review and update @okyksl

[2018-02-24 21:56] okyksl opened #49 "Git Command Manual"
One of the suggestions we have taken for our repository was to organize a _Git command manual_. The idea behind it was to have a short look-up reference _while using Git_. Should we document such a page or should we stick with default help document i.e `git help <command-name>`?

[2018-02-24 21:57] okyksl commented on #40
**1.1.4.** through **1.1.8**.

[2018-02-24 22:23] nazmicancalik opened #51 "Meeting #3.1 Notes"
I have added Meeting # 3.1 Notes. You can read it [here.](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%233.1-(23.02.2018)) Please feel free to give feedback. If there is anything I missed, please specify.

**Note:** I haven't added any action items since that meeting was held to get things done.(Project Plan)

[2018-02-24 22:26] nazmicancalik commented on #40
Thanks @okyksl I will review and update those fields on Sunday.

[2018-02-24 22:26] byklyci commented on #51
You can add action items, we learn project libre ,especially @okyksl and we had hard times to make some innovation. :sweat_smile:

[2018-02-24 22:30] okyksl commented on #51
`Project Libre` was definitely great fun!

[2018-02-25 11:11] akaogluozgur commented on #38
@serkan-ozel-2015400123  Done.

[2018-02-25 11:58] akaogluozgur opened #52 "Research possible formats for Requirement Analysis"
**In [Meeting #3](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%233-(19.02.2018)) , we have decided to seek a new format for ease of use.**

My initial idea was, general requirement page will include such dropdowns:

<details>
<summary>Glossary</summary>

- [Link to the Glossary Page](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis)

- **Rendered content of the

[2018-02-25 12:32] serkan-ozel-2015400123 commented on #44
I guess we are more familiar with the program now after meeting3.1. Closing the issue

[2018-02-25 12:32] #44 closed

[2018-02-25 13:42] akaogluozgur commented on #48
Done.

[2018-02-25 13:58] okyksl opened #53 "Project Planning - Milestones"
Let's document our project's milestones with these points in mind:

* Explicitly state **objective**.
* State **deliverables** with explanation.

[2018-02-25 14:48] serkan-ozel-2015400123 commented on #53
@okyksl  If you can add the chart we prepared to wiki page "Project Plan", I can write milestones' objectives etc.

[2018-02-25 15:38] nazmicancalik commented on #40
@okyksl I deleted artist info for events since I thought there might not be an artist for an event. Mostly, I rearranged words and grammar for requirements for
* 1.1.4. Feed
* 1.1.6 Events
   * Added android and web specifications for this item.
   * Attendance section is changed a bit.
   * Voting section is rearranged.
   * Annotation section is simplified and grammar corrected.
* 1.1.8 Verifica

[2018-02-25 15:43] nazmicancalik commented on #52
@akaogluozgur Ozgur this is great work. Why don't you add this to 4th meetings agenda, that way we can discuss and reach a final decision about styling. Thanks for your efforts. :+1:

[2018-02-25 15:45] nazmicancalik commented on #47
@serkan-ozel-2015400123 You are right I am adding meeting 4 page. You can add agenda items there.

[2018-02-25 15:54] nazmicancalik commented on #47
I am closing the issue.
__Please add your agenda items to the meeting notes from__ [__here__](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%234-(26.02.2018))

[2018-02-25 15:54] #47 closed

[2018-02-25 16:28] byklyci commented on #52
I agree with @nazmicancalik , when our 4th meeting we can discuss this topic.

[2018-02-25 19:23] okyksl commented on #47
Should we use specific issues such as this before the meetings to assembly **agenda items** or should we directly open the meeting document and edit the agenda?

[2018-02-25 19:38] byklyci commented on #48
@didemongu @gkhntkl @gumityolcu can you add your github profile pictures, then ı will close this issue.

[2018-02-25 19:46] byklyci commented on #46
_In my opinion;_
* The first thing we should look for in a voting system is voter satisfaction.
* The second way to judge a voting system is its simplicity.
* A voting system's fairness is also important.
The system of voting can be discuss some time later.

[2018-02-25 19:52] serkan-ozel-2015400123 commented on #53
I have written milestones under project plan page. Closeing the issue.

[2018-02-25 19:52] #53 closed

[2018-02-25 19:59] serkan-ozel-2015400123 commented on #41
I think we are done. If so let's close this issue for now. @gumityolcu

[2018-02-25 20:03] serkan-ozel-2015400123 commented on #41
We have decided with @gumityolcu to close this for now. Leading problematic topics can exist by seperate issues.

[2018-02-25 20:03] #41 closed

[2018-02-25 20:05] serkan-ozel-2015400123 commented on #47
I think this is useless issue :D

[2018-02-25 20:13] #43 closed

[2018-02-26 05:33] okyksl commented on #47
Then from now on, let's open the meeting document and add directly agenda items unless you have an  agenda item which needs discussion.

[2018-02-26 05:35] okyksl commented on #43
`Ranking System` will be discussed further on `Meeting #4` - _26.02.2018_.

[2018-02-26 05:42] okyksl commented on #40
@nazmicancalik can we add _artist info_ as at least `should` requirements to _contribution part of the events_? I checked the project description and it seems to me _artist info_ listed one of the core data of the _events structure_.

And further, should we consider the case where same event repeats in time and location? Imagine a movie, it will be on multiple locations at different times. How we

[2018-02-26 05:49] okyksl commented on #52
@akaogluozgur great work!

Is there any option that helps with automatic enumeration of the items? Currently we are manually labeling the requirements - making it too tedious to restructure the requirements.

[2018-02-26 07:20] kemaltulum opened #54 "Add New Method to Communication Plan: Google Hangouts"
As we have decided that it is useful having another way of discussing and reviewing things together, I am adding Google Hangouts as another method for our communication plan.

[2018-02-26 07:28] kemaltulum commented on #54
This will occur generally on Friday evenings unless we decide otherwise for that week.
Include all the members available at that time when we share the Google Hangouts link on Whatsapp.

[2018-02-26 07:40] mericturan opened #55 "Project Plan - Gantt Chart"
Guys,

I can't find the gantt chart you prepared. First, I thought that you didn't prepare one. Yet, I see that you refer to the gantt chart in your project plan.

Can anyone enlighten me?

[2018-02-26 07:43] #54 closed

[2018-02-26 07:47] #55 closed

[2018-02-26 15:05] byklyci opened #56 "Agile User Stories Persona Type Selection"
Guys, as you know after our meeting [#Meeting 4](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%234-(26.02.2018)), we select 3 type of person but one of them was not clear please add your comment here to solve this problem.

[2018-02-26 15:12] byklyci commented on #38
I am closing this issue, the review is done by @akaogluozgur and @byklyci.

[2018-02-26 15:12] #38 closed

[2018-02-26 15:13] byklyci commented on #40
This issue is done and ı am closing it.

[2018-02-26 15:13] #40 closed

[2018-02-26 15:26] byklyci commented on #56
One of them is ordinary,busy,asocial(Muhittin)
One of them is rich,wants to be known,high society(İremsu)
But the third one is fuzy.Lets talk about the our persona types.

[2018-02-26 21:53] okyksl commented on #54
I also added `Hangouts` as communication platform to the document.

[2018-02-26 21:58] okyksl commented on #45
I'm closing this issue as we prepared a comprehensive [Glossary](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis#glossary) to satisfy our needs.

[2018-02-26 21:58] #45 closed

[2018-02-26 22:00] okyksl commented on #55
Sorry for the inconvenience, we will provide a second version of the project plan with a better interface and an improved structure.

[2018-02-26 22:36] okyksl commented on #51
I reviewed the [Meeting #3.1](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%233.1-(23.02.2018)) so let's close this issue.

[2018-02-26 22:36] #51 closed

[2018-02-27 08:25] okyksl opened #57 "Project Planning Document Format"
* I have reconstructed our project plan document on `TeamGantt` [here](https://prod.teamgantt.com/gantt/schedule/?ids=1068242&public_keys=FEDRISmQt6FI&zoom=d100&font_size=12&estimated_hours=0&assigned_resources=0&percent_complete=0&documents=0&comments=0&col_width=355&menu_view=1&resource_filter=1&name_in_bar=0&name_next_to_bar=0&resource_names=1#user=&company=&custom=&date_filter=&hide_completed=

[2018-02-27 08:33] okyksl commented on #57
@nazmicancalik could you update us on the latest consensus of `Project Design` section?
Clearly, we should start with `User Stories & Scenarios`.

[2018-02-27 09:29] nazmicancalik commented on #57
@okyksl I agree with you. We should put User stories and scenarios to up top of project design subheader.
I think we should try to find our own way of planning.<br/>
The design tab in my mind is as follows:
* Project Design
   * User Stories and Scenarios
       * Person 1
          * User stories
          * User scenario
       * Person 2
          * User stories
          * User scenario

[2018-02-27 09:31] nazmicancalik commented on #56
I think we should start doing already prepared personas, and while we are creating them, I'm sure we can find good ideas.

[2018-02-27 12:35] okyksl commented on #57
@nazmicancalik there are `Class Diagrams` and `Sequence Diagrams` both on `Diagrams` section and also `Mockups` section. I assume you intended to put them into the `Diagrams` section.

[2018-02-27 14:58] serkan-ozel-2015400123 commented on #57
@okyksl  @nazmicancalik  We should add regular project planning just like meetings. Uskudarli said this last lecture

[2018-02-27 15:08] serkan-ozel-2015400123 commented on #56
@bounswe/bounswe2018group9 Let's the last one be a event organizator. He or she can be an ordinary person who wants to be popular through internet. He or she can use our system to advertise his or her event and also give information about it.

[2018-02-27 15:10] okyksl commented on #56
@kemaltulum could you share your ideas on our last user? I remember that we couldn't explore your perspective on the last user on the meeting.

[2018-02-27 15:15] serkan-ozel-2015400123 commented on #52
I think main criteria for requirements document is being enumerable easily and dropdowns. Can we use links to seperate dropdowns? @akaogluozgur

[2018-02-27 18:34] gumityolcu commented on #56
I think it should be an amateur trying to get recognition because of two reasons:

1- This is one way of using our platform and we should prepare a scenario considering an amateur artist/performer so that our product meets probable acceptance criteria.

2- We don't have any user persona that creates events, if we don't user scenario process will not help us about realising the event-creation-relat

[2018-02-27 18:45] gumityolcu commented on #46
I never really understood why and how users should be voted in the platform but it is a requirement that came directly from the customer. I think we should ask again and clarify because I think he meant a system different than following.

I prefer using "like/dislike" system on comments because it's simple and a comment doesn't have many qualities to be voted out of 10 or 5.

I prefer using 10 poi

[2018-02-27 20:04] didemongu commented on #48
I added a pp too.

[2018-02-28 08:50] okyksl commented on #46
@gumityolcu let's ask this to the customer. I think **follower count** can _kinda_ represent voting of the users.

[2018-02-28 09:26] kemaltulum commented on #56
I think, there has always been an ambiguity with the organizer perspective in our project, which is not related with us but the assignment given. @gumityolcu I agree with you, an artist, a popular one, can utilize our product to invite people his/her event, which is somewhat fun club like use case.

On the other hand, probably there will be no explicit entity like organizer in the project, since t

[2018-02-28 10:49] serkan-ozel-2015400123 opened #58 "Personas Page"
We should first create personas page in our wiki. Using xtensio lets create our personas first. We should start preparing personas to finish hw4 in normal time. @bounswe/bounswe2018group9

[2018-02-28 23:29] byklyci commented on #48
I am closing that issue.

[2018-02-28 23:29] #48 closed

[2018-03-01 11:41] kemaltulum opened #59 "Şeyda Karagöz - Persona and User Scenario Overview"
![seyda_karagoz](https://user-images.githubusercontent.com/14013649/36842847-0624972e-1d5e-11e8-805b-c51649fa0418.jpg)

There might be some issues on Şeyda Karagöz, even though we have a concensus on the generic features of the persona.

Let's discuss such things here

[2018-03-01 11:49] kemaltulum commented on #59
Some details may be omitted. I think that Şeyda can just live in Yalova, not in the village of it. She doesn't have to be too poor. On the other hand, her family might not push her being farmer in this age.

My suggestions

### Goals
* She wants to be popular, appreciated by the people for her work
* She wants to make money in exchange of her work

### Frustrations
* She has no idea on how to adve

[2018-03-01 12:13] kemaltulum commented on #59
This is the [latest version](https://app.xtensio.com/edit/hhkyy03e) after some changes.

After finishing it up, we can export it as png to add to our wiki

[2018-03-01 21:36] akaogluozgur opened #60 "Muhittin Çalışkan - Persona and User Scenario Overview"
![Muhitting Çalışkan](https://user-images.githubusercontent.com/25777154/36946674-533e1cf4-1fd1-11e8-8d15-4352b28e52b5.png)

**Remaining Tasks:**
* Photo will be reconsidered.

Feel free to contribute

[2018-03-01 21:38] akaogluozgur commented on #52
I will look for enumeration but I don't think it is possible without using pre-commit scripts. Also @serkan-ozel-2015400123  I did not understand what did you mean by using links to separate dropdowns.

[2018-03-01 21:39] akaogluozgur commented on #49
We sure need to do, I think we should assign this a person at the next meeting.

[2018-03-02 06:49] nazmicancalik opened #61 "Ceyda Yılmaz Beylice - Persona and User Scenario Overview"
![iremsu](https://user-images.githubusercontent.com/25107149/36886746-e5d9e0f4-1dfe-11e8-81d0-84b669de0946.jpeg)

You can reach to the profile (user story) of a woman who finds herself in a high society environment and wants to integrate with her new group of friends [here](https://app.xtensio.com/edit/at2b4167).
In order to see/edit the document please contact me I will give you access. You can a

[2018-03-02 06:53] nazmicancalik commented on #60
I have an idea for Muhittin's case:<br/>
Since Muhittin doesn't know much about hobbies, leisure time activities and he hasn't had a passion for something before, we can create a case where Muhittin finds his passion about something different (some event, cultural activity) and it changes his life. Any thoughts ?

[2018-03-02 11:23] serkan-ozel-2015400123 commented on #58
We are done with creating seperate issues

[2018-03-02 11:23] #58 closed

[2018-03-02 11:27] serkan-ozel-2015400123 opened #62 "Mockup Pages for Website"
We are preparing template pages for scenario pictures.
-Home
-Event Creation Page
-Sign up page
-User home page(Feed,after login)
-User profile settings page
-Maybe trending page(for guests)

@bounswe/bounswe2018group9

Then we can use these pages and edit them a little to obtain our actual pictures to use in user scenarios. Editing means adding relevant information and also showing what user did

[2018-03-02 11:38] akaogluozgur commented on #60
@nazmicancalik  I think that is a good idea, I will consider this while writing User Scenario today.

[2018-03-02 11:38] serkan-ozel-2015400123 commented on #61
"She thinks she" 👍

[2018-03-02 11:41] serkan-ozel-2015400123 commented on #60
I hope Muhittin can find out what is the meaning of joy one day.

[2018-03-02 16:07] gumityolcu commented on #62
@nazmicancalik @okyksl and I are working on Android mockups.

[2018-03-02 16:32] gumityolcu commented on #62
@serkan-ozel-2015400123 Serkan this is great work. Just to remind you: We need a "Sign in with Facebook" button in the signup page.

[2018-03-02 16:48] nazmicancalik opened #63 "Mockup Pages for Android Application"
Guys, I have started doing Android Mockups for the project. Since I have time and also it will be faster if we assign this issue to only one person. I will be creating mockups and sharing their photos here as I go.

You can reach out to mockups from [here](https://pr.to/SPI6KA/).
Please don't hesitate to correct me if I am mistaken.

[2018-03-02 17:00] byklyci commented on #60
I love you uncle Muhittin :sweat_smile:

[2018-03-02 17:05] byklyci commented on #59
For our character, in my opinion, we should increase the sociality level on the motivation tag.Because she is desire to find some people and if you are a person like that you should be more social then we thought.

[2018-03-02 17:19] gumityolcu commented on #61
I added the first version of the scenario. It is now different than what we discussed in the meeting. We think it is a better persona this way.

[2018-03-02 17:53] gumityolcu commented on #61
We need to change Personality and Motivation parts to complete this persona. We couldn't be sure what we are supposed to say aboıut this person's personality. I remember that @akaogluozgur could easily decide on the levels of the personality bars in the meeting. Can you give us a hand? 😄

[2018-03-02 17:57] gkhntkl commented on #62
@serkan-ozel-2015400123 that is awesome.I have recognized that Actopus is started with lowercase in Home page.It may not lead any problem,i hope.

[2018-03-02 18:33] gumityolcu opened #64 "Inconsistencies with the Project Plan"
We weren't expecting to be preparing the mockups this week when we prepared out project plan. Now, I think we should add new tasks for this week in our plan. I propose adding under Mockups "Mockup Draft" and scheduling it to this week. We can then make it a predecessor of the actual mockup tasks. What do you think?

Additionally, we changed the name of the second client persona from İremsu to Ceyd

[2018-03-02 18:58] akaogluozgur commented on #61
@gumityolcu Of course, yes.

- She is extremely close extrovert since her motivations are meaningless without another person on the Earth.
- She is fairly close to feeling since she always acts according to the first impression about the task at hand. She never thinks about them later since she is somehow live the moment merely.
- She is slightly close to sensing but not too much because she alway

[2018-03-02 19:09] serkan-ozel-2015400123 commented on #59
@byklyci  Okay,changing it in that way.

[2018-03-02 19:15] serkan-ozel-2015400123 commented on #63
@nazmicancalik Good work Nazmican. I want to ask something here: Does it matter to use android mockup in scenario or use web mockup?

[2018-03-02 19:16] serkan-ozel-2015400123 commented on #62
@gkhntkl I am checking and correcting

[2018-03-02 19:18] byklyci commented on #63
Actually we can use both of them because differances make sense.

[2018-03-02 19:18] serkan-ozel-2015400123 commented on #62
@gumityolcu  I will add it you're right.

[2018-03-02 19:37] byklyci commented on #59
@serkan-ozel-2015400123 yeah it doesnt matter this can be fine as you said.

[2018-03-02 19:40] serkan-ozel-2015400123 commented on #59
I finished user scenario you can check and correct or add something more. It is on persona and I add it here also:
One day, Şeyda was sitting at their home, she was very bored and  she was surfing on the internet. She has seen an advertisement which is about an application in which people share their cultural events and others can attend. The name of the application was "Actopus", she thought that

[2018-03-02 20:11] nazmicancalik commented on #63
@serkan-ozel-2015400123 Actually Serkan, I understand from the description that we should have on e mockup for web also we should have one mockup for android. We can use 2 different personas for mockup scenarios. Correct me if I'm wrong.

[2018-03-02 20:16] nazmicancalik commented on #63
Guys, good news. The updated version of our mockup is alive. Here is the scenario for Ceyda I and @gumityolcu have thought for android:

1) Signs Up with facebook.
2) Picks Interests
3) Feed Page
4) Sees event details
5) Goes to event.

Umit is done with the scenario and we created android mockup for scenario. All pages (Pages that are going to be used in our scenario) are ready and interactive. I

[2018-03-02 20:36] byklyci commented on #63
This is amazing thanks your labour. @nazmicancalik @gumityolcu

[2018-03-03 08:53] nazmicancalik commented on #62
Good work Serkan, keep up the good work :)

[2018-03-03 11:58] okyksl commented on #58
@bounswe/bounswe2018group9 I'm creating appropriate pages for `User Stories` and `User Scenarios`.

[2018-03-03 12:18] okyksl commented on #64
@gumityolcu do you have any information about whether we will have a _second mockup phase_ where we will focus on _user interface and functionalities_ **without considering user scenarios**?

[2018-03-03 12:27] nazmicancalik commented on #58
In my opinion we can open a comibined page  for user scenarios and mockups both included in one page. Later we can add specific pages for mockups.

[2018-03-03 12:42] okyksl commented on #64
@gumityolcu could you checkout the new structure? I'm closing this as I believe inconsistency you spotted is fixed. Let's discuss _project workflow_ details including my question above on #57.

[2018-03-03 12:42] #64 closed

[2018-03-03 12:48] okyksl commented on #49
@akaogluozgur added to the [Meeting #5](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%235-(05.03.2018)) agenda.

[2018-03-03 14:53] okyksl commented on #61
@gumityolcu @nazmicancalik great work!

* I see that `Ceyda`'s character description says:

But if we look at the _Personality_ charts, she is an extrovert more than an introvert. According to the @akaogluozgur's comment she is also more extrovert than an introvert. When I read the bio and scenario, I felt like we have a social person with insecurities about her new environment.

Should we harmoni

[2018-03-03 15:09] gumityolcu commented on #61
@akaogluozgur  Very clear and descriptive, thanks 👍

@okyksl  Exactly, Ceyda is shy but she doesn't have an inside world where she lives by herself, where she can be happy. Instead, she needs approval from others, the external world. If you think there is an inconsistency, we can delete the "shy" adjective and replace the sentence with "She needs approval from people around her." This seems logica

[2018-03-03 15:22] okyksl commented on #56
I see that we formed a consensus on `Şeyda`'s and `Ceyda`'s - former `İremsu` - characters. `Şeyda` will take on the role of a event creator and `Ceyda` will take on the role of a frequent event participant. I'm closing the issue as the distinction between personas have been made.

[2018-03-03 15:22] #56 closed

[2018-03-03 15:30] gumityolcu commented on #57
I am writing about #64  ::
@okyksl
I do not know if we will have a second mockup phase. This is due to the fact that we made the plan together, in our group but our deliverables' deadlines are not given according to our plan but according to our course organisation. As a result, there are inconsistencies we can not avoid unless we see the future.

However, I think we should have a second mockup ph

[2018-03-03 15:33] byklyci commented on #62
I am working on Event Creation Page and you can follow me [here](https://pr.to/38G44Q/)

[2018-03-03 15:51] okyksl commented on #61
About **Motivation** part:

* I agree with **Fear** and **Social** motivations.
* I though of **Power** as social power among her friends but your reasoning seems more suited to `Ceyda` since she is just trying to get used to her new environment.
* I think **Growth** is related with _personal development_, I'm afraid `Ceyda` has nothing to do with **Growth**.
* I think she has legitimate **Incenti

[2018-03-03 15:55] gumityolcu commented on #61
@okyksl Insecure describes her better. In fact she is not shy, a shy person would not be this eager to be popular.

We made the last touches on the personality traits and added 2 acceptance criteria, I think our user story is done.

I am closing the issue.

[2018-03-03 15:55] #61 closed

[2018-03-04 09:13] serkan-ozel-2015400123 commented on #59
What is left to do:

Acceptance Criteria will be written
Profile Page (Kemal will do)
Event Creation Page(Yusuf has done)
and feed page, home page will be edited by me today.

[2018-03-04 11:18] okyksl commented on #59
@serkan-ozel-2015400123 will there be a section for story part - `As a ... I can ... so that ...`?

[2018-03-04 12:23] akaogluozgur commented on #63
Great work guys!

[2018-03-04 14:01] nazmicancalik commented on #63
Android mockup pages and user (Ceyda) scenario gif is uploaded to the `resources` branch.

[2018-03-04 14:01] #63 closed

[2018-03-04 14:01] nazmicancalik commented on #62
Good work 👍

[2018-03-04 14:04] nazmicancalik commented on #60
Other than some typos it seemed okay to me @akaogluozgur . Of course , other members may give feedback as well. Good work, thanks to your effort 👍

[2018-03-04 14:17] okyksl commented on #63
Great work @nazmicancalik! I'll integrate changes to the `Wiki`.

[2018-03-04 14:31] okyksl commented on #59
@serkan-ozel-2015400123 about stories:

I see that you changed the character a bit after @kemaltulum's comment so that she is not anymore poor or lazy. I believe there is a strong **why? point** on _becoming more popular and earning money from her work_. I think these two statements are on the same line so why not create a new story by combining these two?

Again, I think these two statements are

[2018-03-04 14:47] akaogluozgur commented on #60
- The user story is added.

- The general page is reconstructed.

- Nobody offered anything about the photo so I did not change it.

Guess that's all. In a couple, of minutes, this issue will magically vanish as if it were just figments of your imagination.

[2018-03-04 14:48] #60 closed

[2018-03-04 16:15] nazmicancalik commented on #59
Good work guys 👍

[2018-03-04 18:47] serkan-ozel-2015400123 commented on #62
The only thing left is profile page and @kemaltulum is responsible closing the issue.

[2018-03-04 18:47] #62 closed

[2018-03-04 18:48] serkan-ozel-2015400123 commented on #59
We are done with Şeyda except profile page closingggg

[2018-03-04 18:48] #59 closed

[2018-03-04 18:52] byklyci commented on #49
Thank you @okyksl because it can became confusing sometime for us.

[2018-03-04 19:54] okyksl commented on #60
@akaogluozgur great scenario and good references to _Yalova_! I'm moving your scenario under the [Muhittin's Persona page](https://github.com/bounswe/bounswe2018group9/wiki/Muhittin-Çalışkan).

When you have time, we can together work on:
* Acceptance criteria
* Scenario with mockups

[2018-03-04 19:58] okyksl commented on #62
@serkan-ozel-2015400123 we might also need a **Map page**. I'll take that job, you guys worked hard enough!

[2018-03-04 20:41] okyksl commented on #46
@bounswe/bounswe2018group9 did we formed a consensus here?

[2018-03-05 15:38] byklyci opened #69 "Repository Overview Readme & Wiki Page"
_As we discussed our last meeting_ [Meeting 5#](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%235-(05.03.2018));
We need a revision and control check mechanism for our customer.We will make a good paths for very reachable and understandable for guests when they are stalking our repo.
* README image & photo & navigation
* Wiki navigation & restructure
* New icons for our wiki page
I am

[2018-03-05 19:28] kemaltulum commented on #69
I realized that adding icons to wiki page is easier than I expected :octopus: :house: :100:
We can use these icons in our wiki page, which we have discussed today.
[The complete list of icons is here](https://gist.github.com/rxaviers/7360908)
@didemongu I think, Didem, you can empower these icons in a creative way and make our seen shiny

[2018-03-05 19:35] kemaltulum commented on #49
@okyksl @nazmicancalik I updated assignees as you based on [Meeting 5](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%235-(05.03.2018))

[2018-03-06 16:22] byklyci commented on #69
Guys I made commit docs(readme): add group pictures and personal page link about the groups whole pictures and profile information.To be continued.

[2018-03-07 09:49] serkan-ozel-2015400123 commented on #52
@akaogluozgur I have added some dropdowns to requirements analysis page. What do you think about md file inclusion? I don't think we need to include md files in our page

[2018-03-07 19:00] serkan-ozel-2015400123 opened #71 "ID for Project Plan"
@okyksl @gumityolcu Can you add ID's to all tasks in the project plan? User stories should have id. How can we organize the ids? @bounswe/bounswe2018group9

[2018-03-09 09:32] okyksl commented on #69
@byklyci thanks for the work, could we now focus on **_navigation_** features?

[2018-03-09 12:11] gumityolcu commented on #69
@byklyci  @didemongu  The icons look great! Nice work!

[2018-03-09 12:22] gumityolcu commented on #69
We don't have links to out user personas/scenarios and our mockups yet, we need to add them

[2018-03-09 12:43] byklyci commented on #69
I send the pictures of web and android mockup on sidebar mocups section. @gumityolcu

[2018-03-09 12:44] byklyci commented on #69
@okyksl ı am working about the navigation features with the html language and ı will it the readme.md

[2018-03-09 12:52] byklyci commented on #69
I also want to add gif about octopus which a social one.Please make me some suggestion about gifs.
@bounswe/bounswe2018group9

[2018-03-09 12:58] byklyci commented on #69
[Our actopus gif](https://dribbble.com/shots/3341064-Octopus) will be like that if you like ı will add this octopus:)Actulally it is so cute. In my opinion we should add this.

[2018-03-09 20:28] gumityolcu commented on #57
After the review process, we decided to add regular review tasks to the project plan in order to keep coordination with the course plan.

a Man/hour table will be prepared.

The rest of the plan is enumerated and "(Milestone N)" descriptions are added to milestones.

Do you have any other reviews on the project plan?

[2018-03-11 04:26] serkan-ozel-2015400123 opened #74 "Requirements & Mockups Synchronization"
Hi,

Our requirements is very detailed. However, our mockups don't have all the features in requirements. There are two options here:

1-Without changing main features delete some parts of the requirements.
2-Add those features to mockups.

@bounswe/bounswe2018group9

I have prepared this report about user requirements and mockups please check it..
[Click](https://1drv.ms/w/s!AmIQ5c_wmGx3kh0KPWYlt

[2018-03-11 12:47] nazmicancalik commented on #74
@serkan-ozel-2015400123 I will update the mobile mockups.

[2018-03-11 12:51] nazmicancalik commented on #49
I will create a simple git manual unlike complicated ones. However the detailed section will be added too.

[2018-03-11 13:24] nazmicancalik commented on #49
Guys after looking at the [Learn Git](https://github.com/bounswe/bounswe2018group9/wiki/Learn-Git) tab in our wiki, I decided to leave that page as it is and create another page for our most used git commands like a git cheat sheet.
I will open a new issue for that purpose, so that you can also write what you want to see in the cheat sheet. I will add the link to the new page as soon as I am done

[2018-03-11 13:24] #49 closed

[2018-03-11 14:51] nazmicancalik opened #75 "Git Cheat Sheet"
Guys, I have created a git cheat sheet wiki page for mostly used git commands. It also includes a `How to` section. You can reach the document from [here](https://github.com/bounswe/bounswe2018group9/wiki/Git-Cheat-Sheet).

For now it only includes branch operations - [Work In Isolation](https://github.com/bounswe/bounswe2018group9/wiki/Git-Cheat-Sheet#work-in-isolation)
But we can add new how to'

[2018-03-11 17:54] kemaltulum commented on #74
I would like to change web mockups accordingly as well. However, proto.io is very complex for us and we have just few days until the trial ends. For web mockups, I am planning to use a simpler program like powerpoint to draw all the things needed.
@serkan-ozel-2015400123

[2018-03-11 17:57] nazmicancalik commented on #74
@serkan-ozel-2015400123 I read your notes. I have following questions to ask for mobile mockups:

1. Do we really need to take birthday as an input during sign up process ?
2. As you can see in the mobile mockup *Signing up via facebook is already included in the mobile mockup* I didn't understand why did you include Facebook part note (2nd note)

I will add price and some of the other mockup page

[2018-03-11 18:02] kemaltulum commented on #75
I read it, it has all the proper details and seems so beneficial. Thank you @nazmicancalik
I can ask one point just to prove I examined the cheat sheet. :+1 : smile:
The last point in the things we should do in case of a conflict is repeated in the next point. I saw two commits and adds before pushing

[2018-03-11 18:13] akaogluozgur opened #76 "Review of User Stories and Personas"
First of all, all personas are restructured and some typos are fixed and **Muhittin's age is nerfed from 28 to 35 as you desired.**
## New structures of personas are following:
* First column includes some information about person and photo, Personality, Goals and Frustrations. Since I thought  peoples goals and frustrations are correlated with their personality and information about them.

* Seco

[2018-03-11 18:17] akaogluozgur commented on #52
I think it is good enough. Since currently, there is no activity about this topic I am closing this issue.

[2018-03-11 18:17] #52 closed

[2018-03-11 18:20] akaogluozgur commented on #69
I think we need to consider about plagiarism. Did you look for creative commons license of the GIF so that we can use it safely?

[2018-03-11 18:23] akaogluozgur commented on #75
I think the guide is very useful. Thanks for your efforts buddy.

[2018-03-11 18:34] okyksl commented on #49
Thanks for the work @nazmicancalik!

[2018-03-11 18:42] serkan-ozel-2015400123 commented on #46
Can we cloooooooose this ??

[2018-03-11 18:44] okyksl commented on #46
From discussions I had peer-to-peer and also discussion we had on the meetings, I think we formed a consensus, as stated on the first comment _(with 5 star system)_, on this subject.

@serkan-ozel-2015400123 could you please update `Requirements Analysis` document reflecting the nature of the voting if there are any missing detail?
Also, can you move **1.1.6.4.2.** to the appropriate place since i

[2018-03-11 18:45] #46 closed

[2018-03-11 18:45] serkan-ozel-2015400123 commented on #75
👍

[2018-03-11 18:52] nazmicancalik commented on #74
* I have added new page for profile settings.
* Added price, upvote, specific time etc.

Things to do:
Event creation page.

[2018-03-11 18:59] serkan-ozel-2015400123 commented on #76
@akaogluozgur  As you said requirements are changing now, we should update accceptance crit. at the end

[2018-03-11 19:03] okyksl commented on #75
@nazmicancalik couple of points to look up when you have time:

* I think we should prefer **rebase** over **merging**.
* Could you also add `Pull Request` procedure?

Also if you wish, I can take it from here. Good work!

[2018-03-11 22:56] akaogluozgur commented on #76
Mockups and Mockups scenario is prepared and added corresponding files.

[2018-03-11 23:19] byklyci commented on #76
@akaogluozgur thank you for your effort it is a great job. :+1:

[2018-03-11 23:22] byklyci commented on #69
Yeah it can be a problem but actullay for this week it can be helpful for us and also we can add the resource where is coming from(site,page,who etc.)But you are right and lets think about this situation in our next meeting(Meeting 6).

[2018-03-11 23:25] byklyci commented on #75
Man @nazmicancalik this is amazing job.I am the person who has a problem with this situation so much and you solved my problem.So I need to thank you twice. This is the best cheat sheet about Pull Request ever.

[2018-03-11 23:27] byklyci commented on #74
Can we change the sidebar section mockup versions? Because old versions are there. @serkan-ozel-2015400123

[2018-03-11 23:28] byklyci commented on #57
How can we reach man/hour table? @gumityolcu

[2018-03-12 05:01] kemaltulum opened #77 "Man/hour Information Documentation Structure"
First, let me define what man/hour means with my words. It is the number of hours one would spend on a given task.

There are three basic benefits for us:
*  Specifying man/hour for any task, we can divide the total work more fairly.
*  Trying to specify the man/hour for tasks pushes us to better understand the content of the task. We would be more conscious about what the task requires.
* We can

[2018-03-12 05:03] kemaltulum commented on #57
@byklyci We will be creating man/hour table starting from this week, I think. There are some things to be discussed here: #77

[2018-03-12 05:54] serkan-ozel-2015400123 commented on #74
They are not ready yet I suppose @byklyci. When it is finished we will update them with @dkilyas

[2018-03-12 06:39] nazmicancalik commented on #76
@akaogluozgur Thanks, good work :)

[2018-03-12 06:42] okyksl commented on #77
@kemaltulum as we discussed on [Meeting #5](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%235-(05.03.2018)) **3.2.**, I updated the meeting documentation format to include a status section, can you check it out?

Here are some of the points on this issue:
* Estimating **workload** for tasks are a must do, I believe meetings are ideal times for estimation.
* Status section of next week

[2018-03-12 06:46] nazmicancalik commented on #75
@kemaltulum Thanks for heads up, correct me if I'm wrong but I think we should add the changed file to the staging area after resolving the conflicts. I may be severely wrong though 😄

@okyksl You are right, we can change to rebase if all agree. Also thanks for your help, since I am not so good at the subject it might be better for you to make some additions and revise the document 🙂

@byklyci Tha

[2018-03-12 07:36] kemaltulum commented on #77
@okyksl As you point out, adding extra column to our meetings action table would not be ideal. `Workload Table` is a decent idea, I can create one today and we can start updating it in the meeting.

[2018-03-12 07:38] okyksl commented on #71
* `Project Plan` enumeration is done by @gumityolcu and me.
* I also enumerated our users according to our [Meeting #4](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%234-(26.02.2018)).

[2018-03-12 07:38] #71 closed

[2018-03-12 08:17] okyksl commented on #77
Actually, I created a [Worklog Page](https://github.com/bounswe/bounswe2018group9/wiki/Worklog) which is accessible under the [Project Plan](https://github.com/bounswe/bounswe2018group9/wiki/Project-Plan).

[2018-03-13 05:12] kemaltulum commented on #77
I made the planned changes. The final structure of the document can be found under Project Plan, [Worklog](https://github.com/bounswe/bounswe2018group9/wiki/Worklog). Since the structure is clear now, I am closing the issue

[2018-03-13 05:12] #77 closed

[2018-03-13 05:29] kemaltulum opened #80 "Updating Worklog Page Weekly"
Even though it is certainly an extra job, we should log what we do in a week in [Worklog](https://github.com/bounswe/bounswe2018group9/wiki/Worklog) under [Project Plan](https://github.com/bounswe/bounswe2018group9/wiki/Project-Plan) for some reasons:
* It would be really helpful for managing resources of us. I mean, logging the work we are doing, we will be more aware of what we have been doing s

[2018-03-13 05:38] kemaltulum opened #81 "The Choice of Sequence Diagram Drawing Tool"
Sequence diagrams are complex graphs. We would be using some tools.

Choosing criteria for the tools:
* Weather the diagram can be exported or not
* Pricing plan of the tool, basically it should be totally free

 Let's discuss the tools available here.

[2018-03-13 05:41] kemaltulum commented on #81
Here the tools that I found at first and suggested in the meeting:
* [LucidChart](https://www.lucidchart.com/)
* [MermaidJS](https://mermaidjs.github.io/sequenceDiagram.html)
* [XMind](https://www.xmind.net/zen/)
* [UMLet](http://www.umlet.com/)

Please comment on them

[2018-03-13 07:17] nazmicancalik opened #82 "Remaining Mobile Mockups"
According to the refined requirements, we are missing some of the android mockup pages.
These include:

- [x] Message Screen
- [x] Search Functionality

I have started implementing these mockup pages. I will check the requirements again and then create pages that are missing. After I complete, if there is something missing please inform me.

[2018-03-13 07:20] nazmicancalik commented on #81
@kemaltulum  I checked these tools you have sent. @akaogluozgur  and @byklyci have picked Lucid Chart for **Class Dİagrams** as far as I remember. They may give us an idea about its pros and cons.

[2018-03-13 07:26] nazmicancalik commented on #82
I will update this comment as I create the remaining pages/functionalities.
Following pages/functionalities are added:
* Guest Landing Page (Appears when clicked `Not Right Now` in sign up page.)

[2018-03-13 09:02] kemaltulum opened #83 "Review Meeting Notes for Week 6"
Let's review the meeting notes for [Week 6](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%236-(12.03.2018)). I believe that there would be missing points not included or some of the points might be misunderstood. We can correct them together.

* After you read the notes, feel free to make necessary changes, also mention them here.

Check the box after you read the notes.

* [x] Gökhan

[2018-03-13 09:28] nazmicancalik commented on #82
Guys, I have added the remaining android mockup pages.They are located under android-mockups branch.
The requirements above message are satisfied.

Here are the pages I have added:
* [Create Event Page](https://github.com/bounswe/bounswe2018group9/blob/android-mockups/wiki/images/create_event_android_new.png)
* [Search Page](https://github.com/bounswe/bounswe2018group9/blob/android-mockups/wiki/im

[2018-03-13 09:30] nazmicancalik commented on #83
@kemaltulum I have reviewed the meeting notes and added my status update. Since I have finished with android mockups, I can help @akaogluozgur @byklyci in `Class Diagrams`.

[2018-03-13 11:21] byklyci commented on #81
Yeah, we choose for Lucid Chart for class diagrams and I think it is an efficient platform.Also you can share the document via email. @kemaltulum

[2018-03-13 11:25] byklyci commented on #80
Will we report last week 's(week 5 ) workload also? Or Is milestone of starting is this week? @kemaltulum

[2018-03-13 17:08] gumityolcu commented on #83
Great work thanks.

[2018-03-13 17:20] nazmicancalik commented on #82
@gumityolcu  Umit  thanks for your reviews and heads up, I really appreciate that.
* Adding the price to the event creation page was in my mind and I forgot. :D
* Also, our sign in page is already prepared. Its just that we decided according to our scenario with Ceyda, we decided not to include the sign in page in mockups, however we should put that you are right.
* Also we should really create a

[2018-03-13 19:27] akaogluozgur commented on #83
@nazmicancalik sure bro, An issue will be opened until tomorrow so we can collaborate from there.

[2018-03-13 20:10] akaogluozgur opened #85 "Class Diagram (First Version)"
**This is the first draft. Some methods and properties will be added. Especially CRUD operations getter and setters, easy properties such as name etc.**
@byklyci Firstly what comes to my mind are:

---

## User(Abstract Class):
### Properties:
* None
### Methods:
* getTrending() (All Users are able to see Trending Req: **1.1.1.6**)
* search() (All users can search **1.1.1.4**)
* getUserEvents() (A

[2018-03-13 20:14] akaogluozgur commented on #85
@byklyci feel free to object any of them, I will add as I scan the whole requirements. After we finalize this we can draw it.

[2018-03-13 21:37] byklyci commented on #85
I am also reading the requirements again. :+1:

[2018-03-13 21:49] byklyci commented on #85
**Event(class)**
Type
Name
Location
Attendees
Tags
Description
Date ,Time
Comment
Price
Concert Report
Ranking
Also there will be subclasses about the event.For example the location,comment,tag,rating etc will became a sub of the class and we will write sth under them.

[2018-03-13 21:52] byklyci commented on #85
**Comment(class)**
Comment id
Owner of the comment
Event name tag
Content

[2018-03-13 21:56] byklyci commented on #85
I changed Comment Class; Comment(Class inherits Event)

[2018-03-13 21:58] akaogluozgur commented on #85
@byklyci I think Comment class should not inherit event but event class has property as commentList

[2018-03-13 21:58] byklyci commented on #85
@akaogluozgur your method is so good, i will add also emphasize the requirenments.

[2018-03-13 21:59] byklyci commented on #85
I am agree with you about the comment class issue.My fault.

[2018-03-13 22:14] akaogluozgur commented on #85
We can change the hierarchy like this. Admin inherits Member, Member inherits Guest since admin can do all of the stuff what member will do, a member can do all of the stuff guests can do

[2018-03-13 22:15] byklyci commented on #85
## Guest(Class inherits User):
### Property:
We need to decide
### is able to:
*  see events created by the members(Req: **1.1.1.1.**)
* to search for public content(Req: **1.1.1.4.**)
*see the Trending page when they open the system.(Req: **1.1.1.6.**)
### Method:
* search() (All users can search **1.1.1.4**)

[2018-03-13 22:20] byklyci commented on #85
It can be possible but admin is an admin.In my opinion admin can be a seperated class but i also agree with you, admin can do all of the staff what members will do.I think we can discuss this topic until the final draft. @akaogluozgur

[2018-03-13 22:21] akaogluozgur commented on #85
Most of the things are seems done. Let's divide the requirements. I checked the almost all of the non-functional requirements so there is no need to divide them. Let's you check User Requirements and I check  System requirements.

[2018-03-13 22:22] byklyci commented on #85
I will handle User Requirenments. :+1:

[2018-03-13 22:34] akaogluozgur commented on #85
I will do these after you edit not to override you:
search() req 1.2.1.2
add recommender object
add parameters notification (req 1.2.2)
add methods recommend(signedUser) ( Req 1.2.2)
add ranker object
add propery parameter req 1.2.3.3
add method rank(User)
add 1.2.4req unmet reqs admin panel needs to be designed
add 1.2.5req unmet reqs discuss about annotations

[2018-03-14 14:11] gkhntkl commented on #81
@kemaltulum @didemongu Then,i have started LucidChart.

[2018-03-14 14:15] kemaltulum commented on #81
@gkhntkl I think, it is OK. But we should first determine for which use cases we will draw sequence diagram, which is an another issue. Closing this one...

[2018-03-14 14:15] #81 closed

[2018-03-14 15:19] gkhntkl opened #86 "Sequence Diagram Design"
I have two ways of drawing scenarios,one of them is the following style;

### Authentication
* Sign-Up
* Sign-In
### Profile
*  Edit Profile
*  Timeline
* Feed Page
* Trending Page
* Create Event
* Edit Event
* Post Comment,Vote
* Search

the other one is by dividing the scenarios into 3 sub-parts where each one refers to admin,user and guest.

1-some use cases for admin
     .
     .
2-some use c

[2018-03-14 17:09] gkhntkl commented on #86
I have two ways of drawing scenarios,one of them is the following style;

### Authentication
* Sign-Up
* Sign-In
### Profile
*  Edit Profile
*  Timeline
* Feed Page
* Trending Page
* Create Event
* Edit Event
* Post Comment,Vote
* Search

the other one is by dividing the scenarios into 3 sub-parts where each one refers to admin,user and guest.

1-some use cases for admin
     .
     .
2-some use c

[2018-03-15 05:44] okyksl commented on #81
@kemaltulum sorry for the inconvenience, is [LucidChart](https://www.lucidchart.com) free? I couldn't find the free registration option for _university emails_.

[2018-03-15 05:55] okyksl commented on #83
@bounswe/bounswe2018group9 initial plan of my for `Status` section was to review the previous meeting at the _beginning of the next meeting all together_. I see that some of us started to fill [Meeting #6 Status](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%236-(12.03.2018)#5-status). The question is, whether should we:
* Only fill the [Workload](https://github.com/bounswe/bounswe201

[2018-03-15 06:06] okyksl commented on #82
@nazmicancalik great work! I overviewed the mockups, and would like to add following points for @gumityolcu:

* **1.1.7.2.** Should we need to show _location based search more explicitly_?
* **1.1.6.5.** If I'm not missing, shouldn't we also need to add annotations section to [Create Event Page](https://github.com/bounswe/bounswe2018group9/blob/android-mockups/wiki/images/create_event_android_new.

[2018-03-15 07:26] serkan-ozel-2015400123 commented on #86
I think we should provide use cases for all the functionality of all the user types. @gkhntkl . Based on use cases, we need sequence diagrams of them.

[2018-03-15 08:10] serkan-ozel-2015400123 opened #87 "Admin panel requirements"
Dear friends, what else can we add ?

#### 1.2.4 Admin Panel
* **1.2.4.1.** The system shall provide an admin panel for admins with privileged rights
  * **1.2.4.1.1** An admin shall be able to delete or edit events.
      * **1.2.4.1.1.1** An event shall be deleted when it contains illegal contents in 1.2.4.1.2.2.
      * **1.2.4.1.1.2** An event shall be deleted when it is not an actual event bu

[2018-03-15 09:31] dkilyas opened #88 "Requirements 1.1.3.3.5. - Photo Tagging Events"
I was doing web mockups and one of our requirements was not clear. The requirement :
    - 1.1.3.3.5. Users shall be able to post photos by tagging certain events.
Our app is based on events. The thing that is not clear is the place of the photos shared. if we clearify, how they are going to share photos and where to put them, then the problem will be solved. Are the photos shared going to be put

[2018-03-15 13:35] gumityolcu commented on #82
So, I finished the work and added the functionalities I wrote in my first review.

While I worked I noticed some other missing mockups that weren't obvious while reading the requirements. These are:

1- We need 2 seperate pages for Event Details, 1 for Guest users who can't share or post photos. another for members.

2- We need 2 settings pages for verified and unverified users.

3- The events sho

[2018-03-15 13:42] nazmicancalik commented on #82
@gumityolcu I checked the mockups, this is great work :+1:  @gumityolcu If you want I can add maps and annotations too

[2018-03-15 13:47] gumityolcu commented on #82
@nazmicancalik That would be great! I should review web mockups as soon as possible so ilyas can work on them before the weekend 😄

[2018-03-15 15:02] gumityolcu opened #89 "Web Mockup Review"
Hello, I looked at the second version of web mockups prepared by @dkilyas. Great work on managing the tab structure on the left and adding chat section to the right. This is awesome! Here is my feedback:

**PAGES WE NEED TO EDIT**
1. In Event Creation Page:
- 1.1.6.7.3 : We need a Duration section

2. In Event Details Page:
- Currently, there are two events in this page. This page should be unique

[2018-03-15 20:58] dkilyas commented on #88
Thank you for your feedback @gumityolcu. I added share picture button so that the user can share photos about event. The photos will be seen on the fully detailed page of the events and the profile pages of the user who shared the photo.

[2018-03-15 21:17] dkilyas commented on #89
Thanks for your feedback. I made the corrections on the pages according to your feedback.
With this link you can see the last version of the web mockups:
[https://pr.to/TLA0RY/](url)
1. In Event Creation Page:

- [ ] 1.1.6.7.3 : We need a Duration section

2. In Event Details Page:

-  I thought that there should be blocks that tell some details of the event. Seeing every detail of every event on

[2018-03-16 20:19] okyksl commented on #69
@byklyci could we also add a table of contents part just like sidebar of the `Wiki` to the `README.md`? I think widgets looks pretty well but we may want to supplement them with additional organized links.

[2018-03-16 21:16] byklyci commented on #69
I  am closing this issue because it is done.

[2018-03-16 21:16] #69 closed

[2018-03-16 22:32] okyksl commented on #80
@byklyci I don't think we have realistic estimations of `Week #5`, let's focus on what we can do: `Week #6` and later.

@kemaltulum should we have a _fixed task_ with id `4.0` named **Reflect & Review & Feedback** to contain that types of workload?

[2018-03-16 22:35] okyksl commented on #83
@bounswe/bounswe2018group9 could you all please read the concerns I wrote above this post?

Look at these two files:
* [Meeting #6 Status](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%236-(12.03.2018)#5-status)
* [Worklog Week #6](https://github.com/bounswe/bounswe2018group9/wiki/Worklog#week-6)

There are already inconsistencies among these files, we are missing some reports on [Wor

[2018-03-16 23:01] gumityolcu commented on #89
Proto says that the link is invalid. Any ideas on the source of this problem? Can you give another link @dkilyas ?

[2018-03-16 23:17] okyksl commented on #82
@nazmicancalik @gumityolcu I believe it would be overkill to design every single detail/feature that meticulously. For example,

how about we just add a verified button to the settings page? Or if you wish, I think we can omit this detail.

The mockup details we should focus on are about the _information flow specific to our application_. **Annotations and location based search** are main componen

[2018-03-16 23:25] okyksl commented on #87
I'm not so sure about whether _Admin actions_ belong to the **1.2.** or not.

We can add a _should type_ requirement such as:

[2018-03-17 05:38] nazmicancalik commented on #82
@okyksl You are totaly right, I will do focus more on map and annotations part of the mobile mockups. Other than that I think we have reached to the elaboration detail we want already. I think we should as a team more focus on Class and Sequence Diagrams because of the emphasis instructors made.

[2018-03-17 08:45] okyksl commented on #74
@serkan-ozel-2015400123 I believe link you sent is unavailable now. Couples of ideas about the synchronization:

* Do not delete any item from `Requirements Analysis`. If we start deleting items from now, imagine what will happen in `Implementation` part of the project :)
* Mockups are supplementary to the `Requirements Elicitation` process, they don't have any _obligation_ to follow and contain e

[2018-03-17 08:52] okyksl commented on #88
@gumityolcu I believe you described situation perfectly.

* @gumityolcu @serkan-ozel-2015400123 may I ask is this a _must do_ requirement i.e **shall** or is this a **should** requirement? I think it is a **should** requirement.
* @serkan-ozel-2015400123 do we cover the cases @gumityolcu described in the requirements?

[2018-03-17 09:07] dkilyas commented on #89
Just copy paste the link it will work. @gumityolcu

[2018-03-17 12:15] okyksl commented on #89
@gumityolcu @dkilyas just to check, do we also cover _annotations_?

[2018-03-17 12:21] okyksl commented on #85
@akaogluozgur @byklyci can we start to integrate these into the `Wiki` under the `Architecture Design`?

[2018-03-17 20:02] akaogluozgur commented on #85
@okyksl after we finalize it, it can be done. Tonight and tomorrow I will check for all requirements and try to add forgotten methods and properties.

[2018-03-17 20:21] serkan-ozel-2015400123 commented on #89
@okyksl @dkilyas   I agree. We should put annotation option. There should be a option to write some text or add another photos attached to some part of the event photos.

[2018-03-17 20:31] serkan-ozel-2015400123 commented on #88
@okyksl  @gumityolcu Actually, there are more specifications in @gumityolcu's ideas. We can add them but:
the photos should be added from an event details page. -- this means annotations i think
the photos should be viewable from event pages and profile pages -- it is viewable from event pages of course, but normally there is no feature of adding photos to profile page. I can add this to requireme

[2018-03-17 20:32] serkan-ozel-2015400123 commented on #88
@okyksl "may I ask is this a must do requirement i.e shall or is this a should requirement? I think it is a should requirement. "
I remeber that I didnt write this requirement so we can decide now.

[2018-03-17 20:34] serkan-ozel-2015400123 commented on #87
@okyksl  Okay you are right. Should I move it to 1.1? This will affect references I guess if there is one about admin panel

[2018-03-17 20:36] serkan-ozel-2015400123 commented on #86
@gkhntkl was working on them recently. I learned that @kemaltulum @didemongu were not very active when I asked. Can you send some of the sequence diagrams @gkhntkl ? And maybe I  can start doing some of them tomorrow.

[2018-03-17 20:44] serkan-ozel-2015400123 commented on #76
@okyksl You may be right about Şeyda. The story can be reviewed .

[2018-03-17 21:03] kemaltulum commented on #86
@serkan-ozel-2015400123 It is not just a matter of doing it, but understanding and implementing it in the most genuine way possible. In this regard, we are not being inactive at all.

We discussed the details of the sequence diagrams with @gkhntkl The entities in the sequence diagrams should match the ones in the class diagram. Therefore, not being able to examine the Class Diagram is a considerab

[2018-03-18 08:44] kemaltulum commented on #85
@akaogluozgur @byklyci I have some feedback for you! While designing sequence diagrams, we need functional units that achieve basic jobs. For example, when the user wants to create an event, there should some entity dealing with this request. Right now, I see the `Event` entity with create method, which is nice but, I think, this method should take the details of the event as parameters, or as a w

[2018-03-18 10:05] akaogluozgur commented on #85
@kemaltulum As I remember, In the meeting we did decide that we should not include methods from the presentation and data access layers like in the spring layered architecture, we should only decide general object plan of our project. What I understand is your suggestion is a method from the first layer which redirects the incoming requests to the business layer. If we include such layers we need

[2018-03-18 15:20] akaogluozgur commented on #86
I am integrating the Class Diagram [here](https://github.com/bounswe/bounswe2018group9/wiki/Class-Diagrams). Whole information will be available tonight.

[2018-03-18 15:43] okyksl commented on #88
@serkan-ozel-2015400123 I believe @gumityolcu meant _Timeline_ page instead of _Profile_ page. I actually think **1.1.3.3.5.** is clear enough, it describes the situation where user post an picture related with an event (with a certain tag to refer the event) _on her profile_. Couple of things to resolve:

* First of all, do we have specific tags for events?
* If we are going to have a tag-like st

[2018-03-18 15:45] okyksl commented on #87
I believe the right place would be under **1.1.**, could you cross-check with other groups covering _Admin type of stuff_?

[2018-03-18 16:13] serkan-ozel-2015400123 commented on #87
There is not any admin panel in group 6. @okyksl However group 3 has put it under user req. I will do it also please be informed that you may need to change references to requirements. @bounswe/bounswe2018group9

[2018-03-18 16:14] gumityolcu commented on #89
@okyksl @dkilyas @serkan-ozel-2015400123 I reviewed the web mockups using the Android mockups, where I forgot the annotations. Thus I forgot them again, we need annotations in the web mockups 😄 Sorry for that.

[2018-03-18 17:20] gumityolcu commented on #88
@okyksl @serkan-ozel-2015400123 @dkilyas Guys, what I wrote was what I assumed, what I had in mind, I didn't mean to say that these are what our requirements say.

- I checked the project description document and the customer meeting, there is no word of adding photos to events or by tagging events. Therefore it is up to us to decide whether this is a should or shall requirement. I also think it s

[2018-03-18 18:30] byklyci commented on #85
@okyksl after the final version of class diagram we can add all into  the Wiki` under the `Architecture Design`

[2018-03-18 19:43] nazmicancalik commented on #82
Guys I added google maps link to the event creation page so that people can add location from Google Maps. And also now they can add annotations. New version of the mockup (create-event-last) is [here](https://github.com/bounswe/bounswe2018group9/blob/android-mockups/wiki/images/android-createevent-last.png)

Please give feedback, otherwise I am assuming the android mockups are done. And I think t

[2018-03-18 19:54] nazmicancalik commented on #89
@gumityolcu  I have added the annotations to android mockups now. It is simply a button saying that add annotations. I don't think it should be more specific than that.
Since after those much detail, it becomes designing the webpages. I think only mentioning them is even adequate.

[2018-03-18 20:05] nazmicancalik commented on #88
@gumityolcu @okyksl @dkilyas @serkan-ozel-2015400123 Guys, here is what I thought about photos and tags:

* Do we have to manage photos if they are not included in the user requirements that are given to us by our customer ?
* If we are to manage photos I think  that @gumityolcu is right. Every photo must be an item of an event. So, imo there shouldn't  be such thing as photos of a user. There mus

[2018-03-18 20:21] nazmicancalik commented on #87
@serkan-ozel-2015400123  Adding the requirements is good but do we need to specifically implement Admin Panel for the project. Because as you know it comes with a great responsibility. What are the criteria of customer Meriç's?  Was there any specific request for an admin panel ?

[2018-03-18 21:38] nazmicancalik commented on #87
I have asked our customer about the focus we should give on admin panel issue: He simply replied:

You don't need to focus on that too much.

Best,
Meriç Turan

[2018-03-18 21:40] nazmicancalik commented on #87
Guys I am getting an impression that we are losing too much time on details, lets discuss and clarify our detail levels on the next meeting so that we don't bore ourselves at the early stages of this 2 course span project. We need our stamina for more key aspects of the project. Thanks :D

[2018-03-19 09:13] kemaltulum commented on #85
Although we do not have a layered structure like Spring framework, we should have some entities like `EventManager` `UserManager`, `RecommendationManager`. What these entities should deal with is another issue but basically they perform the operations needed in our system.

For example, `EventManager` can deal with creation, validation and update of `Event`s.

[2018-03-19 09:35] okyksl commented on #87
@nazmicancalik @serkan-ozel-2015400123 I think we can still retain **Admin Panel** requirements, but let's make them **should** instead of **shall**.

[2018-03-19 11:51] serkan-ozel-2015400123 commented on #87
@okyksl Done

[2018-03-19 13:22] okyksl commented on #87
Let's close this issue as its resolved.

[2018-03-19 13:22] #87 closed

[2018-03-22 19:52] didemongu opened #90 "Create Event Sequence Diagram Review"
I prepared sequence diagram for creating event. Here is this:
![create event](https://user-images.githubusercontent.com/36166597/37794663-30de0646-2e23-11e8-81d3-9d980417c4bf.png)
What should be changed in the diagram?

[2018-03-22 20:53] serkan-ozel-2015400123 commented on #90
@didemongu  Instead of registered user, we can use exactly same name in class diagrams which is signed user.
@akaogluozgur There is no createEvent(eventInfo) function for signedUser, either didem or you should change the diagrams. In didem's diagram signeduser have createEvent function. I think this is better than event has create function.
@akaogluozgur Member user also should have a function tha

[2018-03-23 08:32] didemongu commented on #90
I will replace registered user with signed user 👍🏼

[2018-03-23 11:26] serkan-ozel-2015400123 commented on #85
@akaogluozgur  "can edit their activity preferences.(Req:1.1.3.1.2.)" this is from member class
Can you add this to functions of the class as well?

[2018-03-23 20:06] gumityolcu commented on #86
I believe this is very useful for this matter : http://www.tracemodeler.com/articles/a_quick_introduction_to_uml_sequence_diagrams/

[2018-03-23 20:11] gumityolcu commented on #86
Set of example UML Sequence Diagrams:
http://www.tracemodeler.com/gallery/index.html

[2018-03-24 08:08] nazmicancalik commented on #90
@serkan-ozel-2015400123  your observations are correct. But what you suggest to @akaogluozgur may be the methods of the manager classes. We have to reach to a consesus here:
* Are we going to put those methods into entity type of classes
* or we create the manager classes
Sorry for the inconvenience, can someone clear me on this issue, I am a bit off track

[2018-03-24 08:11] nazmicancalik commented on #90
@didemongu I have a question: shouldn't the event class on the sequence diagram you draw should start after creation, in other words shouldn't it start existing  from the half of the page ?

[2018-03-24 08:13] nazmicancalik commented on #85
@byklyci @akaogluozgur Could you guys add me to the platform you are creating the class diagrams so that I can help :D

[2018-03-24 08:14] nazmicancalik commented on #86
@gumityolcu thanks for the link Ümit :+1:

[2018-03-24 08:15] nazmicancalik commented on #86
Okay guys maybe we should open another issue and follow the remaining sequence diagrams from there

[2018-03-24 08:18] nazmicancalik opened #91 "Sequence Diagrams Team Sync"
Guys, can everyone give a feedback for the sequence diagrams creation.
* If you are working on sequence diagrams, could you gave a list of which ones you created or will create ?

That way we can sync and not do a redundant work.
I guess Kemal and Didem have already created some of them, so could you guys share it here too :D Please refer to @gkhntkl ' s issue for sequence diagrams to create from

[2018-03-24 08:45] byklyci opened #92 "Class Diagram (Final Draft)"
This issue is about the final draft for class diagram.We will finish the class diagram with using **LucidChart** platform and add here after our job is done.

[2018-03-24 08:46] byklyci commented on #92
@nazmicancalik ; I also share with you the **_LucidChart_** platform and we can edit together.

[2018-03-24 08:48] byklyci commented on #85
Please talk in the new issue #92. Lets finalize this job guys.

[2018-03-24 08:50] byklyci commented on #92
**_It can be helpful for us, I took these in the #85 and lets finalize our class diagram...._**

## User(Abstract Class):
### Properties:
* None
### Methods:
* getTrending() (All Users are able to see Trending Req: **1.1.1.6**)
* search() (All users can search **1.1.1.4**)
* getUserEvents() (All Users are able to see member's evets. Req: **1.1.1.1**)

---

## SignedUser(Abstract Class inherits Use

[2018-03-24 11:41] nazmicancalik commented on #92
Thanks @byklyci :+1:

[2018-03-24 13:00] akaogluozgur commented on #92
Ok, let's finish this tonight when everyone is online.

[2018-03-24 19:20] okyksl commented on #57
I think current version of the [Project Plan](https://prod.teamgantt.com/gantt/schedule/?ids=1068242&public_keys=FEDRISmQt6FI&zoom=d100&font_size=12&estimated_hours=0&assigned_resources=0&percent_complete=0&documents=0&comments=0&col_width=355&menu_view=1&resource_filter=1&name_in_bar=0&name_next_to_bar=0&resource_names=1#user=&company=&custom=&date_filter=&hide_completed=false&color_filter=) docu

[2018-03-24 19:20] #57 closed

[2018-03-24 19:33] gumityolcu commented on #91
I think you can edit this comment. If so, please feel free to edit it and add as you contribute.

**Diagrams that are done :**

- Sign In
- Sign Up
- Create Event
- Search Event
- Recommendation

**Diagrams currently being done**:

- Feed
- Trending

[2018-03-24 20:57] okyksl commented on #75
@nazmicancalik I revised our [Git Cheat Sheet](https://github.com/bounswe/bounswe2018group9/wiki/Git-Cheat-Sheet), here are some of the things I changed:

* Added links and notes about our complementary sources [Contribution Guide](https://github.com/bounswe/bounswe2018group9/wiki/Contribution-Guide) and [Learn Git](https://github.com/bounswe/bounswe2018group9/wiki/Learn-Git).
* Added link to [Atl

[2018-03-24 20:57] #75 closed

[2018-03-24 21:18] okyksl opened #93 "Requirements Style"
Even though current dropdown style of [Requirement Analysis](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis) handles some problems, I think it obstructs quick navigation. I suggest we only hide _requirement items_ and expose all of our structural headers initially to the viewer.

[2018-03-24 22:11] okyksl commented on #93
@serkan-ozel-2015400123 never mind, I implemented this.

[2018-03-24 22:11] #93 closed

[2018-03-24 22:33] okyksl commented on #74
I think we have a consensus based on what I said above. We have a detailed [Requirements](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis), which will be very valuable for the upcoming weeks. We should continue to develop it whenever its necessary and also we should make our designs, implementations, tests strictly in correspondence with it _i.e subtracting or editing the [

[2018-03-24 22:33] #74 closed

[2018-03-24 22:36] okyksl commented on #76
@akaogluozgur could you checkout my feedback on this issue whenever you have available time?

[2018-03-24 22:43] okyksl commented on #80
I reserved **4.0.** as stated above.

@bounswe/bounswe2018group9 I see that most of us, _including me_, forgets to fill the [Worklog](https://github.com/bounswe/bounswe2018group9/wiki/Worklog) table. Please be more sensitive to report and track your work, I guarantee you it will help you with work segregation and timing.

With that being said, from now on we will **strictly** follow [Worklog](http

[2018-03-24 22:43] #80 closed

[2018-03-24 22:52] okyksl commented on #85
@byklyci will we have a separate [Classes](https://github.com/bounswe/bounswe2018group9/wiki/Classes) page or only a [Class Diagrams](https://github.com/bounswe/bounswe2018group9/wiki/Class-Diagrams) page?

[2018-03-24 23:07] byklyci commented on #85
@okyksl We will add tomorrow, both of them(Classes and Class Diagrams page).

[2018-03-24 23:46] okyksl commented on #85
I believe the discussion will be continue from #92 as the first version of the Class Diagrams are completed.

[2018-03-24 23:46] #85 closed

[2018-03-25 00:02] okyksl commented on #91
@bounswe/bounswe2018group9 could we please clarify this so that we can track our progress and also update `Project Plan` with the necessary details?

[2018-03-25 01:26] gumityolcu commented on #92
Awesome work!

[2018-03-25 03:27] serkan-ozel-2015400123 commented on #90
And let me add, I learned from internet that vertical blocks are for messages only. Not for object lifeline. You can use dashed line. So actually this type of drawing is not correct.

[2018-03-25 03:30] serkan-ozel-2015400123 commented on #86
Some of us dont know actually what a sequence diagram is .I learned from internet that vertical blocks are for messages only. Not for object lifeline. That is it is drawed when there is a interaction between two objects. I highly recommend all of us to read one complete tutorial about sequence diagram. For example, you can use dashed line for indicating the object lifeline.

[2018-03-25 03:30] serkan-ozel-2015400123 commented on #86
http://www.tracemodeler.com/articles/a_quick_introduction_to_uml_sequence_diagrams/

[2018-03-25 03:54] serkan-ozel-2015400123 commented on #91
Actually I am not being able to draw profile sequence diagrams precisely because of ambiguity of classes or methods. My drawings so far : ![]*https://www.dropbox.com/s/0n5o300fpyw5mb5/20180325_065052.jpg?dl=0)

[2018-03-25 07:05] #82 closed

[2018-03-25 07:13] nazmicancalik commented on #90
@serkan-ozel-2015400123 You are right, dashed line represents the object lifetime  but vertical blocks represent *the time component is working* and I think some of the vertical blocks are true in Didem's case.

Resource: [Wikipedia/SequenceDiagram](http://www.wiki-zero.com/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvU2VxdWVuY2VfZGlhZ3JhbQ)
Third Pharagraph, Last Sentence

[2018-03-25 09:44] okyksl commented on #89
@gumityolcu @dkilyas could you inform us on status of this issue?

[2018-03-25 09:48] okyksl commented on #86
@bounswe/bounswe2018group9 can you state your work on #91 and also can you please start to integrate your changes to the [Sequence Diagrams](https://github.com/bounswe/bounswe2018group9/wiki/Sequence-Diagrams)?

[2018-03-25 09:54] gkhntkl opened #94 "Sequence Diagram - Sign-Up"
![1](https://user-images.githubusercontent.com/32368789/37873747-41ed479e-302b-11e8-99ca-db379fe448f9.png)

Sign-Up is ready.Check it out whether it okay or not,please.

[2018-03-25 12:34] gumityolcu commented on #94
I believe instead of writing "valid credential syntax and "user exists" in the little rectangles, we should write "alt" -meaning alternative- and below the little rectangle we should write [valid credential syntax] and [existing user].

Apart from that, I think it is great!

[2018-03-25 13:04] gumityolcu commented on #94
Oh, and I think in the second if, you should write [user doesn't exist] instead of [user exists].

[2018-03-25 13:10] gumityolcu commented on #91
Hey folks, I added the links to my comment. It would be much appreciated if you added the links to the diagrams that you prepared

[2018-03-25 15:07] serkan-ozel-2015400123 commented on #94
Yeah I agree with Ümit.  According to the link, Ümit posted to whatsapp there should not be a text at those corners of boxes. Rather it should be below of the corner as far as I remember.

I am okay if instructors will be okay with this. @kemaltulum  @gumityolcu

[2018-03-25 15:11] serkan-ozel-2015400123 commented on #91
I need someone to review my diagrams and draw it in lucidchart?
https://www.dropbox.com/s/0n5o300fpyw5mb5/20180325_065052.jpg?dl=0

[2018-03-25 15:12] serkan-ozel-2015400123 commented on #90
Can you update please ? :) @didemongu

[2018-03-25 16:29] gkhntkl commented on #94
@gumityolcu @serkan-ozel-2015400123 that is handled,thanks.

[2018-03-25 17:33] serkan-ozel-2015400123 commented on #91
Also, timeline and edit profile left.

[2018-03-25 18:17] didemongu commented on #91
I will draw your diagrams in lucidchart @serkan-ozel-2015400123

[2018-03-25 18:29] didemongu commented on #90
I updated it

[2018-03-25 19:39] didemongu opened #95 "Sequence Diagram - Change Activity Preferences"
Here is the change activity preferences in profile page sequence diagram and its link.

![basic sequence diagram](https://user-images.githubusercontent.com/36166597/37879194-19b35334-307d-11e8-89fb-6e29fb28c92e.png)

https://www.lucidchart.com/invitations/accept/9c8dc57e-ade7-412e-b49f-cacb42b8c8d2

[2018-03-25 19:49] didemongu opened #96 "Sequence Diagram - Showing / Hiding Events"
![basic sequence diagram 1](https://user-images.githubusercontent.com/36166597/37879249-79c83162-307e-11e8-96f3-99e56b1a2244.png)

https://www.lucidchart.com/invitations/accept/5d0439c5-6ce6-43cc-8f7b-b6f6f919b961

Showing / Hiding Events diagram is ready. I share its link.

[2018-03-25 19:55] byklyci commented on #89
@dkilyas the new proto.io work is wonderful in my opinion.Can you add our team logo which is your drawings in your free time? And ı saw some new symbols about **_Actopus_**. :+1:  Thank you

[2018-03-25 20:00] didemongu opened #97 "Sequence Diagram - Search"
![search 1](https://user-images.githubusercontent.com/36166597/37879346-40f47cd6-3080-11e8-8c60-c3381066cf63.png)

https://www.lucidchart.com/invitations/accept/6a8db999-e181-4273-b940-ac59499a6b0a

Here is the sequence diagram for search and its link. I wait for your feedback.

[2018-03-25 20:52] byklyci commented on #92
I added final touch our class diagram drawing.Annotation and Setting classes. :+1: @akaogluozgur @nazmicancalik

[2018-03-25 21:34] nazmicancalik commented on #92
@byklyci Great work bro, I will review and integrate the remaining parts :+1:

[2018-03-25 21:42] okyksl commented on #92
Guys, shouldn't **Guest User** have _language settings_ just like the **Signed User**?

[2018-03-25 21:57] nazmicancalik commented on #92
@okyksl You are right,adding right now :D

[2018-03-25 22:00] nazmicancalik commented on #92
@okyksl I will add a connection between the Settings class and the Guest User Class

[2018-03-25 22:24] nazmicancalik commented on #94
Good job @gkhntkl :+1:

[2018-03-25 22:42] okyksl commented on #92
Great work @nazmicancalik, @byklyci and @akaogluozgur! I think we have good starting point for our `Class Diagrams`. With the comings weeks, we can build on and improve on this first version to have more compherensive and featured `Class Diagrams`.

[2018-03-26 08:32] okyksl commented on #86
As @serkan-ozel-2015400123 pointed out, we started to work on diagrams without the _concern of user type_. As @nazmicancalik pointed out, we started to work on `Sequence Diagrams` on specific issues. In this coming week, we will review & revision `Sequence Diagrams` for _synchronization and qualification_ purposes.

[2018-03-26 08:32] #86 closed

[2018-03-26 19:46] akaogluozgur commented on #76
sorry for late response. I will be checking out you feedback soon

[2018-03-28 08:04] serkan-ozel-2015400123 opened #98 "Accceptance Testing"
Hey guys. We are goint to prepare acceptance tests this week. I think we can use the pattern in the last link of homework. Let us use the same format for our tests.

Currently we are deciding which test cases we will consider.
1- Create an event
2- Change profile
3- Attend an event
4- Follow a user
5-Search event
6- Recommendation(should be more concrete I guess)
7- Send message to a friend
8- Ann

[2018-03-28 08:27] nazmicancalik commented on #98
Just an idea; You guys can design test cases for specific settings cases such as changing password, change profile pic etc. :D

[2018-03-28 08:51] byklyci commented on #98
I am taking **1.Create an event** and **4.Follow a user** test cases  if there is no problem for you guys..

[2018-03-28 09:31] serkan-ozel-2015400123 commented on #98
I agree with nazmican. So there will be more cases for edit profile. In this case it will be harder than certain tests. We should make a fair distribution

[2018-03-30 16:30] byklyci commented on #98
As ı said I started to make test cases such as **1.Create an event** and **4.Follow a user**  and ı will open an issue about it. Give your comment and feedbacks about these.

[2018-03-30 16:36] byklyci opened #99 "Test Cases (Create an event)"
Hey guys. We are going to prepare acceptance tests this week. I need your comment and feedbacks about as follows:

**_a- Create an event
b- Follow a user_**

I will add my work here and the final version will add our repository after the final task prepared.

[2018-03-30 16:38] byklyci commented on #98
You can achieve test case which create an event anf follow a user here #99

[2018-03-30 19:40] serkan-ozel-2015400123 commented on #98
If you are okay with I am taking edit profile and attend an event 2,3 @byklyci @gkhntkl @dkilyas

[2018-03-30 19:43] serkan-ozel-2015400123 opened #100 "Test Cases(Change Profile and Attend an event)"
I am going to plan these plan cases.

[2018-03-30 20:07] serkan-ozel-2015400123 commented on #98
Let's use this markdown template which is in this page.

https://github.com/bounswe/bounswe2018group9/wiki/Test-Case-Template

I prepared it according to https://images.template.net/wp-content/uploads/2015/12/29053639/Test-Case-Template-PDF.pdf link which our instructor has sended.

[2018-03-30 22:18] okyksl commented on #99
@byklyci wouldn't it be better to create separate issue for each test case?

[2018-03-30 22:18] okyksl commented on #100
@serkan-ozel-2015400123 wouldn't it be better to create separate issue for each test case?

[2018-03-30 22:25] byklyci commented on #99
It can be better ı will do it @okyksl

[2018-03-30 22:26] byklyci opened #101 "Test Cases (Follow a user)"
Hey guys. We are going to prepare acceptance tests this week. I need your comment and feedbacks about as follows:

a- Create an event
b- Follow a user

I will add my work here and the final version will add our repository after the final task prepared

[2018-03-31 10:38] gumityolcu commented on #97
Hey I edited it a bit, added lines indicating the lifetime of objects and added a loop structure to where we return arrays.

[2018-03-31 18:26] nazmicancalik opened #102 "Use Case Diagrams"
Guys me and @akaogluozgur are working on Use case diagrams it will be ready tomorrow afternoon

[2018-04-01 14:55] nazmicancalik commented on #102
Guys @akaogluozgur and I have made a somewhat final use case diagram. Here how it looks like:
![actopus](https://user-images.githubusercontent.com/25107149/38174438-a826b8b0-35d5-11e8-9095-b07b0dfe0081.png)

Ps: Tonight with the additon of @okyksl we will finalize the use case diagram and  put it on wiki page.

[2018-04-01 17:16] didemongu commented on #97
Good work. I put it to wiki so I close issue.

[2018-04-01 17:16] #97 closed

[2018-04-01 17:25] #96 closed

[2018-04-01 17:27] #95 closed

[2018-04-01 18:28] #94 closed

[2018-04-01 19:05] kemaltulum opened #104 "What is annotation? (In general and in our case)"
Let me first give you the definition in Wikipedia:

Annotation is actually a very simple thing like highlighting the important lines in a text and adding extra notes. However, it is somewhat tricky to explain what annotation is for Actopus.

The definition of Annotation in our glossary is:

Here is a short list of items we can add annotations for it:
* Location
* Related links (a web site or socia

[2018-04-01 19:28] okyksl opened #105 "Project Planning Review"
@bounswe/bounswe2018group9 as we continue forward, I noticed that our [Project Plan](https://github.com/bounswe/bounswe2018group9/wiki/Project-Plan) and associated documents lost their ability to support our workflow. As you all know, earlier we integrated [Worklog](https://github.com/bounswe/bounswe2018group9/wiki/Worklog) and `Status Update` section _(to start of [Meetings](https://github.com/bo

[2018-04-01 19:30] okyksl commented on #102
Great work as usual @nazmicancalik @akaogluozgur!

[2018-04-01 21:03] serkan-ozel-2015400123 commented on #100
First version of attend event is ready.

[2018-04-01 21:07] serkan-ozel-2015400123 commented on #100
First version of change profile is also ready. I will divide the issue into two soon.

[2018-04-01 21:39] akaogluozgur commented on #102
The diagram is added our wiki page, [Use Case Diagrams](https://github.com/bounswe/bounswe2018group9/wiki/Use-Case-Diagrams)

[2018-04-02 05:55] byklyci commented on #99
# Final version is:

<p>Test Case #1</p>

<p><b>Create an Event</b>: …</p>

<p><b>Description</b>: Test if users can create events.</p>

<p><b>Design Time</b>: 01.04.2018</p>

<p><b>Designed by</b>: Yusuf Kalaycı</p>

<p><b>Execution Time</b>: …</p>

<p><b>Executed by</b>: …</p>

<p><b>Related Requirement</b>:
* Events  (Requirements 1.2.6)
* System shall store attendance information for passed ev

[2018-04-02 05:56] byklyci commented on #101
I works on locally and the final version is coming

[2018-04-02 05:57] byklyci commented on #101
# Final version is:

<p>Test Case #4</p>

<p><b>Follow a user </b>: …</p>

<p><b>Description</b>: Test if users can follow a user or not.</p>

<p><b>Design Time</b>: 01.04.2018</p>

<p><b>Designed by</b>: Yusuf Kalaycı</p>

<p><b>Execution Time</b>: …</p>

<p><b>Executed by</b>: …</p>

<p><b>Related Requirement</b>:
* Profile  (Requirements 1.1.3.)
* Users shall have a profile page which includes

[2018-04-02 16:29] byklyci commented on #98
I am closing this issue because we seperated task and made our job.

[2018-04-02 16:29] #98 closed

[2018-04-02 16:30] byklyci commented on #99
I am closing because it is done.

[2018-04-02 16:30] #99 closed

[2018-04-02 16:31] byklyci commented on #101
I am closing because it is done.

[2018-04-02 16:31] #101 closed

[2018-04-02 16:31] byklyci commented on #100
I am closing because it is done.

[2018-04-02 16:31] #100 closed

[2018-04-02 16:32] byklyci commented on #89
I am closing this issue. Thanks for the job.

[2018-04-02 16:32] #89 closed

[2018-04-02 16:33] byklyci commented on #76
I am closing this issue.Thank for the job.

[2018-04-02 16:35] byklyci commented on #83
If the issue is done, please close it.Thanks for your effort.

[2018-04-02 16:36] byklyci commented on #88
If the issue is done, please close it.Thanks for your effort.

[2018-04-02 16:36] byklyci commented on #91
If the issue is done, please close it.Thanks for your effort.

[2018-04-02 16:36] byklyci commented on #102
If the issue is done, please close it.Thanks for your effort.

[2018-04-02 17:13] okyksl commented on #76
I think we have a very small alteration task that @akaogluozgur will handle in the upcoming days.

[2018-04-02 18:46] #102 closed

[2018-04-11 23:33] #83 closed

[2018-04-29 10:43] kemaltulum opened #119 "Complete Twitter API Project"
Hi everyone,

We did a good stuff on this project and each one of us has a separate branch working on it. However, we should merge our branches with TwitterAPI and resolve conflicts if they occur. This is because all the work shall be collected into the same place.

Merging can be done basically with this process:

Run this command in your branch:
`git merge TwitterAPI`
This command brings the cod

[2018-04-30 18:51] okyksl opened #120 "Project Overhaul"
So far we have managed to create high quality and creative work on wide-variety of subjects throughout the _Software Engineering_ landscape. I believe we all tried our best to do each task as good as possible with a sense of responsibility. We devised tools that we may utilize, we reflected on ourselves and our works a lot, we researched and studied a lot, we reviewed our work to make it meaningfu

[2018-04-30 19:27] akaogluozgur commented on #120
I strongly agree with you. As you say above, I think what we should do first is improving our feedback and reflection mechanism. ( This can be done by increasing communication among our teammates. Thus we can follow and back up each other.)

[2018-05-07 06:05] nazmicancalik opened #121 "Addition of (redesigned earlier) new Web Mockups"
Due to the problems with the proto.io (which we used to draw mockups), we weren't able to get and add the redisigned web mockups to our wiki page. Finally, somehow we have managed to get the screenshots of those web mockups pages. And they are added with a delay.

[Go to web mockups](https://github.com/bounswe/bounswe2018group9/wiki/Web-Mockups)

Ps: This issue is opened for information purposes.

[2018-05-07 06:30] mericturan commented on #121
The new design for the web mock-ups seems much nicer. I have two things to say though:

1. When did the problems start to occur with proto.io?
2. You still have your old web mock-up design in page [Mockups(Both)](https://github.com/bounswe/bounswe2018group9/wiki/Mockups(Both)).

[2018-05-08 19:03] nazmicancalik commented on #121
* Our trial ended after 2 weeks from the time we started doing web mockups. We created these new mockups back then however couldn't take them from the system. After a while we were able to get the screenshots. So we put them with a little delay but the original work has been done at its time.

* I will now swap the old mockups with the new ones in the **Mockups (Both)** page also, thanks for remin

[2018-05-08 19:03] #121 closed

[2018-05-13 08:11] okyksl opened #122 "Status Reports"
As we have discussed, I prepared a `Status Report` about our [meetings](https://github.com/bounswe/bounswe2018group9/wiki/Status-Report-%231-Meetings). I would like to know your ideas about the scheme of the report and I would like to know if you think status reports will be beneficial or not. I certainly think preparing reports in reflective, thoughtful manner will give us some perspective and cl

[2018-05-13 11:38] gumityolcu commented on #122
**About the general scheme of Milestone Review Reports :** I think the structure of the document is great. It captures the current state of the deliverables, what mistakes we made and what we should do not to make them again. Great work!

**About division of labor for the Milestone Review Reports :** We have always adopted a mindset such that everyone is welcome to contribute to any task of the pr

[2018-05-13 11:47] serkan-ozel-2015400123 commented on #122
I think the report you wrote is good for reviewing the weeks, what we have done and forming the homework easily

[2018-05-13 13:44] gumityolcu commented on #122
Guys I'd like to take Milestone 3(Planning) Review Report. As I said, feel free to contribute. I will add the link to the review page once I finish reflecting and other matters and start it

[2018-05-14 21:05] didemongu commented on #122
I will take milestone 4 (user-view anaylsis) review report.

[2018-05-16 10:21] okyksl opened #123 "Status Report #1 - Meetings"
I'm waiting your valuable comments & review on [Status Report #1 - Meetings](https://github.com/bounswe/bounswe2018group9/wiki/Status-Report-%231-Meetings). Here is a checklist to track our review status:

* [ ] Gökhan Tekel
* [ ] Didem Öngü
* [ ] Hamdi Özgür Akaoğlu
* [ ] Nazmican Çalık
* [ ] İlyas Demirkıran
* [x] Yusuf Kalaycı
* [x]  Serkan Özel
* [ ] Kemal Tulum
* [x] Galip Ümit Yolcu
* [x] Oğ

[2018-05-16 11:42] okyksl opened #124 "Milestone Review #4.1"
I added [Requirement Analysis Grooming](https://github.com/bounswe/bounswe2018group9/wiki/Requirement-Analysis-Grooming) page to make [Requirement Analysis](https://github.com/bounswe/bounswe2018group9/wiki/Requirement-Analysis) maintenance more easier. If you have time, please consider any consistency & coherence problems, missing items and possible improvements in our [Requirement Analysis](http

[2018-05-16 13:27] serkan-ozel-2015400123 commented on #124
Also why the number of this milestone is 4.1?

[2018-05-16 13:27] serkan-ozel-2015400123 commented on #119
Is this okay to be closed

[2018-05-16 13:28] #88 closed

[2018-05-16 13:51] serkan-ozel-2015400123 commented on #124
An issue about 1.1.1.4 and my suggestion
issue:

suggestion:

[2018-05-16 14:03] serkan-ozel-2015400123 commented on #124
can you explain the purpose of this adjustment  Oğuz? I think these two requirements are different if you mean to combine them or categorize under same category.

About  these points

I changed timeline. It is all about the history of events that a user attended now.

What is the point here there are not such requirements do you mean to write them in this manner

[2018-05-16 14:09] serkan-ozel-2015400123 commented on #124
1.1.4.4. [missing]  Users shall be able to get event recommendations based on their information on the system (event history, user they follow, their interests)

You stated this, we have something like this in system requirements but what can be added is, users' choice of taking recommendation or not.  This can be added under profile section I guess.

[2018-05-16 14:11] serkan-ozel-2015400123 commented on #124
Should a user be able to see only his followed users' timeline or all of the users who give this permittion to the system?

[2018-05-16 14:12] serkan-ozel-2015400123 commented on #124
Yeah this is right. I was confused feed with timeline. Now, I conclude timeline is about history, feed is like twitter main page.

[2018-05-16 23:47] okyksl commented on #119
I believe we're done here. To be sure, let @kemaltulum close this issue as he overviewed the whole process.
As a note, if one wants to participate **API Documentation** or **Unit Testing**, our API is waiting you :)

[2018-05-17 10:17] okyksl commented on #91
I'm closing this issue since it's been inactive for a long period.

[2018-05-17 10:17] #91 closed

[2018-05-17 10:31] okyksl commented on #105
I see that I failed to complete milestone descriptions fully. Hopefully, I will address this in coming days. For further review on this subject, @gumityolcu is working on the **[Milestone #3 report](https://github.com/bounswe/bounswe2018group9/wiki/Project-Plan#milestone-3-planning)**.

[2018-05-17 10:31] #105 closed

[2018-05-18 04:42] serkan-ozel-2015400123 opened #125 "Reorganization of the requirements"
I have reorganized all the requirements and remove redundant information there. **We need
to update the references to the requirements** @bounswe/bounswe2018group9

Now, our requirements include all the requirements that our customer specified and it doesn't include redundant information hopefully. If you think it does please tell me.

[2018-05-18 04:45] serkan-ozel-2015400123 commented on #125
Note that grooming page is now not correct and can be deleted for now. I am changing the reference to a brand new page for the new grooming page.

[2018-05-18 11:17] serkan-ozel-2015400123 commented on #122
Will we write 9 milestones and final milestone in the form you specified @okyksl right?

[2018-05-18 11:18] serkan-ozel-2015400123 commented on #122
And requirement analysis was our second milestone right? I can take it

[2018-05-18 11:31] serkan-ozel-2015400123 commented on #122
Also do not forget our first requirements milestone 0: set up repository
Are we doing revising on milestones? Am I right? @okyksl

[2018-05-18 11:39] serkan-ozel-2015400123 commented on #122
Why there are two milestone 2s? [first](https://github.com/bounswe/bounswe2018group9/wiki/Milestone-%232-Initialization)
[second](https://github.com/bounswe/bounswe2018group9/wiki/Milestone-%232---Project-Planning)

[2018-05-18 11:42] serkan-ozel-2015400123 commented on #124
Organization is done to requirements analysis, I am doing enumeration now.

[2018-05-18 12:18] serkan-ozel-2015400123 commented on #125
Enumeration is done we need to change references to the correct places. @bounswe/bounswe2018group9

[2018-05-18 16:04] okyksl commented on #124
@serkan-ozel-2015400123 I believe you cleared out most of the requirement items I was concerned with, great work! If there are anything remaining, could you please reword below? I would like to clarify these two main points:

* [Requirement Analysis Grooming](https://github.com/bounswe/bounswe2018group9/wiki/Requirement-Analysis-Grooming) is a secondary document for [Requirement Analysis](https://

[2018-05-18 16:14] okyksl commented on #122
@serkan-ozel-2015400123 I think we revised the milestone structure completely like one or two months ago. You can checkout the latest version of the milestones from [Project Plan](https://github.com/bounswe/bounswe2018group9/wiki/Project-Plan). We have a complete review report on the [Milestone #1](https://github.com/bounswe/bounswe2018group9/wiki/Milestone-%231) which you can checkout. I think `M

[2018-05-20 10:47] serkan-ozel-2015400123 commented on #124
@okyksl  I understand you point about grooming page but I think we should start the grooming page from now on because I have revised everything in requirements and It is very hard to write every change to the grooming page. On the other hand, I think this version of the requirements is stable so let's start a fresh page of grooming page.

I will now write the report by the way in the format we agr

[2018-05-20 11:46] #124 closed

[2018-05-20 15:45] gumityolcu opened #127 "Status Report #1 - Planning"
[Status Report #1 Planning](https://github.com/bounswe/bounswe2018group9/wiki/Status-Report-%231-Planning) is done. I will be reflecting and making additions to it if I can think of any. Like always, feel free to add your thoughts to it and leave a comment under this issue if you have questions, points to discuss, remarks etc.

Here is a checklist that I stole from @okyksl 's [Review #1 issue](htt

[2018-05-22 01:36] kemaltulum opened #128 "Clean Up Unused & Completed Branches"
We have 13 branches in total, at the end of the semester, we should merge all the changes to our master branch. We can delete other branches, if there is no problem with it.

I will be working on this asking for your suggestions if needed.

[2018-05-22 01:48] kemaltulum opened #129 "Report Broken Or Empty Links In Wiki"
We have a number of broken or empty links in our wiki, which is a problem hiding some work we have done. As a task for all of us, we can deal with them.
If there is a situation that you are not sure what to do, then report the link here please.

[2018-05-22 01:49] kemaltulum commented on #129
On the main page, the link **https://github.com/bounswe/bounswe2018group9/wiki/Project** for Project headline is empty. What do you think? Should this be a link? Or, what should it link to?

[2018-05-22 02:00] kemaltulum commented on #128
Deleted branches so far, (I deliberately deleted them, since they are merged with TwitterAPI)
* media-yusuf
* twitterApi-Didem
* account-ümit
* retweet

[2018-05-22 02:17] serkan-ozel-2015400123 commented on #129
@kemaltulum I think we can remove that link and refer to the description pdf in wiki for the project info if needed.

[2018-05-22 02:17] serkan-ozel-2015400123 commented on #128
I have deleted my own latest pull request branch just recently

[2018-05-22 02:24] serkan-ozel-2015400123 opened #130 "Issues, github,proto,xtensio, lucidchart for report"
I have written some reflection about those in the header. You can review and add some more statements in it. I have thought to make them in the same format with the milestone reports(status, acquirements, difficulty and suggestions) but then realized it is not necessary and causes a lot redundant sentences. Therefore, I have combined all the categories into one category.

Here is the link to the f

[2018-05-22 02:26] serkan-ozel-2015400123 commented on #125
I will try to update the references later on, after the last homework, the report. Closing the issue due to that. We basically postpone it and will use the earlier version of the requirements for the report. @bounswe/bounswe2018group9

[2018-05-22 02:26] #125 closed

[2018-05-22 02:27] serkan-ozel-2015400123 commented on #119
@kemaltulum  Can you close this please :)

[2018-05-22 02:31] serkan-ozel-2015400123 commented on #104
In the requirements annotations' definition is the same as the definition in the project description that you can find in the main directory of the repository. If you think it needs some changes can you tell us please, if you don't we can close this issue.

[2018-05-22 06:41] byklyci commented on #122
This evening ı will handle the Milestone 6 which include Acceptance Tests.

[2018-05-22 06:43] byklyci commented on #123
Your writing skills are amazing.Thanks for this good job. @okyksl

[2018-05-22 06:45] byklyci commented on #128
I forgot about delete branch of media-yusuf.Thank you for deletion.TwitterAPI branch is the place where we merge them. :+1:

[2018-05-22 06:47] byklyci commented on #127
Good job :+1:

[2018-05-22 06:50] byklyci opened #131 "Status Report #1 - Acceptance Testing"
[Acceptance Testing](https://github.com/bounswe/bounswe2018group9/wiki/Status-Report-%231-Acceptance-Testing) review is under maintanence. Please add here if you have any comment and question about the Acceptance Tests.  #122

[2018-05-22 08:05] serkan-ozel-2015400123 commented on #127
I have read all the report thank you it is reflects what was actuaally happen

[2018-05-22 08:11] serkan-ozel-2015400123 opened #132 "Status Report #1 - Requirements Analysis Review"
[Status Report #1 Requirements Analysis](https://github.com/bounswe/bounswe2018group9/wiki/Status-Report-%231-Requirements-Analysis) is done. You can state your ideas about it below. Please read the report once since it is important to know what I, as a team member of you, have written to the report.
@bounswe/bounswe2018group9

* [ ] Gökhan Tekel
* [ ] Didem Öngü
* [x] Hamdi Özgür Akaoğlu
* [ ] Na

[2018-05-22 16:17] serkan-ozel-2015400123 commented on #130
Added three more you can check the link

[2018-05-22 17:32] gumityolcu commented on #130
Added TeamGantt

[2018-05-22 18:41] gumityolcu commented on #122
I am taking Milestone #2, I believe it will be complete in a little time.

[2018-05-22 19:33] byklyci commented on #131
The acceptance testing is done.Please check it and if you want any change just do it :smile:
[Milestone #6.1 Acceptance Testing](https://github.com/bounswe/bounswe2018group9/wiki/Milestone-%236.1-Acceptance-Testing)

[2018-05-22 19:39] gumityolcu opened #133 "Status Report #1 - Repository Overview"
[Status Report #1 Repository Overview](https://github.com/bounswe/bounswe2018group9/wiki/Status-Report-%231-Repository-Overview) has a review now. Please check and contribute if you have something to add.

[2018-05-22 19:51] byklyci commented on #131
## HERE IS THE FINAL VERSION PLEASE CHECK IT AND CHANGE THE MISSING OR WRONG PLACE :+1:

## Description
Create acceptance tests which include the project

#### Timeline: 02.04.2018

### Objectives
* Provide one of the main test documents for quality assurance: Test cases for our Course Project.
* Learn how to test the system
* Get familiarity of test cases

### Deliverables
* [Acceptance Tests](ht

[2018-05-22 20:43] byklyci commented on #132
@serkan-ozel-2015400123 good job :+1:

[2018-05-22 21:14] gumityolcu commented on #130
@serkan-ozel-2015400123 For you information: I merged GitHub and Issues files, as issues are part of GitHub. I also hadn't noticed we had a communication document. I merger the Google Hangouts document I created with that file.

[2018-05-23 02:00] kemaltulum commented on #133
Seems very comprehensive! I just wonder if [Our Favourite Repositories](https://github.com/bounswe/bounswe2018group9/wiki/Our-Favorite-Repositories) is one of the deliverables of this milestone

[2018-05-23 02:09] kemaltulum commented on #132
This would be the most cumbersome milestone, probably the most important as well. Thanks for your precious effort @serkan-ozel-2015400123

[2018-05-23 02:26] kemaltulum commented on #104
I examined the related items in the requirement. Actually, they generally refer to the annotations only visible for search engines for improving the SEO performance of web pages. Such annotations are not necessarily editable or determined by end users, rather generated automatically or by hand, I don't know it depends.

I am closing this issue, since we cannot decide on exact specifications of our

[2018-05-23 02:26] #104 closed

[2018-05-23 02:27] kemaltulum commented on #119
We were not done actually, I got the work of @gkhntkl and we are done.

[2018-05-23 02:27] #119 closed

[2018-05-23 02:33] kemaltulum opened #135 "Milestone Review #7.1"
I think, I covered our main concerns in this milestone. All the suggestions and additions are welcome.

[Milestone #7.1 Twitter API](https://github.com/bounswe/bounswe2018group9/wiki/Milestone-%237.1-Twitter-API)

[2018-05-23 03:04] serkan-ozel-2015400123 opened #137 "REPORT DEADLINE 17.00"
[link](https://tr.sharelatex.com/6723986469yhwqpyzvjwtn )
In this link you can see our report's last status. We need to copy milestones into the 3rd chapter. Write evalutaions for chapter 4 including:
* \subsection{ Meetings}
* \section{Further Suggestions}
    * \subsection{Requirements Grooming}
    * \subsection{Backlog Grooming}
    * \subsection{SMART Goals}
    * \subsection{Workflow}

@okyk

[2018-05-23 10:26] gumityolcu commented on #131
I don't understand the first paragraph under 3. Difficulties

[2018-05-23 10:27] byklyci commented on #131
I removed it :+1:

[2018-05-23 10:33] gumityolcu commented on #135
I will add the brief explanations on everyone's coding work.

[2018-05-23 11:14] serkan-ozel-2015400123 commented on #137
Update:

Chapter 4 is now finished, we need assistance in other chapters

[2018-05-26 12:49] byklyci commented on #131
I am closing this issue because it is done :+1:

[2018-05-26 12:58] serkan-ozel-2015400123 commented on #137
Good work everyone

[2018-05-26 12:58] #137 closed

[2018-05-26 12:59] serkan-ozel-2015400123 commented on #130
Thank you umit closing the issue

[2018-05-26 12:59] #130 closed

[2018-05-26 13:04] serkan-ozel-2015400123 opened #139 "Review of the requirements and related diagrams"
As you know, couple of days ago we have finished writing the report. Prior to that I have revised the requirements a little bit. What I did was only removing the redundant requirements and detailing some of the existing ones. The detailing part is not important to add new diagrams sequence diagrams.. for it. Therefore, if we change our requirements now, all we need is to update the references to t

[2018-05-26 13:06] serkan-ozel-2015400123 commented on #76
What is the status here @okyksl  @akaogluozgur

[2018-05-26 17:29] okyksl commented on #76
I haven't communicated with @akaogluozgur further on this topic. I see you have changed the order [Şeyda Karagöz](https://github.com/bounswe/bounswe2018group9/wiki/Şeyda-Karagöz) and [Muhittin Çalışkan](https://github.com/bounswe/bounswe2018group9/wiki/Muhittin-Çalışkan), may I ask the reason?

[2018-05-26 17:37] akaogluozgur commented on #76
We have already submitted the report, that is the state as you should know as well.

[2018-05-26 17:48] akaogluozgur commented on #139
During the initial draft of object diagram, I have spend considerable amount of time to go over requirements and produced the diagram. At that time this issue happened again so I had to revise all requirements from begining. Now , Why did you change enumeration of requirements at the first place, when you change a content that is already in our wiki, you should be the one that consider backward co

[2018-05-27 14:27] gumityolcu commented on #139
I thought we had submitted the report with the former version of the requirements because we reached the consensus that changing the requirements had a great overhead. Since we submitted the report, I think we should study the original requirements for the final exam. I propose -and we probably will have a homework forcing us to- revising the requirements and creating the last version next year, j

[2018-05-28 12:02] serkan-ozel-2015400123 commented on #76
`
I see you have changed the order Şeyda Karagöz and Muhittin Çalışkan, may I ask the reason?
`
I thought it would be better. However, it didnt think the references, took it back again.

 `
We have already submitted the report, that is the state.
`
We are done with this until next semester I suppose closing the issue

[2018-05-28 12:02] #76 closed

[2018-05-28 12:06] serkan-ozel-2015400123 commented on #139
I agree with @gumityolcu , leaving this to some other time.

[2018-05-28 12:06] #139 closed

[2018-05-28 12:50] serkan-ozel-2015400123 opened #140 "Some revisions about class diagram"
Class diagram is very good showing every detail **except constructors**, why **classes** are very short and don't have getter setters?

Also, between annotation and event class the number are **in reverse order** its 0*... 1 but it should be  1...0*, **this is also true between tag and event, vote and event, comment and event  classes**

Another point, why events have type, attendence etc. **as a

[2018-05-28 18:36] okyksl commented on #137
I think we had lot of last day & deadline crisis which is telling, I don't see why we are not even discussing let alone trying to solve this issue?

[2018-05-28 19:33] okyksl commented on #130
I believe there is still work to be done here, but it seems like no-one has the energy to do it. We have to check the language if its consistent, we have to detail out project management reviews a bit to have a comprehensive coverage of the different parts of the project management and we have to give more concrete and detailed suggestions on how to fix problems we're facing on project management.

[2018-05-28 20:19] nazmicancalik commented on #135
Good job @kemaltulum  and @gumityolcu . You can close this issue if there is no need for more contribution.

[2018-05-28 20:33] nazmicancalik commented on #140
@serkan-ozel-2015400123
You are right on some points, let me enumerate
1. As far as I see, classes have getters and setters.
2. During preparation of class diagrams a mistake could be made, we can change the order of relation multiplicities. You are right.
3. That's because they are seperate entities and they will have tables in the database when we designed them. For instance **types, comments, v

[2018-05-28 20:36] nazmicancalik commented on #128
@serkan-ozel-2015400123
I see a branch called serkan özel patch, if it is done can you delete it too @serkan-ozel-2015400123 thanks.

[2018-05-28 20:36] nazmicancalik commented on #128
@gkhntkl You can also delete geo-gokhan branch if it is merged with the Twitter API

[2018-05-28 20:37] gumityolcu commented on #140
@nazmicancalik @serkan-ozel-2015400123 Guys, we have decided to revise the requirements, which affects virtually everything we have done this semester. Anyways, we will have to revise everything after revisin the requirements so any revisions made on class diagrams now could be a waste of time in the end. I propose raising this issue after requirements are dealt with.

[2018-05-28 20:50] serkan-ozel-2015400123 commented on #128
@nazmicancalik  Okay, I will. Thanks for reminding.

[2018-05-28 21:33] gkhntkl commented on #128
@nazmicancalik thank you for reminding of that.

[2018-05-31 12:30] kemaltulum commented on #135
Yes you are right @nazmicancalik Closing the issue

[2018-05-31 12:30] #135 closed

[2018-05-31 12:36] kemaltulum commented on #129
It seems like we did a decent job on this issue, as a last step I checked most of the links and made some small corrections. For this semester, we can close the issue

[2018-05-31 12:36] #129 closed

[2018-10-03 19:06] okyksl opened #143 "Milestone Report -> Status Report"
At the end of our first semester, we started a review & reflect period which gave birth to our status reports on various topics which are accessible [here](https://github.com/bounswe/bounswe2018group9/wiki/Status-Reports). It was a **misnomer** by me to call them **milestone reports** over **status reports**. The thing happened was our frequent milestone design corresponded with specialized period

[2018-10-03 19:17] okyksl commented on #122
As you know, we couldn't finalized our process of status reports last semester as we wished. I see that we have an account of our project in May, 2018 which provides some insight into our processes and critical mistakes. I think we all can learn and benefit by reading them. You can checkout all the reports [here](https://github.com/bounswe/bounswe2018group9/wiki/Status-Reports). I'm closing all th

[2018-10-03 19:17] #122 closed

[2018-10-03 19:17] #123 closed

[2018-10-03 19:18] #127 closed

[2018-10-03 19:18] #131 closed

[2018-10-03 19:18] #132 closed

[2018-10-03 19:18] #133 closed

[2018-10-04 19:28] #143 closed

[2018-10-04 19:28] #120 closed

[2018-10-04 19:32] okyksl commented on #128
Are that anything we need to do on this issue @bounswe/bounswe2018group9 folks?

@kemaltulum I remember that we had a problem in some branch's history where we accidentally exposed our private key. Do you remember anything related, did we solve that issue?

[2018-10-04 19:36] okyksl commented on #140
I think we need to have a session to become familiar with the design we made and later, another session to revise the design. For now, I don't think we can follow this issue.

[2018-10-04 19:36] #140 closed

[2018-10-04 21:10] okyksl opened #144 "Reorganization of Wiki"
I reorganized the sidebar and also the home page of the wiki for easier and clearer navigation. I think having a timeline on the home page where we can regularly post updates, announcements etc., would be beneficial. I also added a links section which might provide direct access to second-order links since I cut down most of them in the sidebar. I would like to see clear description and explanatio

[2018-10-05 08:12] okyksl opened #145 "Annotation related User Scenarios"
We have 3 assigned annotation related user scenario deliverables. Remember to be specific and clear. Let's use different types of annotation in each of the scenarios and possibly some project features that we like and found relevant.

Do not forget to add **acceptance criteria** (or, _definition of done_) to your user scenarios. You can utilize our previously prepared 3 specific user persona & sce

[2018-10-05 08:47] serkan-ozel-2015400123 commented on #145
I am going to modify the one I wrote today ; to add acceptance criteria and a pic maybe. Anything else?

[2018-10-05 08:50] okyksl commented on #145
@serkan-ozel-2015400123 I think it is okay.

[2018-10-05 19:39] okyksl commented on #145
I don't think they are necessary, let's focus on the characteristics of the scenarios.

[2018-10-05 19:40] okyksl commented on #145
@gumityolcu can we track the requirements related with the scenarios?

[2018-10-06 07:33] okyksl opened #146 "Annotation related Requirements"
We have three longish amusing user scenarios created. As we we're creating the scenarios, we had an opportunity to understand that our **requirements** does not reflect or include the _annotations related processes_ in our application.

We have to include and elaborate following requirements:

* How does a user annotate content?
* How does a user interacts with annotated content?

Add anything you

[2018-10-06 08:28] okyksl opened #147 "Acceptance Criteria - Requirements Mapping"
It would be nice if we were to have a mapping from _acceptance criteria to actual requirement items_. That way, we can understand whether that scenario/use case is covered in requirements and, once the requirements is checked that scenario is implemented.

I predict there will be coming updates to the requirements, so this issue can be attended after the necessary changes in requirements.

[2018-10-06 10:19] okyksl opened #148 "Work Breakdown"
We have to breakdown the work to understand the route ahead and plan our project. If we would like to have a working, trackable and useful project plan we need enough details and also meaningful organization of the tasks. We need an initial study to determine the main tasks and possibly some details of these tasks.

@akaogluozgur @kemaltulum @nazmicancalik can you prestudy the areas you are in cha

[2018-10-06 10:29] okyksl opened #149 "Project Management - Communication Plan"
I gave a lot of thought to _project management and communication plan_. I would like to discuss my ideas with you in our next meeting which is on **Wednesday, 10 October**. If there are any suggestions regarding with the project management and communication, let's discuss them _before the meeting_.

[2018-10-06 19:02] nazmicancalik commented on #148
Okay, I will gladly try to explain the workflow that I have in my mind for the __backend__.
As far as I know;

* We should first refine our class diagram so that we would know the data models.
* After deciding on the data models we should create our API Design. Which includes the endpoints that needs to be created.
* After that we will distribute the endpoints to implement among ourselves as backe

[2018-10-06 19:09] nazmicancalik opened #150 "Review of the class diagram"
As a backend team we should review the data we have in order to create the necessary data models.
We should finalize this issue face to face this week.

TO DO Until meeting :
* Review, (be prepared for the meeting) the class diagram.
* Try to search for missing data components in the class diagram.

[2018-10-06 19:12] nazmicancalik opened #151 "Creation of code folders in the repository"
We need to create the folders for codebase. Backend and frontend the things that I have in mind.
For frontend the structure could be different, @kemaltulum can handle the frontend part. I will create the folder for backend part. Any suggestions are welcomed.

[2018-10-06 20:20] #151 closed

[2018-10-07 08:39] okyksl commented on #150
I think we need to change annotation structure to cover these functionalities:

* Annotation can be an image or also a link.
* Annotation can be defined on the multimedia supported in the event description, by selecting a specific area.

Also, with the latter annotation functionally we also need:
* An event or event description structure that is capable of representing the multimedias.

[2018-10-07 09:32] okyksl opened #153 "Code Documentation"
We need to settle what we're going to use for **code documentation**. Let's check for **javascript** and **typescript** based tools that will be rather easy to integrate into our software.

[2018-10-07 20:12] kemaltulum commented on #148
My field is about frontend and Ionic.

For frontend,
* Project setup, integration with backend
* Training of frontend team
* Decide the general structure of the web site, which tabs or parts will exist
* The code structure to support annotations
* Design issues (color, font, harmony etc.)
* Implementation of Angular components
* The synchronization between front end and backed in terms of data str

[2018-10-07 20:38] okyksl opened #154 "Requirements Specification"
We have two requirements specification where one of them is prepared by @serkan-ozel-2015400123 alone. We need to integrate the findings of @serkan-ozel-2015400123 into the our official requirements specification. We are also coming back from a long vacation, thus it may be the case that we can look our project with a more suitable perspective for requirements detection. Altogether, we need to upd

[2018-10-08 06:33] okyksl commented on #145
I'm closing this issue since we have finalized our user scenarios.

[2018-10-08 06:33] #145 closed

[2018-10-09 22:24] okyksl opened #156 "High Level Project Plan"
[Project Plan](https://github.com/bounswe/bounswe2018group9/wiki/Project-Plan) is updated so that it can provide us _light in the coming chaos and darkness_. I would like you to evaluate task hierarchy, task prioritization, time estimations, and finally milestone dates and contents. I strongly need feedback from our team leaders @kemaltulum @akaogluozgur @nazmicancalik, so that we can have more re

[2018-10-09 22:29] okyksl commented on #148
Thanks for your feedbacks @nazmicancalik @kemaltulum. I further studied the main tasks and specifics ahead and, produced a high-level plan. You can follow-up #156 to review the plan.

[2018-10-09 22:29] #148 closed

[2018-10-11 07:00] okyksl opened #157 "User Story #1 - Sign-up"
**Acceptance Criteria:**

- [x] **1.** User shall be able to sign-up with a **name, surname, email and password**.
- [x] **2.** System shall be able to save a user information.
- [x] **3.** System shall be able to encrypt the password securely.

[2018-10-11 07:07] okyksl opened #158 "User Story #2 - Sign-in"
**Acceptance Criteria:**

- [x] **1.** User shall be able to sign-in with an **email and password**.
- [x] **2.** User shall be able to sign-out at any time from the application.
- [x] **3.** User shall be able to see the information she provided (name, surname) after sign-in.
- [x] **3.** System shall be able to check email-password combination.
- [x] **4.** System shall be able to track user aut

[2018-10-11 07:09] okyksl opened #159 "User Story #3 - Facebook Sign-in"
**Acceptance Criteria:**

- [ ] **1.** User shall be able to allow her Facebook account to be used in sign-in process.
- [ ] **2.** User shall be able to sign-in via Facebook account after permission.
- [ ] **3.** System shall be able to retrieve **email, name, surname** information from the Facebook API.
- [ ] **4.** System shall be able to save necessary Facebook API information for further sign