[2018-10-11 11:48] okyksl commented on #149
I updated the [Communication Plan](https://github.com/bounswe/bounswe2018group9/wiki/Communication-Plan) according to our discussions. I will create an another entry that describes our sprint-oriented workflow.

[2018-10-11 11:48] #149 closed

[2018-10-11 11:53] okyksl opened #160 "Meeting #11 - Work Breakdown"
We have to finalize the meeting notes for the `Meeting #11`. We have a page that only lists planned team distribution [here](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-8-October-2018).

[2018-10-11 11:55] okyksl opened #161 "Meeting #12 - Sprint #1"
We have to finalize the meeting document of `Meeting #12`.

[2018-10-11 21:19] okyksl opened #162 "Setup Development Environment"
We have to finalize development environment setups. Everyone should be able to **build and run** the project in their development environment.

- [ ] Gökhan Tekel
- [x] Didem Öngü
- [x] Hamdi Özgür Akaoğlu
- [x] Nazmican Çalık
- [ ] İlyas Demirkıran
- [x] Yusuf Kalaycı
- [x] Serkan Özel
- [ ] Kemal Tulum
- [x] Galip Ümit Yolcu
- [x] Oğuz Kaan Yüksel

[2018-10-16 06:12] okyksl commented on #154
I updated the **User Requirements** section. There are some missing details but I think I covered most of the **core** requirements.

[2018-10-16 09:42] gumityolcu commented on #154
In terms of general structure, I think the path you chose makes a lot of sense. The grouping of the requirements is very useful and comprehensible. Though, as you said too, I believe we can increase the dosage of detail, just a little bit. However, I believe we must be very careful in doing this because lack of coordination and communication while detailing the requirements is one of the reasons w

[2018-10-17 09:10] #144 closed

[2018-10-17 09:10] okyksl commented on #144
We have reviewed the wiki design with **The Customer** and, we are satisfied with the current organization.

[2018-10-17 09:12] okyksl opened #167 "Meeting #13 - Sprint #2"
We have to document our `Sprint #2` meeting [here](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%2313-Sprint-%232-(17.10.2018)).

[2018-10-17 14:06] okyksl opened #168 "User Story #4 - Event Creation"
**Acceptance Criteria:**

- [x] **1.** User shall be able to create an event with a title, text description, performing artists, date and price.
- [x] **2.** User shall be able to view an event by accessing it with its unique identifier.
- [x] **3.** System shall be able to save an event information and assign unique identifier to each event.
- [x] **4.** System shall be able to serve an event inf

[2018-10-21 16:52] okyksl commented on #160
I have finalized the `Meeting #11` document [here](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-8-October-2018). Feel free to drop any comments.

[2018-10-21 16:52] #160 closed

[2018-10-21 20:04] okyksl commented on #161
I have finalized the `Meeting #12` document [here](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%2312-Sprint-%231-(10.10.2018)). Feel free to drop any comments.

[2018-10-21 20:04] #161 closed

[2018-10-21 20:33] okyksl opened #171 "User Story #5 - Event Feed"
**Acceptance Criteria:**

- [x] **1.** User shall be able to view multiple events (only sees title, price, date) within the same page that can list further events as user request.
- [x] **2.** System shall be able to serve multiple event information with an indexing (i.e it can serve events within an arbitrary index range).

[2018-10-21 20:34] okyksl commented on #167
I have finalized the `Meeting #13` document [here](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%2313-Sprint-%232-(17.10.2018)). Feel free to drop any comments.

[2018-10-21 20:34] #167 closed

[2018-10-21 20:41] okyksl commented on #162
@gkhntkl @didemongu @dkilyas @serkan-ozel-2015400123 @kemaltulum can you please report on whether you have setup development environment?

[2018-10-21 20:45] okyksl commented on #147
Our annotation based scenarios are too complicated to utilize as a practical atomic task. They teached us about the annotation and the missing requirements related with annotation. I will try to encode them in more approachable user stories with clear acceptance criteria mappings.

[2018-10-21 20:45] #147 closed

[2018-10-21 20:46] okyksl commented on #150
Is there any progress on data model designs @nazmicancalik?

[2018-10-22 06:50] nazmicancalik commented on #150
We haven't made any changes to the data models. We decided to change the data models on the go when building the app and getting in touch with the frontend team. Because our data model depends heavily on their design. We like to keep the data models simple and stable along the process. @okyksl

[2018-10-22 06:50] nazmicancalik commented on #162
@gkhntkl @didemongu @dkilyas @serkan-ozel-2015400123 @kemaltulum

[2018-10-22 06:52] nazmicancalik commented on #171
@gumityolcu Ümit, I will check the endpoints now but just to make sure are we missing something for the backend part of this task?

[2018-10-22 06:55] nazmicancalik opened #172 "Cloud Deployment"
We need to set up a continuous development environment for our app. For our pricing options, heroku seems to be fine.

[2018-10-22 13:47] serkan-ozel-2015400123 commented on #162
Yeah, I have

[2018-10-22 23:01] okyksl commented on #150
As I see from the following piazza [post](https://piazza.com/class/jlf0sl8gc3p748?cid=21) on milestones, that we need have a some form of report on **design** of the application. I guess this might include the our data model design or our class diagrams. What do you think, should we prepare some sort of document - even if sketchy - to display our current understanding and status?

[2018-10-23 10:30] serkan-ozel-2015400123 commented on #158
Actually we should check these if both frontend and backend are finished & tested ?. @byklyci

[2018-10-23 10:43] serkan-ozel-2015400123 opened #174 "Frontend Task Distribution"
We have discussed with backend team and Suzan teacher and agreed on:
**Until next week:**
(Design is not very important)
- Sign in frontend & functionality
- Sign up frontend & functionality
- Event Creation frontend page & functionality

[2018-10-23 20:19] okyksl commented on #174
@serkan-ozel-2015400123 isn't it the case that **frontend team** already finished #157 and almost #158. We also agreed upon #168 and #171 as of `Sprint #2`. Let's discuss the details of your talk with **The Boss** on meeting tomorrow.

[2018-10-24 10:29] okyksl commented on #162
I assume everyone set up their development environment. Ask any specific issues you have related with _backend development_ to @nazmicancalik and _frontend development_ @kemaltulum.

[2018-10-24 10:29] #162 closed

[2018-10-24 11:55] okyksl opened #175 "Meeting #14 - Milestone #11"
We have to finalize the document of `Meeting #14` [here](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%2314-Milestone-%2311).

[2018-10-24 12:00] okyksl opened #176 "Milestone Elaboration"
We have to elaborate on `Milestone #11`, `Milestone #12`, `Milestone #13`, `Milestone #14` that are available in our planning documents in detail.

[2018-10-24 12:08] okyksl opened #177 "Continuous Integration"
We have to start `Continuous Integration` process to improve our development quality and efficiency. This needs to work in conjunction with #172.

[2018-10-24 12:13] okyksl opened #178 "Continuous Code Review"
Should we start to utilize some sort of **code review** tool to preserve consistency and coherence in our development code such as [SonarCloud](https://sonarcloud.io/about)?

[2018-10-24 14:45] nazmicancalik commented on #177
This issue can be reopened later, however for now as we discussed we will hold on to heroku continuous deployment.

[2018-10-24 15:06] nazmicancalik commented on #175
Meeting document is added accordingly so we can close this issue.

[2018-10-24 15:06] #175 closed

[2018-10-24 15:09] nazmicancalik commented on #174
@serkan-ozel-2015400123 Has the frontend team already distributed the tasks or what is the status?

[2018-10-24 15:20] nazmicancalik commented on #128
Can we again check out the unused branches, there were some unused stale branches that is from the last season. I cleaned up some of the branches, we should clean the other ones also.

[2018-10-24 15:28] nazmicancalik commented on #150
You are right, however as far as I understand from Suzan Hoca, we need to show the data model of the objects that we can show on the frontend for now. For example, events are a perfect match for this purpose. We can try to finalize Event data model so that we can get a feedback from the customer after or during the presentation. (For example, this field is missing, I want to see the attendee count

[2018-10-24 15:29] nazmicancalik commented on #154
If we are done here could you close the issue @okyksl .

[2018-10-24 17:55] nazmicancalik commented on #172
Cloud deployment part is done, I will handle the necessary task automations as soon as we got the frontend folder set up in the master branch. And then share the live link from the repository. I am closing this issue for now, this will be reopened.

[2018-10-24 17:55] #172 closed

[2018-10-24 17:57] nazmicancalik opened #180 "Events CRUD: Delete"
Delete operation for the Events collection endpoint should be implemented.
DELETE to /api/events/:id

[2018-10-24 17:58] nazmicancalik commented on #180
After @gumityolcu merge the f-events branch then @akaogluozgur can work on this issue.

[2018-10-24 18:40] serkan-ozel-2015400123 commented on #128
I suppose resources branch is not used if so, can I delete it @gumityolcu

[2018-10-24 18:43] serkan-ozel-2015400123 commented on #128
@okyksl  Is config branch, gh-pages are used ? Can we merge their small changes to master and delete them? How do we do this?

[2018-10-24 18:45] serkan-ozel-2015400123 commented on #174
We have not yet. We will do it soon

[2018-10-24 19:21] nazmicancalik opened #184 "mLab Integration"
We can use a cloud based database environment for the early stages, we can build the local database later on. At least we should have the option for cloud based database.

Please check: https://mlab.com/

- [x] Create the actopus account in mLab
- [x] Change the database connection on the app.js to connect to the cloud.
- [x] Seed the database with some dummy data

[2018-10-24 19:33] nazmicancalik opened #185 "Event Collection Pagination"
We need to return limited amount of events to the frontend when an api call is made to event list endpoint. You need to check the concept of pagination. You can  refer here : https://stackoverflow.com/questions/45328393/how-to-do-pagination-in-nodejsexpressmongodb

We can always get in touch to solve this issue @gumityolcu

[2018-10-24 19:34] nazmicancalik commented on #180
@akaogluozgur @gumityolcu has already merged his branch, you can start working on this issue now.

[2018-10-24 20:25] nazmicancalik opened #187 "Create task automation with gulp like tool"
We need to create a root project so that we can build and deploy both frontend and backend to heroku.

[2018-10-24 20:31] gumityolcu commented on #185
On it. Thanks :+1:

[2018-10-25 06:43] okyksl commented on #178
I integrated `Codacy` into our repository. I hope it will increase our code quality immediately.

[2018-10-25 12:27] okyksl opened #190 "Endpoint Documentation"
Dear **backend team**, we need a consistent naming for the endpoints and **a simple document** _listing the endpoints and their development statutes_ in our project. @nazmicancalik @akaogluozgur can you handle this?

[2018-10-25 12:38] okyksl opened #191 "Frontend Auth & Data Service Testing"
I have written **an auth and a data service** that is responsible with _interacting with backend and handle data communication_. This services needs to be tested, so that we can start to develop any user interface for appropriate user functionalities.

**What you need to test these services:**
1. Run backend on your machine or utilize deployment on heroku (@nazmicancalik can help you with that), a

[2018-10-25 12:45] okyksl opened #192 "Express Error Handling"
We have to set up **express error handling stubs** to appropriately handle any errors we run into _whether user, backend logic or database_.

[2018-10-25 12:48] okyksl opened #193 "User Interface - Sign-up"
We have to implement user interfaces for **sign-up** functionality to satisfy the needs of #157.

[2018-10-25 12:48] okyksl opened #194 "User Interface - Sign-in"
We have to implement user interfaces for **sign-in** functionality to satisfy the needs of #158.

[2018-10-25 12:50] okyksl opened #195 "User Interface - Event Details"
We have to implement user interfaces for **event creation** to satisfy the needs of #168.

[2018-10-25 12:51] okyksl commented on #174
We have finalized the task distribution among the **frontend team**.

[2018-10-25 12:51] #174 closed

[2018-10-25 13:09] okyksl opened #196 "JWT Token based Authentication"
We have to implement our **authentication & authorization** mechanisms for #157 & #158. Please work in conjunction with **frontend team** to ensure that our written services (#191) **configured according to the backend endpoints** and working well and sound. @nazmicancalik @akaogluozgur could you pleased look at this issue?

[2018-10-25 13:53] okyksl opened #197 "Milestone #12 Presentation Preparation"
We need to prepare our stories for the `Customer Presentation` we have on **Tuesday, 30 October**.

[2018-10-25 13:54] okyksl opened #198 "Milestone #12 Status Report"
We have to prepare a `Status Report` for the `Milestone #12`.

[2018-10-25 18:07] nazmicancalik commented on #190
I don't think we need to create another convention document for this purpose. We can use already prepared ones. Here is an example: https://restfulapi.net/resource-naming/
We will document our endpoints when we create the api docs.

[2018-10-25 18:18] nazmicancalik commented on #184
@byklyci Since I need the cloud database for proper continuous deployment, I will handle this issue. I will assign you with another issue tomorrow

[2018-10-25 20:07] nazmicancalik commented on #184
Here is the database link: https://mlab.com/databases/actopus
Cloud database is connected to the application and live on heroku.
Each post to heroku will populate the cloud db

[2018-10-25 20:07] #184 closed

[2018-10-25 20:09] nazmicancalik commented on #192
@byklyci and @akaogluozgur can dive into this but this is not urgent.

[2018-10-25 20:10] nazmicancalik commented on #191
https://boun-actopus.herokuapp.com/api/events

[2018-10-25 20:12] nazmicancalik commented on #168
Backend  part of this story is done.

[2018-10-25 20:45] gumityolcu commented on #185
I finished the task.

I used the 'mongoose-paginate' package. Currently, GET '/api/events' endpoint needs 2 URL parameters: skip and limit. GET '/api/events/getEventbyOwner' needs 3 parameters: id, skip and limit.

In both cases, if skip is omitted, it is assumed 0, if limit is omitted it is assumed 10. If id is omitted and error message is sent back.

I opened a PR, please give your review and fe

[2018-10-25 20:49] #185 closed

[2018-10-25 20:51] gumityolcu commented on #178
It looks to be working great with the PRs. Thank you, we can discuss about it after using it for a while in one of the meetings.

[2018-10-25 20:53] gumityolcu commented on #171
@nazmicancalik With indexing done now, I don't think we have. We need only reviews :smile:

[2018-10-26 04:10] okyksl commented on #185
@gumityolcu thank you for your consistent effort and progress.

[2018-10-26 04:14] okyksl commented on #178
@nazmicancalik a question: _Single quote_ for backend-js files or _double quote_?
@kemaltulum same question for the frontend-ts files.

[2018-10-26 04:17] okyksl commented on #190
I meant **api docs** which lists the endpoints and whether they are implemented and what parameters they have and etc. Should we open a running document that can be modified from our wiki?

[2018-10-26 07:58] serkan-ozel-2015400123 commented on #128
Yes, I will do it now

[2018-10-26 08:44] serkan-ozel-2015400123 commented on #191
@okyksl  With the code in f-services branch I get the path as "https://boun-actopus.herokuapp.com/api//5bd21fc8703e1f002ff2edfd" i.e events is missing. Is this due to inheritance, i.e this.api refer to data.service's property, not event.service's one?

[2018-10-26 10:19] gumityolcu commented on #185
@okyksl Thank you too mate, you gotta do what you gotta do :laughing:

[2018-10-26 12:37] serkan-ozel-2015400123 commented on #193
@nazmicancalik @gumityolcu Which endpoints we will use for signup and is backend system for it ready?

[2018-10-26 12:37] serkan-ozel-2015400123 commented on #194
@nazmicancalik @gumityolcu Which endpoints we will use for signin and is backend system for it ready?

[2018-10-26 13:30] okyksl commented on #191
@serkan-ozel-2015400123 did `f-services-deploy` solved your problem?

[2018-10-26 13:33] serkan-ozel-2015400123 commented on #191
Yes, it did. I can play with events

[2018-10-26 17:06] akaogluozgur commented on #196
I will check on this issue now, and also @nazmicancalik can help me. I will update the thread as we go along.

[2018-10-27 13:09] gumityolcu commented on #178
@okyksl @nazmicancalik

I personally use single quotes for short, inline strings like JSON variables, endpoint names etc. I use double quotes for strings that are sentences as in error messages. If you think we should choose one for all strings, I would vote for single quotes since I find them more readable. Anyways, it is not a catastrophe for me if we use double quotes neither :laughing:

[2018-10-27 13:11] okyksl commented on #196
@nazmicancalik @akaogluozgur I don't receive `token` both on **frontend and from postman**. This needs to be resolved since we want to **preserve a token representing signed user id** in frontend. So the token needs to include some kind of `_id: ...` field.

[2018-10-27 13:12] okyksl commented on #190
@gumityolcu @byklyci could you please prepare a **document for endpoints** that lists _names of the endpoints and the inputs_.

[2018-10-27 13:31] okyksl commented on #191
We now have working providers/services that talks with our backend. @serkan-ozel-2015400123 thanks for your efforts on this issue.

[2018-10-27 13:31] #191 closed

[2018-10-27 13:32] okyksl commented on #176
@bounswe/bounswe2018group9 can someone handle the pre-work for this issue?

[2018-10-27 13:49] serkan-ozel-2015400123 commented on #178
@gumityolcu About quotes: I used single quotes and request failed, then used double quotes request was successful today. Do you know why? Also in postman this was the case.

[2018-10-27 13:52] okyksl commented on #178
Our rules are written [here](https://github.com/bounswe/bounswe2018group9/blob/master/frontend/tslint.json). When this is not in the `master`, `Codacy` utilizes default options which includes **double quotes**.

[2018-10-27 13:58] serkan-ozel-2015400123 opened #209 "Media Field in Data Model"
@nazmicancalik  @gumityolcu  Dear backend team, can you please add a image property to events' model so that I can show the image later on?

Thanks

[2018-10-27 14:00] serkan-ozel-2015400123 commented on #197
Do we need to write completely new stories?

Also should we prepare some kind of a powerpoint like mockups last term, showing some details not implemented yet ?

@bounswe/bounswe2018group9

[2018-10-27 14:09] okyksl commented on #197
I don't think so, this involves a preparation for presenting the user stories that we have talked so far, namely #157, #158, #168, #171 and maybe a general story involving all four.

[2018-10-27 19:53] okyksl opened #210 "Client Continuous Deployment"
Let's **continuously deploy** our brand new frontend from our cloud. You can find an article written on the subject [here](https://medium.com/@hellotunmbi/how-to-deploy-angular-application-to-heroku-1d56e09c5147).

[2018-10-27 19:55] okyksl commented on #193
We have finalized the first version of sign-up user interface. Thanks @kemaltulum @didemongu for their efforts!

[2018-10-27 19:55] #193 closed

[2018-10-27 19:55] okyksl commented on #194
We have finalized the first version of sign-in user interface. Thanks @kemaltulum @didemongu for their efforts!

[2018-10-27 19:55] #194 closed

[2018-10-27 19:59] okyksl commented on #187
I might have happened to open an issue about the same subject in #210. I shared an article about this topic, I hope it helps.

[2018-10-28 10:26] nazmicancalik opened #219 "Update route for Event data model (PUT handler)"
We need to create a put route for event edit.  Here is an example: https://stackoverflow.com/questions/18601922/using-the-put-method-with-express-js

Put should handle the route : /api/events/:id

[2018-10-28 14:47] okyksl commented on #210
Thanks @nazmicancalik!

[2018-10-28 14:47] okyksl commented on #196
Well done @akaogluozgur @nazmicancalik!

[2018-10-28 18:34] okyksl opened #222 "Branch Naming Convention"
Should we settle on a **branch naming convention** guys?

[2018-10-29 12:03] okyksl opened #224 "Git Workflow"
I see that we have history corruption in our `frontend` branch, we have exactly same commits twice in the same branch. You can checkout these two commits:

* https://github.com/bounswe/bounswe2018group9/commit/6b2e790f7bd24116edafab0f83c255a07b4ba7d6
* https://github.com/bounswe/bounswe2018group9/commit/9fa1e997384ea0a29e081c709f594e1455f1ff02

There are similar commits that repeat in `frontend` b

[2018-10-29 20:35] serkan-ozel-2015400123 commented on #168
When we press create button a post request is done in event-create page, however we get 503 @nazmicancalik @gumityolcu. Can you see why?

[2018-10-29 20:44] serkan-ozel-2015400123 opened #227 "Possible bug in backend while creating event"
Hey team, I get 503 when I want to create a event in event create page. I suppose there is a problem with the backend since it does not respond for about 10 seconds. Same with postman :

![screenshot from 2018-10-29 23-41-09](https://user-images.githubusercontent.com/32355782/47679053-532fee80-dbd4-11e8-8f6c-3c45a0d5beb3.png)

EDIT:

**Can it be due to the fact that we don't send exactly these pro

[2018-10-29 21:02] gumityolcu commented on #227
I used the string "Wed Oct 17 2018 15:12:52 GMT+0300" while testing. This format should work.

[2018-10-29 21:03] serkan-ozel-2015400123 commented on #227
Issue was due to we were sending artists data field which backend does not have. The issue is resolved when I changed it to owner, to match event model in backend

[2018-10-29 21:03] #227 closed

[2018-10-29 21:07] nazmicancalik opened #228 "Add event error handling"
We need to handle any type of database error and send a response to the client.

Current Behavior: System returns 503 in case of an error.
Expected Behavior: Return 500 or 400 status code.

[2018-10-29 21:09] nazmicancalik opened #229 "Add artists field to the event data model"
We need to have artists field for the event data model.
Type: Array of Strings

[2018-10-29 21:11] serkan-ozel-2015400123 opened #230 "Heroku Deployment Link"
Planning to open a new branch for just this commit and merge into master

[2018-10-30 09:21] serkan-ozel-2015400123 opened #231 "Scenarios for Presentation"
**First Scenario**
1. User comes to site and sees sign in page and sign up button.
2. Presses sign up button.
3. User signs up with a name, surname, email and password. Acceptance 1
4. Backend system saves user information and encrypts the password securely. Acceptance 2,3
5. After sign in she sees sign in page again.
6. She enters the e-mail and password she was entered to sign up.
7. She logs in

[2018-10-30 09:35] serkan-ozel-2015400123 opened #232 "GET User Endpoint"
Can you please add endpoints to reach all controllers implemented in backend ?

[2018-10-30 09:38] #150 closed

[2018-10-30 10:00] okyksl commented on #190
@bounswe/bounswe2018group9 @nazmicancalik should we also prepare a **data model documentation** with the **endpoint documentation**?

[2018-10-30 13:00] okyksl opened #233 "Landing Page User Interface"
@dkilyas will search for landing page options that are suitable for our application and, later integrate the landing page.

[2018-10-30 13:03] okyksl opened #234 "Reusable Loading Widget"
@serkan-ozel-2015400123 will develop a **reusable loading widget** that will be used in cases such as api response waiting.

[2018-10-31 16:42] akaogluozgur opened #235 "Preperation of Milestone 1 Report"
We are creating the Milestone 1 Report. You can see and contribute the process from [here](https://github.com/bounswe/bounswe2018group9/wiki/Milestone-1-Report).

[2018-10-31 17:10] nazmicancalik commented on #235
I will add the coding work part now. Also, last two points for the milstone report will be added.

[2018-11-01 08:32] serkan-ozel-2015400123 commented on #231
Actuaaly these were not very not accurate xD

[2018-11-01 08:32] #231 closed

[2018-11-01 08:33] serkan-ozel-2015400123 commented on #222
I think there is a convention in the meeting document

[2018-11-01 08:33] #222 closed

[2018-11-01 08:34] serkan-ozel-2015400123 commented on #168
This is done

[2018-11-01 08:35] serkan-ozel-2015400123 commented on #171
In frontend this part is not done :  that can list further events as user request.

[2018-11-01 08:35] serkan-ozel-2015400123 commented on #157
This is done, looks like.

[2018-11-01 08:36] serkan-ozel-2015400123 commented on #153
Is this done, can we close

[2018-11-01 08:37] serkan-ozel-2015400123 commented on #190
This would be very beneficial. I am looking forward to see. Thank you in advance guys

[2018-11-01 08:39] serkan-ozel-2015400123 commented on #198
From the objectives of this milestone we have not done only this: "Provide basic comment functionality specifically on events. "

How a status report is done ?

[2018-11-01 11:55] okyksl commented on #230
Where is the link @serkan-ozel-2015400123?

[2018-11-01 15:46] #178 closed

[2018-11-01 15:52] okyksl commented on #230
I added the deployment link to the home page of the wiki.

[2018-11-01 15:52] #230 closed

[2018-11-01 15:56] okyksl commented on #231
Hopefully, we will **prepare an actual presentation for next customer meeting** instead of waiting everything to resolve by itself.

[2018-11-01 16:00] okyksl commented on #197
I guess everyone knows what happened at the presentation and, hopefully **some of us take a little bit of responsibility next time**.

[2018-11-01 16:00] #197 closed

[2018-11-01 16:30] okyksl commented on #232
I speak with @nazmicancalik, we have a small bug to fix on this issue.

[2018-11-01 16:32] okyksl commented on #222
@serkan-ozel-2015400123 did we agreed on something? Is it `<task-type>|<main-scope>|<sub-scope>`, e.g `feature/frontend/routing`? I'm unaware of such convention.

[2018-11-01 19:03] serkan-ozel-2015400123 commented on #222
I said what is written to document but we can settle it on whatsapp if any other question arises @okyksl

[2018-11-01 19:05] serkan-ozel-2015400123 commented on #230
Ok, thank you. But I was planning to add the link to readme of the repository, because of that I had closed this issue. @okyksl  Should we still consider doing it? Or wiki is enough ?

[2018-11-01 21:12] okyksl commented on #230
Let's add to the **README** as well.

[2018-11-02 11:02] okyksl opened #237 "Bug: JWT Token Includes Hashed Password"
When I decode the token on the frontend side, I see a password field which contains hashed long string. I think `password` field should be **marked as hidden in mongoose** to avoid any **GET related issues**.

[2018-11-02 11:15] okyksl opened #238 "Feat: JWT Token Expire Date"
The frontend side can't **extract any expiration date from the token** received from the backend. This might be a frontend bug or we might need to specify a `expiresIn` option as stated on [node-jsonwebtoken repo](https://github.com/auth0/node-jsonwebtoken).

[2018-11-02 11:18] okyksl commented on #237
One more note guys, do we need to send both **token** and **user payload**? **Token** already includes necessary **user information**.

[2018-11-03 09:09] okyksl commented on #209
We may bypass storage of **multimedia**s altogether. **The Boss** also suggested to store them online elsewhere instead of in our own platform.

A possible suggestion:
[code]

[2018-11-03 10:49] gumityolcu commented on #229
I will handle this.

[2018-11-03 10:51] gumityolcu commented on #209
We need to decide this together. I suggest talking about this first in the backend team meeting and then discussing the resulting ideas in Actopus meeting.

[2018-11-03 10:51] gumityolcu commented on #219
I will handle this.

[2018-11-04 04:10] serkan-ozel-2015400123 commented on #234
This is done && pr is waiting for review to merge into master

[2018-11-04 04:10] #234 closed

[2018-11-04 17:38] okyksl commented on #128
We have closed up all unused branches.

[2018-11-04 17:38] #128 closed

[2018-11-04 17:43] okyksl commented on #222
I wrote this convention in the [Workflow - Contribution Guide](https://github.com/bounswe/bounswe2018group9/wiki/Workflow) as `<type>/<platform>/<scope>`.

[2018-11-04 17:46] okyksl commented on #180
@akaogluozgur are we done here?

[2018-11-04 17:59] okyksl commented on #187
I think this is closed with #210.

[2018-11-04 17:59] #187 closed

[2018-11-04 18:39] akaogluozgur commented on #180
@okyksl yes we are done.

[2018-11-04 19:15] okyksl commented on #180
Can we merge and close the issue?

[2018-11-05 12:06] gumityolcu commented on #229
This is done and merged.

[2018-11-05 12:06] #229 closed

[2018-11-05 12:06] gumityolcu commented on #219
This is done and merged.

[2018-11-05 12:06] #219 closed

[2018-11-05 12:37] gumityolcu commented on #232
I have resolved the bug and tested the endpoint locally. @nazmicancalik I have pushed my changes, it seems to work now. Can you review and generate a PR if you see fit?

[2018-11-05 14:32] okyksl opened #240 "Authentication Form Validation"
We have to **validate our authentication forms**.

[2018-11-05 14:34] okyksl commented on #233
@dkilyas where are we at this issue? We need a simple design and simple template that we can build on.

[2018-11-05 14:38] okyksl opened #241 "User Profile Interface"
We have to implement our **user profile** interface.

[2018-11-05 14:40] okyksl opened #242 "Event Form Validation"
We have to **validate our event forms**.

[2018-11-05 14:45] okyksl opened #243 "Event Attendance Interface"
We have to implement **event attendance interface**.

[2018-11-05 18:37] okyksl commented on #177
@nazmicancalik can we do the setup together for `CircleCI`?

[2018-11-05 21:29] serkan-ozel-2015400123 commented on #240
First version is done, what else ?

[2018-11-06 19:16] nazmicancalik commented on #237
@okyksl  We don't actually need to send the user information seperately, but at that time we were asked to send the user to the frontend.

[2018-11-06 19:17] nazmicancalik commented on #232
@gumityolcu which branch are we talking about Ümit ?
Or is this already merged.

[2018-11-06 19:18] nazmicancalik commented on #171
@serkan-ozel-2015400123 Do we have a proper styling on this event feed page?

[2018-11-06 19:21] nazmicancalik commented on #209
@okyksl You have mentioned video element in multimedia. Do we have video in requirements? It could be easier just to focus on images at first in my opinion. What do you say?

[2018-11-06 19:30] akaogluozgur commented on #192
@nazmicancalik thank you for information.

[2018-11-06 19:33] nazmicancalik opened #245 "Backend: Annotation Data Structures"
We need to create the database models and endpoints for the annotations. The data models are specified in the following address: https://www.w3.org/TR/annotation-model/

[2018-11-06 19:49] okyksl commented on #209
The requirements uses the word **multimedia**. I think we can go with only **images** for now.

[2018-11-06 19:52] okyksl commented on #171
We have a styling that looks better for sure. However, we need to implement **infinite scroll** like structure for this user story.

[2018-11-07 06:39] byklyci commented on #237
I will handle this issue but I am trying to understand problem for now.

[2018-11-07 06:43] byklyci commented on #238
I need to talk any frontend team member.Right now, I also cant sign in. I am searching this issue right now.

[2018-11-07 06:55] byklyci commented on #237
For Laravel $hidden array in Eloquent models, which automatically hides the given list of properties before sending the object in the response.However, there is no out-of-the-box solution for this in Mongoose (yet).I am looking for the solution.

[2018-11-07 08:49] gumityolcu commented on #232
@nazmicancalik It's the branch feature/bacjend/get-user

[2018-11-07 14:03] byklyci opened #246 "System Connection Error"
The Ionic app does not connect via sign in or sign up right now. I dont understand the reason. Could you please help as a team leader to understand the situation. I dont know this is the frontend or backend fault.

[2018-11-07 19:15] serkan-ozel-2015400123 commented on #232
You can merge after testing I think, so plaease open a pr thanks

[2018-11-07 19:23] serkan-ozel-2015400123 opened #247 "Return type of getUser method in authentication service"
getUser(): User | null {
    const token = localStorage.getItem('token');
    if (token === null) return null;
    const decoded = this.jwtHelper.decodeToken(token);
    return { _id: decoded._id };
  }

Is return type is correct? It returns a object which has only attribute _id. Obviously this is not a User.

[2018-11-07 19:31] serkan-ozel-2015400123 commented on #247
I have refactored this method and I will be commiting the changes to **feature/frontend/profile-page** branch. You can see the changes made to this method there.

[2018-11-07 20:08] serkan-ozel-2015400123 commented on #246
Plus, server is down for now with 503

[2018-11-07 23:00] gumityolcu commented on #190
https://github.com/bounswe/bounswe2018group9/wiki/Endpoint-and-Data-Model-Documentation

Here is the document. It will be updated. For now I have included the endpoints that are implemented but not tested and merged, I have indicated this situation in those endpoints' sections.

Sorry for the delay.

[2018-11-07 23:01] gumityolcu commented on #190
I am closing the issue since it is dealt with. The document will be updated parallel to the progress.

[2018-11-07 23:01] #190 closed

[2018-11-08 07:59] okyksl commented on #238
I can help you @byklyci, what do you need to proceed?

[2018-11-08 08:05] okyksl commented on #237
I think there is **select** attribute for this purpose. As far as I remember, it was something like:

`password: { type: String, select: false }`

Can you try **select** attribute to see whether it actually works? There is also a **select** method you can call after **find**, **findOne** type of queries on the returned object.

[2018-11-08 08:10] okyksl commented on #247
It's actually correct @serkan-ozel-2015400123. Every **User** extends from an **Object** which includes an `_id` field. **Object** is designated to represent our common database related fields, and we have **optional** fields in all of our interfaces - both **User** and **Object** due to the possibility of **unpopulated data**.

[2018-11-08 08:14] okyksl commented on #247
So for example, **User** object in creating a new user wouldn't have any `_id` field since it will be assigned by the **mongoose database**. However, User object that is stored in the token wouldn't have all the data as the token might return solely the `_id` field and the rest of the data can be downloaded from an **GET user api endpoint**.

We might store some basic user information with the **t

[2018-11-08 08:16] okyksl commented on #246
@byklyci did you try signing-in with `Postman`?

[2018-11-08 08:54] okyksl commented on #246
It might be related with **CORS issues** we having. @nazmicancalik @kemaltulum should we enable **CORS**? [Here](https://github.com/expressjs/cors) is a simple package for express server to deal with this issue @nazmicancalik.

[2018-11-08 11:35] gumityolcu commented on #246
I am looking into this issue.

[2018-11-08 12:41] byklyci commented on #237
{
    "user": {
        "_id": "5bd328c98b70590becb953b8",
        "email": "admin@admin.com",
        "firstName": "Nazmican",
        "lastName": "Çalık",
        "password": "$2b$10$YnXvgdwz7eUM61Vf0sX.JuA8peoqBZ6xXA5kqEAeiurrMssHU2MmO",
        "__v": 0
    },
    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1YmQzMjhjOThiNzA1OTBiZWNiOTUzYjgiLCJlbWFpbCI6ImFkbWluQGFkbWluLmNvbSIsImZp

[2018-11-08 12:41] byklyci commented on #237
Do you ask why token lenght is too long ? or anything else

[2018-11-08 14:09] byklyci commented on #237
{
    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1YmU0M2Q5YTVjYWFlZDBmZjg2MjYyNzQiLCJlbWFpbCI6Inl1c3VmQGFjdG9wdXMuY29tIiwiZmlyc3ROYW1lIjoiWXVzdWYiLCJsYXN0TmFtZSI6IkthbGF5Y2kiLCJwYXNzd29yZCI6IiQyYiQxMCRBb2Y1dFR1TVRwWmF2dkRqM2JFLmR1UElYVWMybjFNakVOUXhlckhHQ3QvYVVlcDJPWXZtZSIsIl9fdiI6MCwiaWF0IjoxNTQxNjg0NzU3fQ.ckD3rqzsqw9_cGBJySsoygUZJqaHdDN02_EufDP8fRA"
}

[2018-11-08 14:13] byklyci commented on #237
For now we just see the token not the user info. We talked @okyksl and he said that when he decoded the jwtjsontoken (inspecting the frontend side) he see the hashed password inside the token's decrypted form. Is it normal ? Or, how can we handle this ? @nazmicancalik

[2018-11-08 18:49] nazmicancalik commented on #246
What is the status of this issue ? Are we able to connect using cors middleware? Because, if it is the case we should close the issue.

[2018-11-08 18:50] byklyci commented on #246
In the last PR is the solution but not merge yet. I guess.

[2018-11-08 18:54] serkan-ozel-2015400123 commented on #246
We were able to actually @nazmicancalik, but I am commiting the missing semicolon issue if @okyksl  did not fix it, and merging the branch and we can see that it will work hopefully. (because we tested it and it is working )

[2018-11-08 19:16] serkan-ozel-2015400123 commented on #246
Proxy is not working properly maybe ? I get this when I do  **ionic serve -- --proxy-config=proxy-dev.conf.json**
and **npm run dev** locally

![screenshot from 2018-11-08 22-13-47](https://user-images.githubusercontent.com/32355782/48221611-9859da80-e3a3-11e8-8d17-e61d4cc9f8a2.png)

This the output of **ionic serve -- --proxy-config=proxy-dev.conf.json**  when signing in
![screenshot from 2018-11

[2018-11-08 19:16] nazmicancalik commented on #232
I will create the pr now

[2018-11-08 19:16] #232 closed

[2018-11-08 19:22] #246 closed

[2018-11-08 19:22] serkan-ozel-2015400123 commented on #246
Wrong alarm :)

[2018-11-08 19:25] serkan-ozel-2015400123 opened #249 "Be aware of cors proxy"
@okyksl  said that he will prepare a document for local and production testing but, let me say in advance if you are working locally, that is you are going to start both backend and frontend, you should start backend via **npm run dev**  , you should use this command for frontend: **ionic serve -- --proxy-config=proxy-dev.conf.json**

If you use normal ionic serve, backend will be that in heroku

[2018-11-08 19:30] serkan-ozel-2015400123 commented on #241
Let's start those?  @dkilyas @kemaltulum @didemongu

[2018-11-08 19:31] serkan-ozel-2015400123 commented on #233
@dkilyas You should have finished this, what is the status? Tell us if you don't want to do this

[2018-11-08 20:05] serkan-ozel-2015400123 commented on #241
Started this

[2018-11-08 20:07] serkan-ozel-2015400123 commented on #232
Here do we need this endpoint? The token gives everything we need ? @nazmicancalik  @okyksl

[2018-11-09 10:58] okyksl commented on #209
@gumityolcu I still didn't had the opportunity to check your research. I will dive into this issue **ASAP**.

[2018-11-09 14:18] okyksl commented on #232
The token only gives information of the **user logged**. We need to have some information related with **other users** so that we can display them to the user logged.

[2018-11-09 14:19] okyksl commented on #233
I spoke with @dkilyas, he said he won't be able to this. Probably I'm going to handle this issue.

[2018-11-09 15:39] okyksl opened #251 "Automatically Prolong JWT Token"
We have to **automatically prolong JWT token** whenever it is close to expiration time. Here is a related discussion I found on [stackoverflow](https://stackoverflow.com/questions/26739167/jwt-json-web-token-automatic-prolongation-of-expiration).

[2018-11-09 16:27] okyksl opened #252 "Infinite Feed Scroll"
We need to implement **infinite scroll ability** for feed page.

[2018-11-09 17:28] nazmicancalik opened #254 "Codacy Bot Proper Config"
Which conventions do we follow in codacy bot? Do we have to apply if we use a proper eslint linter for development. In my opinion it makes the process slow.

I have a suggestion: Let's use eslint for linting our code. We can use airbnb syntax as a template, since it is the most common one that is being used in Javascript environments.

Refer here for more info: https://github.com/airbnb/javascript

[2018-11-09 18:17] #238 closed

[2018-11-09 18:19] serkan-ozel-2015400123 commented on #254
Dont have too many ideas about code review :S

[2018-11-09 18:19] serkan-ozel-2015400123 commented on #254
Better @okyksl set the config into final and good form

[2018-11-09 18:58] serkan-ozel-2015400123 commented on #251
Yes I am reading it. And we can do this :

[2018-11-09 19:17] byklyci commented on #238
**We handle this issue so I am closing the issue.**

[2018-11-09 19:36] serkan-ozel-2015400123 opened #255 "Possible bug about returning feed ??"
When I try to sign in it goes to this adress and nothing happens even though my credentials are true: http://localhost:8100/signin?return=%2Ffeed

EDIT: Why this works at heroku? i.e It does happen in local only

[2018-11-09 19:41] okyksl commented on #255
@serkan-ozel-2015400123 did you updated your **backend**, specifically we need **expiresIn** field in JWT token to ensure that **frontend** can detect whether token is outdated or not. If you didn't, probably **expiresIn** field is missing and **frontend** thinks that your newly acquired token is already outdated.

[2018-11-09 19:43] serkan-ozel-2015400123 commented on #255
How to update my backend? I have pulled the commits and run npm install in case it is needed, what else?

[2018-11-09 19:52] okyksl commented on #255
Did you restart all your local development processes? It may be related with caching or something.

[2018-11-09 20:01] serkan-ozel-2015400123 commented on #255
No, Its same. Does not matter if I do --proxy-config=.. or not

[2018-11-09 20:02] serkan-ozel-2015400123 commented on #255
I stopped backend and frontend processes then restarted them

[2018-11-09 21:05] serkan-ozel-2015400123 commented on #242
This is finalized you can see it in #244

[2018-11-09 21:05] serkan-ozel-2015400123 commented on #240
This is finalized in #244

[2018-11-10 10:45] okyksl commented on #255
@serkan-ozel-2015400123 does this issue persist?

[2018-11-10 10:58] okyksl commented on #254
@nazmicancalik @serkan-ozel-2015400123 I have set the **single quote** as preferred option. We are using `ESLint 5.7.0`. I added @nazmicancalik to the `Codacy` platform, and I welcome anyone who is interested to join `Codacy` dashboard.

@nazmicancalik @serkan-ozel-2015400123  Is there any further issues regarding with **automatic code review**?

[2018-11-10 11:48] serkan-ozel-2015400123 commented on #255
Yes, I will check if jwt returns a expiration date.

[2018-11-10 11:53] serkan-ozel-2015400123 commented on #254
I guess no. @okyksl  thanks.

[2018-11-10 14:00] serkan-ozel-2015400123 opened #257 "Errors frontend and backend integration"
I am going to handle errors such as
1 - If something wrong with client such as network error
2-  If something is wrong with backend such as : password was wrong,

I suppose we need to have a consensus on return codes and errors. @okyksl should clearify what is needed to be settled, I think.

[2018-11-10 14:36] serkan-ozel-2015400123 commented on #233
What is upcoming ? What are you working on?

[2018-11-10 16:02] nazmicancalik commented on #257
@akaogluozgur is working on the subject as of this week. This doesn't have to be a seperate issue. You can checkout @akaogluozgur 's job from here: #192 We will use express validator for database related validation and error handling. Basic error structure will be assumed as the express-validator error structure.

Please refer here: https://express-validator.github.io/docs/

If you think the error

[2018-11-10 16:04] nazmicancalik commented on #255
Are we done here @serkan-ozel-2015400123 ?

[2018-11-10 16:05] nazmicancalik commented on #247
Are we done here? What's the status?

[2018-11-10 16:16] nazmicancalik opened #258 "Event Attendance"
Event attendance endpoint is required for registering users to the events.

POST to: __/api/events/:id/attendance__

`req.body: {
attendant: user_id,
attendanceType: 0 | 1 | 2
}
`

**0 => will not attend
1 => going to attend
2 => may attend**

This is the format I have come up with, any feedback or improvements are welcome. @okyksl @serkan-ozel-2015400123 @gumityolcu

[2018-11-10 16:17] dkilyas commented on #233
The next one will be the welcome page and then feed.

[2018-11-10 16:17] serkan-ozel-2015400123 commented on #257
Thanks

[2018-11-10 16:17] #257 closed

[2018-11-10 16:18] serkan-ozel-2015400123 commented on #255
Yes I deleted localstorage 'token' entry to solve

[2018-11-10 16:18] #255 closed

[2018-11-10 16:19] serkan-ozel-2015400123 commented on #247
Not smthng intesesting left from this issue

[2018-11-10 16:19] #247 closed

[2018-11-10 16:19] serkan-ozel-2015400123 commented on #249
The document is ready

[2018-11-10 16:19] #249 closed

[2018-11-10 16:19] serkan-ozel-2015400123 commented on #254
Okay to close ?

[2018-11-10 16:20] serkan-ozel-2015400123 commented on #242
Discuss at #244

[2018-11-10 16:20] #242 closed

[2018-11-10 16:20] #240 closed

[2018-11-10 16:20] serkan-ozel-2015400123 commented on #240
Discuss in #244

[2018-11-10 17:06] nazmicancalik opened #260 "Documents must be returned populated in necessary cases"
We need to return the events with the populate method, as we need to send the reference fields as a single unified document that is joined.

**For example:** One event get request to /api/events/:id must return the event with all attendees in a single document.

Please refer here for more info: https://mongoosejs.com/docs/populate.
This page has a proper explanation, if further issues you can cont

[2018-11-10 17:54] byklyci commented on #237
I talked @nazmicancalik and we tried to hide password inside token payload, but our architecture is based on password and we have to control in the backend the correct password or not.If there is a solution from the frontend side (for example not allowed decoding the token payload or sth.), it will be easy solution.However we have to re-implement all the backend side user including implementation.

[2018-11-10 19:28] okyksl commented on #254
@nazmicancalik?

[2018-11-10 19:29] okyksl commented on #249
We have to continue updating our **development documents**.

[2018-11-10 19:34] okyksl commented on #257
We have both **mongoose errors** and **express errors**. Additionally, there are some edge case errors that **mongoose can't catch** such as _duplicate id_ (**mongodb returns raw error message**). Are we covering all that in #192?

[2018-11-10 21:18] okyksl commented on #260
@gumityolcu I guess in future, there will be votes, comments & etc. too

[2018-11-10 21:50] okyksl commented on #251
Nope, it's not handled.

[2018-11-10 21:52] okyksl commented on #195
@serkan-ozel-2015400123 these are not for #168, but we need to **add image selection & location selection**.

[2018-11-10 21:53] okyksl commented on #235
I think it's okay to close now.

[2018-11-10 21:53] #235 closed

[2018-11-10 21:54] okyksl commented on #258
Should we also include the following?

**3 => attended**
**4 => not attended**

[2018-11-10 21:55] byklyci opened #263 "User name field change-code review"
We want to change the user fields with the basic one , just include **name**. I will erase the lastName and the firstName.I will handle the problem. ***Frontend Team***, please be aware of this.

[2018-11-10 22:04] byklyci commented on #263
I change the code and test it with the postman and everthing is cool.

[2018-11-10 22:15] byklyci commented on #158
Is there still necessary **3. User shall be able to see the information she provided (name, surname) after sign-in.** ?? @okyksl

[2018-11-10 22:16] byklyci commented on #157
Sign up page is actually ok.So I am closing this issue. :+1:

[2018-11-10 22:18] byklyci commented on #159
Is there any progress for this issue? The assignees please inform us.

[2018-11-10 22:18] byklyci commented on #168
Is this done? @gumityolcu

[2018-11-10 22:20] byklyci commented on #237
I solved the problem and this issue is done. :+1:

[2018-11-10 22:20] #237 closed

[2018-11-10 22:38] okyksl commented on #237
Thanks @byklyci!

[2018-11-10 22:40] okyksl commented on #263
This is also addressed by **frontend team**.

[2018-11-10 22:40] okyksl commented on #263
Upppsss, this is probably not **addressed by** @serkan-ozel-2015400123 in **profile page**.

[2018-11-11 04:12] serkan-ozel-2015400123 commented on #158
Actually we can show user information on branch feature/frontend/profile-page
I have opened a pr #261

[2018-11-11 06:48] okyksl commented on #159
@akaogluozgur

[2018-11-11 06:50] okyksl opened #268 "Feed Endpoint"
@nazmicancalik we also have to implement **feed data model**, right?

[2018-11-11 07:03] nazmicancalik commented on #268
Yes, you are right @okyksl. I wouldn't call it data model because we only need to implement an endpoint that responds differently to every unique user. We need to create a feed endpoint that is filtering and sorting the events according to given statistics.

These statistics include but not limited to:

1. Interests of the user
2. Following friends of the user
3. Status and popularity of the event

[2018-11-11 07:07] nazmicancalik opened #269 "Interests Endpoints"
We need to be able to hold the interests of a user. This is needed for feed #268 .
We should be able to get/save/update/delete the interests of the user.

[2018-11-11 07:09] nazmicancalik opened #270 "Interest Types"
We need to define interest types so that we can fill our data model accordingly. Please create a document in wiki or simply document here the interest types.

[2018-11-11 07:11] nazmicancalik opened #271 "Search"
We need to be able to serve an endpoint for searching events. Search strategy can be cumbersome so we need a proper setup and research for this topic.

[2018-11-11 07:19] nazmicancalik opened #272 "Convert to Promises when using mongoose"
We are better of using promises rather than callbacks. Because our queries will get complicated as we move along.

Ps: I will handle this issue myself. After we switched to promises, everyone should follow the same strategy.

[2018-11-11 08:31] #272 closed

[2018-11-11 09:22] okyksl opened #275 "Comment Data Model"
We have to implement **post** data model to allow user to share their experiences.

[2018-11-11 09:26] okyksl opened #276 "Comment Card User Interface"
We have to implement interface for **post card**.

[2018-11-11 09:28] serkan-ozel-2015400123 commented on #276
Just a question:

Isn't our event card model designed to be used as a event post? What other posts a user can send, not an event?

[2018-11-11 09:30] okyksl commented on #276
I would say they are almost identically same. For example, user might share **just text**.

[2018-11-11 09:35] serkan-ozel-2015400123 commented on #276
In my opinion, we should have post types:

1- Event with event card model
2- Just text with including one or more of these:
    * photos or videos
    * annotations possible on text and photo
    * location

What do you think ? @okyksl @dkilyas @didemongu @kemaltulum

[2018-11-11 09:45] okyksl commented on #209
We will have **multimedia** in three different ways: **user profile image**, **post attached multimedia**, **event attached multimedia**. I think we only need annotations for the third case. We can create **a separate data schema for multimedia** but i think that **if it lives inside `associated_object` then it will be more efficient**.

[2018-11-11 12:51] serkan-ozel-2015400123 opened #277 "Bug: A link is unclickable"
<ion-label position="stacked">
              <b>Password</b>
              <a routerLink="/recover" float-right>Forgot password?</a>
            </ion-label>

This link is unclickable, note that I have changed it from href to routerlink; this does not matter in terms of clickability. However, another reason i.e because it is inside the label may be it is unclickable. If I take it out I can click t

[2018-11-11 18:50] okyksl commented on #277
@serkan-ozel-2015400123 I think it's clickable but there is no path named **recover**.

[2018-11-11 18:52] okyksl commented on #276
I don't think we need a **event card** rather we need to have **event details** page. Let's make a **feed card** which can contain **event link, multimedia & texts**.

[2018-11-11 19:00] serkan-ozel-2015400123 commented on #277
@okyksl This is not true. Even if there isnt a page there, we should be able to navigage there and get and error or returned by your system to another page. You should test a little to figure out actually

[2018-11-11 20:17] okyksl commented on #277
Thanks for the heads up @serkan-ozel-2015400123. It seems like **ion-item** sucks all the **click events**. I will address these issue soon.

Side question: Should I go for a PR where I merge **password-recover**, **href bugs** and **unclickable bug**?

[2018-11-11 20:29] serkan-ozel-2015400123 commented on #277
Possible. But recover page should take time, so in my profile pr, href bugs are handled. no problem though, I may change master faster than a new pr and you may rebase master afterwards. Still we need recover page :)

[2018-11-13 10:08] okyksl opened #278 "Heroku & Ionic Feedback"
We're waiting your decision and suggestions related with `Heroku` & `Ionic` platforms.

[2018-11-13 10:44] okyksl commented on #275
We discussed with @nazmicancalik and we decided to handle **posts** as **comments.

[2018-11-13 10:54] nazmicancalik opened #279 "Voting Endpoints"
We need to implement a voting endpoint for event vote management.

[2018-11-13 11:16] okyksl opened #280 "Image Picker Service"
We need implement an **image picker service** that enables us to select images from device gallery in case of a mobile client and from file system in case of a browser client.

[2018-11-13 11:17] okyksl opened #281 "Location Service"
We need implement a **location service** that enables us to pick locations from the `Google API`.

[2018-11-13 11:21] okyksl opened #282 "Cloud Deployment Platform"
@didemongu will initialize a `AWS` account for `Actopus` utilizing _GitHub Education Package_.

[2018-11-13 11:28] okyksl opened #283 "Forgot Password Interface"
We have to finalize our **forgot password** page.

[2018-11-13 11:29] okyksl opened #284 "Email Setup"
We have to setup an email account for our **automatic email functionalities** that will be utilized from `Actopus Backend`.

[2018-11-13 11:31] okyksl opened #285 "Forgot Password Email"
We have to implement **forgot password** endpoint and **email services** on backend platform.

[2018-11-13 14:45] okyksl opened #286 "Comment Creation Interface"
We have to implement **comment creation interface**.

[2018-11-13 15:00] okyksl opened #287 "Mongoose Validation"
We have to finalize our **mongoose data model validation**.

[2018-11-13 15:01] okyksl opened #288 "Express Query Validation"
We have to implement **query param validation** for our backend express endpoints.

[2018-11-13 15:03] okyksl commented on #276
We will be consider **posts** as **comments**, thus we're going to create a comment cards interface.

[2018-11-13 15:04] byklyci commented on #288
Do you mean that checking params validation like password min lenght max lenght or email format with @ etc.Can you give more detailed specifications @okyksl ?

[2018-11-13 15:06] byklyci commented on #263
We handle this issue so I am closing it.

[2018-11-13 15:06] #263 closed

[2018-11-13 16:31] didemongu commented on #270
I determined a few interest types. Here these are
- Movie
- Music
- Jazz
- Biennial
- Theater
- Exhibition
- Modern Art
- Art Movie
- Photography
- Travel
- Festival
- Museum
- Workshop
- Ballet
- Dance
- Classical Music
- Opera
- Blues
- Turkish Folk Music
- Concert

[2018-11-14 09:45] okyksl commented on #270
@nazmicancalik even though we talked that _we can store them in frontend client_, I think it would be better if we store them _in backend_. We may want to utilize them in **recommendation system** or possibly in **searching system**. (Related with #269)

[2018-11-14 14:06] nazmicancalik opened #289 "Recommendation/Feed Service"
We need to rank our events according to user preferences so that we can show a reliable feed to the users.

[2018-11-14 14:36] okyksl opened #290 "Event View Page Interface"
We have to finalize our **event view page interface**.

[2018-11-14 14:38] okyksl opened #291 "Following Interface Design"
We have to implement **follower/following widget interface**.

[2018-11-14 14:39] okyksl opened #292 "Following Endpoints"
We have to implement **following endpoints** and make necessary adjustments in our data models.

[2018-11-14 14:39] okyksl opened #293 "Text Annotation Interface Design"
We have to implement client side of **text annotations**.

[2018-11-14 14:40] okyksl opened #294 "Mobile Initialization"
We have to **initialize our mobile version** of our hybrid application.

[2018-11-14 14:41] okyksl opened #295 "Customer Meeting #2"
We have to prepare for our `Customer Meeting #2` so that we can avoid mistakes that occurred in `Customer Meeting #1`.

[2018-11-14 14:42] okyksl opened #296 "Vote Interface"
We have to implement **vote user interface**.

[2018-11-14 14:42] byklyci commented on #281
Can you inform me about the usage of Google API in the frontend side. @kemaltulum

[2018-11-14 14:43] okyksl opened #297 "Location Storage"
We have to integrate `Google API` **location data** to our data models.

[2018-11-14 14:44] okyksl opened #298 "Staging Branch"
We have to setup our **staging** workflow.

[2018-11-14 14:45] okyksl opened #299 "Amazon Setup"
We have to transfer our backend application from `Heroku` to `AWS services`.

[2018-11-15 10:31] mericturan commented on #278
As we discussed both this semester (in CmpE451) and last semester (in Cmpe352), I do not want you to use any kind of hybrid platform including Ionic as the customer. However, @okyksl told me that Professor @uskudarli approved Group 9 to use Ionic. If that is truly the case, then I am ok. We are waiting for your comments about this issue Professor @uskudarli.

[2018-11-15 12:21] serkan-ozel-2015400123 commented on #282
@okyksl  We will use AWS or Digital Ocean?

[2018-11-15 12:33] serkan-ozel-2015400123 commented on #269
I am also going to use this endpoint to implement profile interest page

[2018-11-15 12:39] serkan-ozel-2015400123 commented on #270
Music and blues and opera, movie and art movie etc. are subsets of each other should we change a little bit these @didemongu

[2018-11-15 14:00] okyksl commented on #270
Are these correspond to our **semantic tags**?

[2018-11-15 16:13] gumityolcu commented on #299
We have applied for AWS Educate. We are waiting for response e-mail.

[2018-11-15 18:10] gumityolcu commented on #245
On it

[2018-11-15 19:01] byklyci opened #301 "TEST Event Data Model"
We need to test and review the event data model. The model need to be tested ASAP.

[2018-11-15 19:05] nazmicancalik opened #302 "Event Creation Endpoints Update"
Event creation endpoint has to be improved because we added new fields to the event data model. We need to make sure that before saving an event we have all the necessary fields created in the database.

[2018-11-15 19:06] gkhntkl opened #303 "Endpoint Documentations"
We need to define filters and parameters for all endpoints

[2018-11-15 19:12] serkan-ozel-2015400123 commented on #291
What kind of a widget should we design

[2018-11-15 19:12] serkan-ozel-2015400123 opened #304 "Annotation W3 Data Model"
Is it reasonable to read all the document for everyone nowadays? When to read how much portion of it etc? @bounswe/bounswe2018group9

[2018-11-15 19:13] byklyci commented on #302
I am working on it right now.

[2018-11-15 19:16] gumityolcu commented on #304
I am reading to document in order to generate an annotation data model template for the backend part. There should be at least one person from the frontend team to read the document at least once. I believe you may skip some parts if you believe them to be not essential, without forgetting those parts exist and consulting them when necessary.

[2018-11-15 19:22] serkan-ozel-2015400123 commented on #302
@byklyci  @nazmicancalik  please also update >> [click](https://github.com/bounswe/bounswe2018group9/wiki/Endpoint-and-Data-Model-Documentation)  after changes in endpoint and event data model

[2018-11-15 19:49] serkan-ozel-2015400123 opened #307 "User Data Model Date of Birth and Nationality missing"
In requirements it says

Users shall have a profile page which includes their information. (name, surname, date of birth, nationality)

we dont have date of birth and nationality in backend. Please add them too
@nazmicancalik @gkhntkl @gumityolcu @byklyci

[2018-11-15 20:23] okyksl commented on #301
First of all, **backend** team seems to be busy and rolling! Thanks for the effort guys @byklyci @gumityolcu @nazmicancalik @gkhntkl.

I have couple points on our new event data model:
1. Shouldn't we also need a `count` property inside the `comments`?
2. Can we also store a `parent` field inside individual comments so that we can displayed whom commented on which comment? This field can be null (

[2018-11-15 21:56] byklyci commented on #307
Ok I am looking this issue right now. :+1:

[2018-11-15 21:58] byklyci commented on #302
Yeah we will do it ASAP @serkan-ozel-2015400123

[2018-11-15 22:01] byklyci commented on #297
I made the data schema for the location in the events. The real job is frontend team right now.They should connect the Google Api. @kemaltulum  #281

[2018-11-15 22:31] byklyci commented on #307
We don't use surname and name format we just use the **name** format for both of them.I added the birth and nationality.I solved the problem and it is ready to PR whatever you need. @serkan-ozel-2015400123 .

[2018-11-15 22:43] byklyci commented on #279
Vote attendance endpoint is required for registering users to the events.

POST to: /api/events/:id/vote

req.body: { voted: user_id, voteType: 0 | 1 | 2 }

0 => downvote
1 => upvote
2 => notvoted

This is the format I have come up with, any feedback or improvements are welcome. @nazmicancalik  @okyksl @serkan-ozel-2015400123 @gumityolcu

[2018-11-16 04:08] serkan-ozel-2015400123 commented on #307
Thanks then

[2018-11-16 04:08] #307 closed

[2018-11-16 04:47] serkan-ozel-2015400123 opened #309 "User Data Model Improvements needed"
According to these in requirements we need to store
1- Users' settings including privacy settings. Like in twitter.
2- All messages both read or not
3- Notifications.  Some kind of "A user commented about your event"
Notification :

I dont say recommendations because we are willing to implement it through feed as I know. @okyksl @nazmicancalik @byklyci @gumityolcu

[2018-11-16 04:52] serkan-ozel-2015400123 commented on #309
@bounswe/bounswe2018group9

[2018-11-16 07:04] okyksl commented on #309
@serkan-ozel-2015400123 we're not prioritizing **notifications** as of right now and I see that you included _privacy settings_ which is a **should** type of requirement. There are lots of tasks ahead to finish before our `Customer Milestone #2`, let's focus on our **settled features** in [Meeting #15](https://github.com/bounswe/bounswe2018group9/wiki/Meeting-%2315-Sprint-%233-(14.11.2018)). In an

[2018-11-16 07:31] nazmicancalik opened #310 "User Model Update"
We need to update the user model to include following fields. Then we will implement the necessary endpoints.
* **Followers**
* **Following**
* **Interests**
* **Interests**
* **User Details**
   * **Nationality**
   * **Birthdate**
   * **Location/City**

[2018-11-16 09:58] okyksl commented on #309
The top priority changes on **user model** can be followed from #310. The **notification** feature which is stated by @serkan-ozel-2015400123 is not in our **three week agenda** and will be considered in future.

[2018-11-16 09:58] #309 closed

[2018-11-16 09:58] okyksl commented on #299
@gumityolcu any updated on this?

[2018-11-16 10:33] byklyci commented on #310
@nazmicancalik  I handled last night the user details part.The frontend team member @serkan-ozel-2015400123 want nationality,birth. And also I added the city right now.
**SUMMARY** I handle:
User Details
    Nationality
    Birthdate
    Location/City

[2018-11-16 11:18] uskudarli commented on #278
Greetings all,

Heroku is okay -- we actually prefer you do not, but we are accepting it.

Iconic is not okay, since this was an issue that had been rejected earlier.

All the best!

@mericturan

[2018-11-16 13:04] gumityolcu commented on #299
Last night we have tried to use DigitalOcean. It said the offer is not available right now. This is currently the status of the DigitalOcean option.

This morning we recieved the approval e-mail from AWS.

[2018-11-16 13:36] nazmicancalik commented on #310
Good job @byklyci. We are done with the fields I am closing the issue. We will update the endpoints in a collective manner.

[2018-11-16 13:36] #310 closed

[2018-11-16 16:29] okyksl commented on #303
@gkhntkl can we have some table/tabular like view in this file? It's hard to follow the file in the current format.

[2018-11-16 22:33] gumityolcu commented on #258
@nazmicancalik
Hello,

I reviewed the code, it seemed fine to me. But when I tested I got the error "Invalid select() argument. Must be string or object.". I tried to resolve the issue but couldn't put my finger on it.

Test request that I used:
POST http://127.0.0.1:3000/api/events/5bd820ac7c9ab2002fe3bb2c/attendee

Header:
Content-Type: application/json
Body:
{
  "attendant" : "5bd8143a7c9ab2002

[2018-11-17 09:26] serkan-ozel-2015400123 opened #312 "User change endpoint needed"
I want to be able to change my users' date etc. every changable piece of indormation. Can you provide an endpoint like update user?

Thanks
@nazmicancalik @gumityolcu @gkhntkl @byklyci

[2018-11-18 10:01] #292 closed

[2018-11-18 10:02] nazmicancalik commented on #312
https://github.com/bounswe/bounswe2018group9/pull/314

[2018-11-18 10:10] serkan-ozel-2015400123 commented on #292
@nazmicancalik are endpoints ready ?, not data model I am asking.

[2018-11-18 10:17] nazmicancalik commented on #312
This issue is resolved, however we need to test the endpoints @gumityolcu .

[2018-11-18 10:17] #312 closed

[2018-11-18 10:18] nazmicancalik opened #315 "Test User Endpoints"
We need to make sure after updating the user model and endpoints, all of our endpoints carry out the correct functionality.

[2018-11-18 11:45] srknzl opened #316 "Relative Navigation in Profile Page"
I have implemented absolute path navigation in profile module but actulaay it is better to have relative navigation, because if the parent routes change that one also should be changed. @kemaltulum in your appropriate time can you tell me how I can navigate to settings and to timeline pages relative to profile page.

In master

Thanks

[2018-11-18 11:47] serkan-ozel-2015400123 commented on #316
The strange thing is if I come to profile page and press go to settings button by using relative navigation in the implementation, it works but If I press go back button at settings page and then try to go again to settings page, it does not do anything.

[2018-11-18 12:12] srknzl opened #317 "Error Handling in Frontend"
Regardless of whether detailed backend error handling( #228 #192)  is done or not,  we can state to user that something happened bad in backend of frontend. In upcoming weeks I can look to this by branching something like feature/frontend/error-handling

This includes sign in error, sign up error, event create error etc. Basically everything. This feature should always be parallelly go on with nor

[2018-11-18 14:27] nazmicancalik opened #320 "TEST Comments Endpoints"
@akaogluozgur @gumityolcu Please test the last changed endpoints (event route endpoints) to make sure we get all the correct data as well as update and create correct data in the database.

@byklyci We need to test the vote after you finish voting endpoints. #279

[2018-11-18 14:31] nazmicancalik commented on #302
I handled the endpoints for comments and in general structure, you can concentrate on #279 @byklyci

[2018-11-18 14:31] #302 closed

[2018-11-18 14:31] nazmicancalik commented on #301
#320

[2018-11-18 14:32] #299 closed

[2018-11-18 14:33] nazmicancalik commented on #294
@kemaltulum any status updates?

[2018-11-18 14:34] #275 closed

[2018-11-18 14:34] nazmicancalik commented on #260
We will reference this later.

[2018-11-18 14:34] #260 closed

[2018-11-18 14:36] nazmicancalik commented on #258
Please test this under #320

[2018-11-18 14:36] #258 closed

[2018-11-18 14:38] nazmicancalik commented on #224
I think we are done here @okyksl ?

[2018-11-20 12:07] byklyci commented on #279
I handled the vote endpoints according to our organization schema. We talk about this @nazmicancalik.

[2018-11-20 12:14] byklyci commented on #279
I am closing this issue because vote endpoint is finished.

[2018-11-20 12:14] #279 closed

[2018-11-20 12:18] byklyci commented on #297
I am closing this issue the data schema is ready for the location storage and frontend team job is necessary.

[2018-11-20 12:18] #297 closed

[2018-11-20 12:18] byklyci commented on #288
I am still working on it.

[2018-11-20 12:20] okyksl commented on #299
Note that we deployed to [here](http://46.101.223.116:3000).

[2018-11-20 12:23] byklyci opened #323 "TEST Vote Endpoints"
@akaogluozgur @gumityolcu  Please test the last changed endpoints (event route endpoints) to make sure we get all the correct data as well as update and create correct data in the database. @nazmicancalik the vote endpoints is finished so we need to test the all event data model actually part by part.

[2018-11-20 12:24] okyksl opened #324 "Serve AWS Deployment from PORT 80"
@gumityolcu could you please turn our deployment to **default http port - 80** from our current **express development port - 3000**?

Additionally, there are some links on `README.md`, home page of wiki and sidebar _called_ `Actopus Alpha` or something like _deployment link_. Could you please also fix those links once you turned our deployment port?

[2018-11-20 12:30] byklyci commented on #271
We are finished the user and event data model. We are working the searching events right now. @nazmicancalik

[2018-11-20 12:36] okyksl commented on #275
@nazmicancalik, will we also add **voting** to the **comment data model**?

[2018-11-21 11:06] serkan-ozel-2015400123 opened #326 "Need Realistic Data On Feed"
We need to have realistic data based on our scenarios as Meriç Turan specified.

[2018-11-21 19:15] nazmicancalik commented on #320
Please share the test results here @gumityolcu @byklyci @akaogluozgur Have a good one : )

[2018-11-21 21:42] okyksl commented on #156
Just to report on this issue and general project management,

* We had a high-level project plan that covers most of the **main big** issues in our project.
* I granulate tasks into lower-level tasks and tried to develop a more detailed and useful project plan for _a couple of weeks_.
* We failed to meet any of my _projections_ and the project plan _clearly didn't helped anything_.
* I didn't rece

[2018-11-21 21:42] #156 closed

[2018-11-21 22:03] okyksl commented on #176
Finally, I elaborated the contents of the milestones.

[2018-11-21 22:03] #176 closed

[2018-11-21 22:06] okyksl commented on #282
@gumityolcu handled all user related tasks on _cloud deployment platform_.

[2018-11-21 22:06] #282 closed

[2018-11-21 22:07] okyksl commented on #177
We talked with @gumityolcu and we're setting up **continuous integration & deployment** with `CircleCI` to our newly deployed server.

[2018-11-21 22:09] okyksl commented on #298
@kemaltulum are we going to take any actions on this issue?

[2018-11-21 22:10] okyksl commented on #159
@dkilyas is working on this issue right now.

[2018-11-21 22:35] okyksl commented on #303
@gkhntkl @gumityolcu

[2018-11-21 22:36] okyksl commented on #315
@nazmicancalik could you **list all the endpoints** that needs to be checked to the first comment in this issue so that we don't _miss any endpoint_.

[2018-11-21 22:37] okyksl commented on #323
@nazmicancalik, @akaogluozgur, @gumityolcu or @byklyci could you **list all the endpoints** that needs to be checked to the first comment in this issue so that we don't _miss any endpoint_.

[2018-11-21 22:38] okyksl commented on #320
@nazmicancalik, @akaogluozgur, @gumityolcu or @byklyci could you **list all the endpoints** that needs to be checked to the first comment in this issue so that we don't _miss any endpoint_.

[2018-11-21 22:39] okyksl opened #329 "TEST Attendance Endpoints"
@nazmicancalik, @akaogluozgur, @gumityolcu or @byklyci could you **list all the endpoints** that needs to be checked to the first comment in this issue so that we don't _miss any endpoint_.

[2018-11-21 22:40] okyksl commented on #326
Let's follow-up our concerns in #295.

[2018-11-21 22:40] #326 closed

[2018-11-21 22:40] okyksl commented on #281
@kemaltulum ?

[2018-11-21 22:41] okyksl commented on #280
@kemaltulum any progress here?

[2018-11-21 22:41] okyksl commented on #283
@didemongu any progress here?

[2018-11-21 22:42] okyksl commented on #284
@gkhntkl which **email address** we're going to use for our _email services_?

[2018-11-21 22:42] okyksl commented on #285
@gkhntkl any progress here?

[2018-11-21 23:01] okyksl commented on #278
We have discussed on this issue further _face-to-face_ and received justified concerns about our design. We have to understand these concerns, recognize potential potholes in our (mobile) design and take necessary actions.

I list couple of points for tracking purposes:

* Mobile location functionalities (GPS)
* Mobile multimedia functionalities (device gallery, device camera)
* Mobile content lay

[2018-11-21 23:01] #278 closed

[2018-11-21 23:02] okyksl commented on #277
@serkan-ozel-2015400123 did we fix this?

[2018-11-21 23:03] okyksl commented on #157
I think related tests are going to be reviewed in #315. I'm closing this issue as we have no longer follow _story based workflow_.

[2018-11-21 23:03] #157 closed

[2018-11-21 23:04] okyksl commented on #158
Related tests are going to be reviewed in #315. I'm closing this issue as we have no longer follow _story based workflow_.

[2018-11-21 23:04] #158 closed

[2018-11-21 23:05] okyksl opened #330 "Facebook Sign-in & Sign-up"
We have to integrate `Facebook API` to our _authentication services_.

[2018-11-21 23:06] okyksl commented on #159
We're going to follow this from #330.

[2018-11-21 23:06] #159 closed

[2018-11-21 23:06] okyksl commented on #330
**Acceptance Criteria:**

- [ ] **1.** User shall be able to allow her Facebook account to be used in sign-in process.
- [ ] **2.** User shall be able to sign-in via Facebook account after permission.
- [ ] **3.** System shall be able to retrieve **email, name, surname** information from the Facebook API.
- [ ] **4.** System shall be able to save necessary Facebook API information for further sign

[2018-11-21 23:07] okyksl opened #331 "Finalize Event Create Page"
We have to finalize our **event create page**.

[2018-11-21 23:09] okyksl commented on #168
Related tests are going to be reviewed in #301. I'm closing this issue as we have no longer follow _story based workflow_.

[2018-11-21 23:09] #168 closed

[2018-11-21 23:09] okyksl commented on #301
@nazmicancalik, @akaogluozgur, @gumityolcu or @byklyci could you **list all the endpoints** that needs to be checked to the first comment in this issue so that we don't _miss any endpoint_.

[2018-11-21 23:10] okyksl commented on #171
We are going to follow this from #252.

[2018-11-21 23:10] #171 closed

[2018-11-21 23:11] okyksl commented on #270
@nazmicancalik @didemongu can you checkout my question above on **semantic tags**? Additionally, are we done here?

[2018-11-21 23:13] okyksl commented on #254
Any suggestion on code convention can be followed-up here.

[2018-11-21 23:13] #254 closed

[2018-11-21 23:30] okyksl commented on #269
What is the status here @gkhntkl?

[2018-11-22 07:16] #180 closed

[2018-11-22 07:52] okyksl commented on #294
I have managed to setup both `iOS` & `Android` platforms for our application. We need to **test** our developed features in especially in `Android`. @dkilyas could you look at `Android` platform? I can answer any questions regarding with building and running the application.

A todo list for you:
- [ ] Build `Android` platform properly.
- [ ] Test whether our current application works **on emulato

[2018-11-22 08:04] serkan-ozel-2015400123 commented on #315
Waiting this to be complete, in order to merge #318

[2018-11-22 08:11] serkan-ozel-2015400123 commented on #277
No we did not. Taking this into comsideration it should be easy. If I do I will open a seperate branch and pr

[2018-11-22 08:14] okyksl commented on #277
You can handle this issue if you wish.

[2018-11-23 13:17] gumityolcu commented on #315
Today I will be testing:

POST /auth/signup
POST /auth/signin
GET /auth/signout

GET /users/
GET /users/:id
POST /users/:id/follow
POST /users/:id/unfollow
PUT /users/:id
DELETE /users/:id

[2018-11-23 21:58] dkilyas commented on #294
I have tested our application for both ios and android. Ios was tested on an emulator. At first glance, everything looked perfect. Sign in page came properly. Everything fit on to the screen. However, other things that are on the functionality side were poor. First of all, I tried sign in with my account. But the app alerted as 'You could not sign in because wrong email or password ...' although m

[2018-11-23 22:01] dkilyas commented on #294
Another thing that is not good from the point of view of a user was the error message that was given when I tried to register on the android side. The error message were meaningless for the user, even for a programmer.

[2018-11-23 22:02] gumityolcu commented on #315
Here is the [document](https://github.com/bounswe/bounswe2018group9/wiki/User-Endpoints-Tests-%231) for User endpoint tests. Sorry for bad formatting but I think it is managable in linear fashion for error correction purposes, then we won't use the document.

Also notice that this document is prepared by testing on /fix/backend/user-fix branch. I will be making a PR from that branch.

[2018-11-24 17:15] gumityolcu commented on #315
You can use the following JSON file with Tabbed Postman to reach some basic requests I used while testing:
`{"id":"83e09967-146e-0d11-4669-36e1f00e84a3","name":"users","timestamp":1542979194096,"requests":[{"collectionId":"83e09967-146e-0d11-4669-36e1f00e84a3","id":"3329a6e6-3db5-2bb4-fac1-059f38226658","name":"unfollow test","description":"Straightforward unfollow test","url":"http://127.0.0.1:30

[2018-11-24 17:38] gumityolcu commented on #209
Reviving this issue. I have created a branch for this feature.

[2018-11-26 14:12] kemaltulum commented on #331
Location is blocked due to proxy

[2018-11-27 07:54] akaogluozgur commented on #323
The endpoints needed to be checked are:

- addVote

- getVote

- updateVote

After I tested a bit, what I see is these endpoints will be complete when I add the request body validation part.

[2018-11-27 10:47] #283 closed

[2018-11-27 12:13] okyksl commented on #283
I suppose this is done.

[2018-11-27 12:15] okyksl commented on #315
@nazmicancalik updated initial comment for tracking purposes.

[2018-11-27 12:49] gumityolcu commented on #177
We have finally managed to get past all the details and can succesfully build and host the project automatically. We now need to apply configurations so that tests will be ran before PRs and deployment will be done after PRs. We then will integrate CircleCI with our repo.

[2018-11-28 08:35] serkan-ozel-2015400123 commented on #270
@okyksl Lets add some requirements if necessary and close this

[2018-11-28 08:35] serkan-ozel-2015400123 commented on #270
I think we should use them as tags

[2018-11-28 08:36] serkan-ozel-2015400123 commented on #270
1.3.1.2. Users shall be able to add additional information by providing semantic tags.

This exists already

[2018-11-28 08:36] #270 closed

[2018-11-28 08:38] serkan-ozel-2015400123 commented on #269
Interests are in user data model and user can be updated deleted accesed via get

[2018-11-28 08:38] #269 closed

[2018-11-28 08:39] serkan-ozel-2015400123 commented on #271
I have started frontend part of this and waiting for backend to finish this

[2018-11-28 09:16] okyksl commented on #270
So these are the semantic tags at hand right? This seems to me a natural solution.

[2018-11-28 09:16] okyksl commented on #271
@serkan-ozel-2015400123 you may create a separate issue for the **frontend task**.

[2018-11-28 10:14] serkan-ozel-2015400123 opened #339 "Frontend Search UI"
I am taking care of this task. The branch is feature/frontend/search

[2018-11-28 10:43] #177 closed

[2018-11-28 11:02] okyksl commented on #295
@didemongu and @kemaltulum will craft our **customer scenarios and presentation**, and present these to us before the customer meeting.

[2018-11-29 04:31] okyksl opened #342 "Mobile Proxy is Not Registered"
The mobile builds doesn't register **proxy** and thus can't communicate with backend side.

[2018-11-29 04:32] okyksl commented on #294
We have initialized **mobile platforms**, however there are some bugs concerning these platforms. @dkilyas can you open the related issues?

[2018-11-29 04:32] #294 closed

[2018-11-29 04:33] okyksl commented on #298
@kemaltulum ?

[2018-11-29 04:33] okyksl commented on #330
@dkilyas ?

[2018-11-29 04:36] okyksl commented on #243
I think this _user interface_ is more suitable for **event detail** rather that _event card_ view. @kemaltulum will handle event detail related features.

[2018-11-29 04:37] okyksl commented on #268
@nazmicancalik what should we do here? Maybe a quick solution for the `Customer Meeting #2` and then we can build something better that we like?

[2018-11-29 04:38] okyksl commented on #276
Note that this is done very long ago on `event-module-ui` branch but I'm waiting for the necessary stabilization of _data models_ and _api processes_ and _relevant data source interfaces_ for a long time.

[2018-11-29 04:39] okyksl commented on #296
Note that this is done very long ago on `event-module-ui` branch but I'm waiting for the necessary stabilization of _data models_ and _api processes_ and _relevant data source interfaces_ for a long time.

[2018-11-29 04:40] okyksl commented on #316
@serkan-ozel-2015400123 @kemaltulum what's the status here?

[2018-11-29 04:41] okyksl commented on #285
@gkhntkl ?

[2018-11-29 05:21] kemaltulum opened #343 "User Model Missing Media Fields"
Hi backend team,

I am not sure, but I couldn't see any media field in user model. If we can keep a media array for a user, it will be very beneficial for frontend design.

I am planning to include profile image and cover image for a user.

Thanks

[2018-11-29 07:43] serkan-ozel-2015400123 commented on #316
I don't know how to handle this, @kemaltulum  do you know I am waiting you actually

[2018-11-29 13:58] okyksl commented on #298
I will be implementing a `CI & CD` pipeline for `staging` branch.

[2018-11-29 21:29] nazmicancalik commented on #343
User data model now includes media links, let me know if there is any improvement needed

[2018-12-01 20:19] gumityolcu commented on #324
This issue is handled and needs to be merged. #346

[2018-12-01 20:19] #324 closed

[2018-12-01 21:44] gumityolcu commented on #329
I will be testing:
POST api/events/:id/attendance
GET api/events/:id/attendance
PUT api/events/:id/attendance

[2018-12-01 23:54] gumityolcu commented on #329
@nazmicancalik @okyksl @byklyci @akaogluozgur You can reach the resulting test document [here](https://github.com/bounswe/bounswe2018group9/wiki/Attendance-Endpoint-Tests-%231).

Apparently, the PUT endpoint doesn't work at all :smile:

[2018-12-02 10:27] #320 closed, assigned to byklyci, akaogluozgur, gumityolcu

[2018-12-03 11:14] gumityolcu commented on #329
I am handling the issues with attendance @byklyci @akaogluozgur @gkhntkl @nazmicancalik

[2018-12-03 14:03] serkan-ozel-2015400123 commented on #339
This is done

[2018-12-03 14:03] #339 closed

[2018-12-04 22:07] byklyci opened #358 "Customer Meeting 2 Report"
I have just started writing the Customer Meeting 2 Report. Please be aware of you can find the documentation, our Wiki-Timeline  and also via clicking [here](https://github.com/bounswe/bounswe2018group9/wiki/Customer-Milestone-Report-2). Do not hesitate write there or make comment here about the Milestone feedback.

[2018-12-05 07:53] serkan-ozel-2015400123 commented on #358
Working on it

[2018-12-05 10:45] byklyci commented on #358
* I created a new sheet and orginaze the template for the report.
   * I have summarized the backend jobs in "backend structure part"
   * I have written my contribution under my name in contribution part.
   * I have summarize the executive summary
   * I have written status of deliverables

[2018-12-05 12:46] okyksl commented on #358
I added my contribution to the document. What else needs to be done @byklyci?

[2018-12-05 13:22] #343 closed

[2018-12-05 13:30] nazmicancalik commented on #271
I have implemented a basic version on the branch feature/backend/search. You could check it, but I will improve it according to the frontend design needs.

[2018-12-06 01:21] serkan-ozel-2015400123 commented on #271
I am working on a new branch feature/frontend/search-link. In this branch I will try to make search work by connecting it to back-end. @nazmicancalik

This is from our auth service provider, the search call I wrote
 `search(searchUser : boolean, searchString : string): Observable<any>{
    const params = new HttpParams()
      .set('isUser', searchUser.toString())
      .set('search', searchString

[2018-12-06 01:25] srknzl opened #360 "Search Interfaces"
I am working on a new branch feature/frontend/search-link. In this branch I will try to make search work by connecting it to back-end.

[2018-12-08 11:00] dkilyas commented on #330
I have tried to implement the facebook login. However, there is a problem that I am not able to find a solution for it. The problem is

I've searched a solution to this error. But, I could not find any. I followed the directions of the official website of ionic to install facebook plugin. After installing and doing the necessary things, I get this error. I repeated the same procedure in a new proj

[2018-12-09 14:00] gumityolcu commented on #209
This is handled and is in PR #359

[2018-12-09 14:00] #209 closed

[2018-12-10 15:36] okyksl commented on #330
@dkilyas where is your work in our repository? I can't follow what you wrote here, you need to give some _structured feedback that I can follow and understand_.

[2018-12-10 17:03] okyksl commented on #358
Closing due to inactivity.

[2018-12-10 17:03] #358 closed

[2018-12-10 18:07] #342 closed

[2018-12-10 18:08] #298 closed

[2018-12-10 20:21] okyksl commented on #198
Closing due to the inactivity.

[2018-12-10 20:21] #198 closed

[2018-12-10 21:33] okyksl commented on #304
@serkan-ozel-2015400123 you can checkout and skim over the document to see what is the purpose of the model and the basic structure of it. I would recommend it so that you can see why _engineers_ need **standards** and particularly what kind of standards we have in our sector.

For the implementation parts, we will handle the necessary information flow.

[2018-12-10 21:33] #304 closed

[2018-12-11 08:40] okyksl commented on #281
I'm taking on this issue due to inactivity.

[2018-12-11 23:50] gumityolcu commented on #329
Please check #352.

Closing issue

[2018-12-11 23:50] #329 closed

[2018-12-11 23:51] gumityolcu commented on #245
You can check the branch feature/backend/annotations to follow the progress.

[2018-12-12 13:36] nazmicancalik opened #364 "Follow/Unfollow update targets followers"
Currently we are updating the follower/followees of a user when there is a follow happens. However we also need to update the other person(followed) person's followees.

[2018-12-12 18:14] gumityolcu commented on #245
@nazmicancalik @okyksl @akaogluozgur @serkan-ozel-2015400123

Guys, I have made some changes in the data model, which needs explanation. I believe we are facing a major design choice here and I don't want to take this much initiative and work hours on the endpoints only to realize the data model is crooked or the choice I have made is a wrong one.

I will try to explain the situation to you here s

[2018-12-12 20:31] nazmicancalik opened #365 "Attendance Tests & Attendance Info on User Model"
We need to test the attendance endpoints to see if they are working correctly or not. We also need to have the references to the events that the users attended and will attend in the user data model.

That way we will be able to show the events that they already attended and will attend. Greetings.

[2018-12-12 20:35] nazmicancalik commented on #271
I will put the filtering options for advanced search here. Other than that we will perform a simple text based fuzzy search according to given input. We will handle advanced search in another issue.
@kemaltulum I will decide the filtering options accordingly, so that you can create the frontend interface according to those filters.

**Things we might need:**

* Location area picker
* Date picker
*

[2018-12-12 20:37] nazmicancalik opened #366 "Advanced Search"
We will have an advanced search interface for our application. Its request body will be defined in this issue. @kemaltulum We can talk about the design and parameters here. Greetings

[2018-12-12 20:40] nazmicancalik commented on #366
We can also have a look at amazon's interface and get an idea about their search @kemaltulum . What is your preference?

[2018-12-13 07:55] okyksl opened #367 "Postman Testing"
We will accumulate our individual endpoint tests and sync them altogether.

[2018-12-13 22:34] gumityolcu commented on #245
@nazmicancalik @okyksl @akaogluozgur @srknzl @kemaltulum

Status update:

We now have the basic architecture needed to work with annotations on the backend side. I have implemented the CRUD endpoints quickly. I am planning to make a document explaining the portion of annotations that our platform supports for now and what we are planning to support.

Also, there are bugs and anomalies in the endpo

[2018-12-13 22:38] gumityolcu commented on #367
I can get mine in plain text JSON but I don't know where to put it :smile:

[2018-12-13 22:40] gumityolcu commented on #365
@byklyci You can refer to the document I made about attendance endpoints tests. I can also provide my test requests for Postman

[2018-12-14 11:50] okyksl commented on #245
@gumityolcu can you utilize `Postman` in _documentation_?

[2018-12-14 13:17] okyksl opened #368 "Users Can Edit Unowned Events"
Currently, _any user_ can edit _any events_. We must **allow only the creator** of the event to edit the event.

[2018-12-14 13:55] srknzl commented on #367
Just send the json file @gumityolcu  showing test history

[2018-12-14 14:01] srknzl commented on #367
The annotator app sends this right now is it strange :) ?

[2018-12-14 14:01] srknzl commented on #367
@gumityolcu

[2018-12-14 14:04] srknzl commented on #367
I mean when I select  "şa Kültür Merkezi" and write "dss" and click save it sends a request its body is at above

[2018-12-14 14:04] srknzl commented on #367
I think we should somehow adjust it

[2018-12-16 20:58] okyksl opened #369 "How to Handle Secret Keys in CI & CD Pipeline"
We have to securely use our secret keys in frontend project. Since our CI & CD pipelines are based on Git, how we can include our secrets to this pipeline without exposing them is an open question.

- [ ] Embed google maps key securely to the web client
- [ ] Remove google maps key reference from `config.xml` (plugins)

[2018-12-16 21:11] okyksl commented on #241
I think @dkilyas will make some improvements on this.

[2018-12-16 21:12] okyksl commented on #295
Thank you for your invaluable efforts before the meeting.

[2018-12-16 21:12] #295 closed

[2018-12-16 21:13] okyksl commented on #317
@didemongu will make some improvements on this.

[2018-12-16 21:13] okyksl commented on #301
@nazmicancalik @akaogluozgur any progress here or is this already done?

[2018-12-16 21:14] okyksl commented on #285
@gkhntkl ?

[2018-12-16 21:33] okyksl commented on #146
Well, we have done a lot of work in annotations - we have finalized our backend implementation (at least the first version) and we have been making progress over our frontend implementation. I suppose it's weird to have any changes over **requirements** as of right now. Anything you would like to add @gumityolcu and @srknzl?

[2018-12-17 07:19] nazmicancalik commented on #366
@kemaltulum You can look at the parameters in the feature/backend/search branch. Please let me know if there is anything more needed. I will finish testing after the feedback.

[2018-12-17 13:14] gumityolcu commented on #146
There are 2 points:

1- It is not clear what can be annotated. This is also an issue I encountered while writing the document for annotations.
2- The current requirements state the system supports an image and a text in the same annotation. This is not true for our current status on the issue and I am not sure if we will have time to implement it on time. I think 1.2.5.5. should change.

[2018-12-17 21:04] srknzl opened #371 "User Id in Annotation and Additional Endpoints"
Hi there,

1- As far as I know, I should be able to get annotations of a page when I want by giving uri of the page. So this is the first issue: Additional get endpoint is needed which will be used to retrieve annotations of a page by giving the page uri instead of backend id.
2- We need who annotated and when information in the body of the annotation. Who annotated is more important because we wi

[2018-12-17 22:20] gumityolcu commented on #371
I have implemented the endpoint needed for 1. I implemented it as a posr request with the url in the body because if we use a get request, we need to put a url at the end of a url which didn't look rigorous to me.

[2018-12-18 11:57] srknzl opened #373 "Merge feature/backend/annotations into staging"
@gumityolcu  Can you finalize your work and merge feature/backend/annotations branch into staging so that I can test it and connect with backend during my frontend annotation experiments

[2018-12-18 12:04] gumityolcu commented on #373
There are already 2 issues about annotations in backend. I will finalize the code the first chance I get. I will open a Pr to merge to master. We can merge to staging then. Closing issue since this is not a big issue. Can you add a comment at one of the other 2 branches? I check them after completing my work, it will remind me to merge it into staging.

[2018-12-18 12:04] #373 closed

[2018-12-18 12:57] okyksl commented on #268
@nazmicancalik will handle this issue.

[2018-12-18 13:02] okyksl commented on #154
I'm closing this due to inactivity. We didn't invest necessary time required for the revision of requirements. The newly written [Requirements Specification](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Specification) is not the official requirements. The official requirements can be reached [here](https://github.com/bounswe/bounswe2018group9/wiki/Requirements-Analysis).

[2018-12-18 13:02] #154 closed

[2018-12-18 13:03] okyksl commented on #276
@kemaltulum will we present **comments in feed** page?

[2018-12-19 11:53] #280 closed

[2018-12-19 11:53] #252 closed, assigned to okyksl

[2018-12-19 12:18] gumityolcu commented on #371
1-) I have changed the code to conform to your request. Currently, GET /api/annotations endpoint takes URL param 'url' and returns annotations associated with the page identified by the parameter.

2-) I added the 'creator' and 'created' fields. I also added 'modified' field. 'created' and 'modified' are of type Date(this data type seems to conform to the xsd:dateTime standard, THIS NEEDS CHECK!)

[2018-12-19 12:21] gumityolcu commented on #245
@okyksl We are close to the point where we can :smile:
Can you check my last comment on #371 and share your considerations? I think we can merge after handling the issue I explained there.

[2018-12-19 13:39] srknzl opened #374 "Remove Underlines at Login Inputs"
The underlines collide with input box. As we discussed it in the meeting I will fix this.

[2018-12-19 16:14] okyksl opened #376 "Frontend - Backend API Interface"
We have some divergent interface services that enables us to talk with backend within client application. We have to synchronous those separate interfaces into an unified service.

[2018-12-19 20:22] byklyci commented on #365
@gumityolcu can you send your work?

[2018-12-19 22:28] byklyci opened #380 "Attendance Endpoints Tests & Fix"
I am handling the test about attendance endpoints and if there are any bugs, I will fix it.

[2018-12-19 23:21] gumityolcu opened #381 "Web Annotation Protocol document"
We need to read and specify the related parts of the [Web Annotation Protocol document](https://www.w3.org/TR/annotation-protocol/). I believe we should also revisit the Data Model documentation afterwards.

I hope we will have clearer views on how our annotation server should behave.

[2018-12-19 23:22] gumityolcu opened #382 "Annotation Server Endpoints Specification"
We need to specify how we will interact with our annotation server. Note that this issue depends on #381 .

[2018-12-19 23:27] gumityolcu opened #383 "Circle CI doesn't respond"
@okyksl I believe you have also experienced not being able to merge a PR because Circle CI doesn't respond to GitHub.

We need to find why this happens and fix the issue.

[2018-12-19 23:38] gumityolcu opened #384 "Media endpoints refactor"
@nazmicancalik
Please integrate the changes you proposed in the meeting to the media router and controller.

[2018-12-19 23:40] gumityolcu opened #385 "Annotation Endpoint review and refactor"
@nazmicancalik

I have finished the first version of annotation data model and endpoints. Please review my work before we go any further because there are some vague points.

Do not hesitate to refactor the code when you think it is necessary but we will be working on the same files so we should be in touch while working.

[2018-12-20 11:14] nazmicancalik commented on #384
@gumityolcu Thanks for the insight. I will handle the situation, and report here. Greetings

[2018-12-20 11:15] nazmicancalik commented on #385
Yes, of course. I will inform you accordingly, if I make any changes.

[2018-12-20 16:08] okyksl commented on #296
This is up to @kemaltulum since our previously developed vote interface is replaced by his new design.

[2018-12-20 16:09] #296 closed

[2018-12-20 16:10] okyksl commented on #286
This is done by @kemaltulum's new design.

[2018-12-20 16:10] #286 closed

[2018-12-20 16:11] okyksl commented on #286
Note that currently we're not planning to create seperate **comment creation interface** that is shown in the **feed page** rather than **event detail page**. (By comment here, we mean something more like a _individual post_)

[2018-12-20 16:11] okyksl commented on #276
This is done by @kemaltulum's new design.

[2018-12-20 16:11] #276 closed

[2018-12-20 16:24] okyksl opened #386 "Attendance & Vote POST/PUT Invalid User"
**Not tested, just observation from code review**.

It seems to me that an external agent can put whatever **user** he/she desired to the **req.body** and get away with changing others' **attendance** and **votes**.

[2018-12-20 20:33] srknzl commented on #371
It does not matter but lets use url ?

[2018-12-21 10:19] okyksl commented on #371
@gumityolcu **User ID** does not mean anything to any client outside of our project. Thus, to make our **annotation server usable for any client complying the protocol**, we need to use `url`.

[2018-12-21 11:21] byklyci commented on #380
Last night I tested Post/Get/Put Attendance. I recognized that get and post are working but put is not properly working. I tried to handle it but I did not.

[2018-12-21 11:33] byklyci commented on #368
I tried to solve this problem with using the  {'owner' : req.params.id} inside the findByIdAndUpdate function I am not sure it is proper way but it seems like that.

[2018-12-21 11:34] byklyci opened #387 "Postman Collection Share"
{"version":1,"collections":[{"id":"70646e42-4e26-f27b-81db-b14d85c73784","name":"comments","timestamp":1544036914530,"requests":[{"collectionId":"70646e42-4e26-f27b-81db-b14d85c73784","id":"15b4badd-9e9e-4900-686b-20d59d97a4e9","name":"Get comments","description":"","url":"http://127.0.0.1:3000/api/events/5c030522a7ced70894276909/comments","method":"GET","headers":"Content-Type: application/json\n

[2018-12-21 11:35] byklyci commented on #387
Here is the Postman Collection for our all test results. Just open Postman and import this collection to test whatever you want.

[2018-12-21 11:37] byklyci commented on #386
For Attendance the Put is not properly work but in my observation from postman the Post is working.

[2018-12-21 11:45] okyksl opened #388 "HTTPS for Production"
We have to serve our application over **HTTPS** in production.

[2018-12-21 19:15] okyksl commented on #386
Can you share us the exact input/output combinations? Can someone post attendance information for someone else?

[2018-12-21 19:16] okyksl commented on #368
How about using `req.user` object?

[2018-12-22 21:17] #374 closed

[2018-12-23 07:53] nazmicancalik commented on #380
I will take over the issue. Good job

[2018-12-23 08:35] kemaltulum commented on #388
Are you sure that we have such a requirement? SSL and similar things would be challenging for us, since we have not so much time

[2018-12-23 08:36] kemaltulum commented on #387
This is exactly what I am looking for, thanks @byklyci

[2018-12-23 08:37] kemaltulum commented on #388
But I can work on it anyways

[2018-12-23 08:39] didemongu opened #391 "Error Messages Upon Wrong User Input"
We do not necessarily show necessary error messages like `Your password is wrong`, which is not good for users. I will deal with this situation.

[2018-12-23 08:41] didemongu commented on #391
After a little search, I found out `Toast` component in Ionic.
You can check it out [here](https://beta.ionicframework.com/docs/api/toast/)

[2018-12-23 08:43] kemaltulum commented on #366
Sorry for the delay, today I will do some work and hopefully finish it.

[2018-12-23 08:52] kemaltulum commented on #153
I am not sure we need This lib seems to be fine for ionic documentation, I am leaving its link, we can check later: [Compdoc](https://ionicacademy.com/ionic-code-documentation/)

[2018-12-23 12:10] didemongu commented on #391
I added toast message in signin page for wrong user input.

[2018-12-23 12:10] #391 closed

[2018-12-23 23:05] nazmicancalik commented on #385
I have made the necessary changes to the endpoint it is mostly fine :) Good Job @gumityolcu

[2018-12-23 23:05] #385 closed

[2018-12-23 23:07] nazmicancalik commented on #380
I have made the necessary changes to the code. Please accept the corresponding PR.

[2018-12-23 23:07] #380 closed

[2018-12-23 23:08] nazmicancalik commented on #366
Please report in a new issue if there is any problem with the advanced search.

[2018-12-23 23:08] #366 closed

[2018-12-23 23:08] nazmicancalik commented on #301
Done. We are testing votes on #323

[2018-12-23 23:08] #301 closed

[2018-12-25 13:53] okyksl commented on #391
@didemongu will you handle the needed changes in #372?

[2018-12-25 18:58] didemongu opened #392 "Parametrize toasts and utilize a service"
Toast messaged should parametrized and utilize a service for messages instead of creating separate functions for each toast message.

[2018-12-25 19:47] okyksl commented on #388
I think (_didn't entirely validated_) this is necessary for browser access to geolocation feature.

[2018-12-25 19:50] okyksl commented on #153
[Compdoc](https://ionicacademy.com/ionic-code-documentation/) looks awesome, we needed code documentation as a mindset at the start of the project but thanks anyways for sharing.

[2018-12-26 05:05] kemaltulum commented on #293
This is an old issue. I am closing it since the annotation work is being done in a different thread

[2018-12-26 05:05] #293 closed

[2018-12-26 07:15] kemaltulum opened #393 "API Endpoint Error Fix"
There is a small but important to fix typo error in search endpoint. [Here](https://github.com/bounswe/bounswe2018group9/blob/staging/backend/routes/index.js) the search endpoint is `api/search` which should probably be `search`

[2018-12-26 07:19] kemaltulum opened #394 "Search Mechanism Frontend Design"
I am working on all the search functionality on frontend.

Things to denote:
* Not using autocomplete since there is not an official component for Ionic v4. Using 3th party is risky and there not many supporting Ionic v4.
* Search results shown within a different page, which would be also advanced search page

[The endpoints in search](https://github.com/bounswe/bounswe2018group9/blob/staging/back

[2018-12-26 18:12] okyksl commented on #394
By **autocomplete** do you mean searching the content for the partial string? If that so, it's fairly simple to implement with **debounce** property of `Observable`s.

[2018-12-26 20:12] kemaltulum commented on #393
It seems to be fixed here [Commit](https://github.com/bounswe/bounswe2018group9/commit/1f85a17d186398faf2dc051a668b4b7cb85dd293)

Thanks @okyksl

[2018-12-26 20:12] #393 closed

[2018-12-29 12:43] gumityolcu commented on #382
Refer to #396 for the current status.

[2018-12-29 12:45] gumityolcu commented on #371
This issue is resolved.

[2018-12-29 12:45] #371 closed

[2018-12-29 12:46] gumityolcu commented on #245
I gave opened a PR for this. Closing issue.

[2018-12-29 12:46] #245 closed

[2018-12-29 14:06] gumityolcu opened #397 "Final Presentation Preparation"
We should start preparing our presentation for 02 January.

[2018-12-29 14:07] #383 closed

[2018-12-30 20:00] nazmicancalik commented on #397
I would like to contribute on the scenarios also :)

[2018-12-30 20:02] nazmicancalik opened #399 "Database Seeding Scripts"
Since we are in need of data, we need to be able to create and populate our database with a script.
I will create a script for that purpose.

[2018-12-30 20:06] nazmicancalik commented on #364
@akaogluozgur You can close the issue if you think this is done. Good Job 👍

[2018-12-30 20:06] #288 closed

[2018-12-30 20:10] nazmicancalik commented on #323
@akaogluozgur I think you are done with this testing part, please reopen the issue if you need it.Thanks for your efforts

[2018-12-30 20:10] #323 closed

[2018-12-30 20:17] gumityolcu opened #400 "Bugs in authentication in frontend"
I noticed 2 bugs in basic parts of the frontend.

1- Sign Out button doesn't have the right mouse cursor which doesn't feel like a clickable object.
2- No error is prompted if wrong password is entered. THIS IS ONE OF THE MOST BASIC AND IMPORTANT FUNCTIONALITIES IN A SOCIAL MEDIA PLATFORM. USER MAY NOT REALIZE THE PASSWORD IS WRONG AND JUDGE THAT THE WHOLE SYSTEM DOESN'T WORK, LIKE I DID.

[2018-12-30 20:28] gumityolcu opened #401 "No Event Edit Functionality"
I couldn't find the button for editing events, where is it?

[2018-12-30 20:42] nazmicancalik opened #402 "Followers Info"
There is no follower info on the profile page.

[2018-12-30 20:57] okyksl commented on #399
Keep in touch with me @nazmicancalik, we need them for our presentation!

[2018-12-30 22:41] okyksl commented on #400
@didemongu ?

[2018-12-30 22:58] okyksl opened #404 "Rebasing File Defect"
@gumityolcu checkout [here](https://github.com/bounswe/bounswe2018group9/blob/99801c29bae73c0106dcf7ec845b0475cbb6ec48/backend/models/Annotation.js%7EHEAD) :)

[2018-12-30 23:09] gumityolcu commented on #404
Oops. I always wonder how you are so careful.

Please approve #405 to fix this.

[2018-12-30 23:09] #404 closed

[2018-12-31 04:27] kemaltulum opened #407 "Event Edit & Timeline"
I implemented event edit page.

The creator of the user can edit the event going its detail page.

In addition to this, I think, it would be good to show events created by a user on his/her timeline, which can be editable by him/her.

I am asking whether it is doable  in this limited time to provide an endpoint for giving events of a spesific user.

This endpoint is important for the functionality

[2018-12-31 04:31] kemaltulum commented on #316
I dealt with this issue while redesigning toolbar. It is working correctly now

[2018-12-31 04:31] #316 closed

[2018-12-31 05:48] kemaltulum opened #408 "Comments Button Problem"
When clicked on the `comments` on an event card, the event detail page should be opened and the comments section is scrolled down.

I could not make scroll the page when needed with several methods.

* DOM ScrollIntoView function
* Ion-content ScrollByPoint() function

I think there are some problems related with angular.

[2018-12-31 07:45] okyksl commented on #407
@gumityolcu?

[2018-12-31 08:35] gumityolcu commented on #407
Yes it is possible. I will try to handle the issue today.

[2018-12-31 09:05] okyksl commented on #408
@kemaltulum I think I resolved the issue:

`        <div class="event-wrapper" *ngIf="let e = event">
`

The ***ngIf** above causes _primitive loaded component/page_ **without any of dom content inside that div**. What we can do instead is:

* Stop utilizing ***ngIf** at top level.
* Use type safe template guard - **?**, when trying to access elements of the event.

I'm waiting for your input on w

[2018-12-31 09:06] okyksl commented on #408
Side note, one can utilize [ViewportScroller](https://angular.io/api/common/ViewportScroller) of **Angular** to handle scroll related jobs or you can utilize **ion-content** scrolling functionalities that is provided by **Ionic**.

[2018-12-31 10:17] okyksl commented on #408
Utilize

`<ion-button [disabled]="view" color="secondary" fill="clear" [routerLink]="['/feed', e._id]" fragment="comments">`

**fragment and routerLink** in navigation from the `EventCardComponent` to ÈventPage`.

[2018-12-31 10:24] #401 closed, assigned to kemaltulum

[2018-12-31 11:13] gumityolcu commented on #407
Turns out we had the endpoint but it was not up to date with the current data model. I committed the last version to staging.

Currently:
GET /api/events and point returns all events if no creator parameter is given, else it give the events of the given user.

Paging is done via query parameters skip(default: 0) and limit(default: 10).

Closing the issue.

[2018-12-31 11:13] #407 closed

[2019-01-01 07:35] okyksl commented on #407
@kemaltulum does this resolve our issue completely?

[2019-01-01 10:17] kemaltulum commented on #408
The code was in this way, I changed it to prevent event propagation, clicking comment button creating event click on the event card.

I inspected the code quickly. @okyksl probably you are right but I cannot manage to find a practical solution

[2019-01-01 10:18] kemaltulum commented on #386
Vote does not affect even though I got "voted successfully" message from backend

[2019-01-01 13:11] kemaltulum opened #409 "Data Should Be Populated From Backend"
Some fields come with just their ids. They should be populated.

* The user making the comments
* The attender of an event
* The follower of a user

[2019-01-01 13:14] kemaltulum opened #410 "The Order of the Events in Feed Page"
We do not have any ordering for the events on the feed. We should at least have them ordered with respect to their dates.

[2019-01-01 13:15] kemaltulum commented on #243
The interface related issues are done, we have a problem on functionality

[2019-01-01 13:15] #243 closed

[2019-01-01 13:17] kemaltulum opened #411 "Attendance Does Not Work As Expected"
We should discuss on the logic of the attendance end point. The same user can attend, may attend and not attend at the same time. Backend allows it.

[2019-01-01 16:03] gumityolcu opened #412 "Guests can't see public content"
@okyksl @nazmicancalik

I think solved the backend part of the issue in #406 but it needs checking. Can you check it ASAP?

[2019-01-01 16:32] nazmicancalik opened #413 "Advanced Search - Tag Search"
We need to add tag search into event advanced search

[2019-01-02 00:51] nazmicancalik commented on #413
Done

[2019-01-02 00:51] #413 closed

[2019-01-02 00:51] nazmicancalik commented on #411
Done

[2019-01-02 00:51] #411 closed

[2019-01-02 00:52] nazmicancalik commented on #409
Done

[2019-01-02 00:52] #409 closed

[2019-01-02 01:10] nazmicancalik commented on #410
@kemaltulum will be done tomorrow

[2019-01-02 01:10] nazmicancalik commented on #402
@dkilyas What is the situation here?

[2019-01-02 01:11] #387 closed

[2019-01-02 01:11] nazmicancalik commented on #384
Done

[2019-01-02 01:11] #384 closed

[2019-01-02 01:12] nazmicancalik commented on #271
Done!

[2019-01-02 01:12] #271 closed

[2019-01-02 08:59] okyksl commented on #412
@gumityolcu checkout #406 PR comments.

[2019-01-02 15:04] didemongu opened #422 "Add event and users for presentation"
Some events and users have to created for presentation scenario.

[2019-01-02 15:05] didemongu commented on #422
It's done

[2019-01-02 15:05] #422 closed

[2019-01-02 16:53] #412 closed

[2019-01-02 17:00] okyksl opened #424 "Feed Duplicate Events"
Current feed of a user contains duplicate events.

[2019-01-02 17:03] okyksl opened #425 "Event Date Display Zero"
`EventCardComponent` displays always the same time: **0m remains**.

[2019-01-02 20:09] byklyci commented on #368
I am closing this issue.

[2019-01-02 20:09] #368 closed

[2019-01-02 20:12] byklyci opened #426 "Final Milestone Report"
We have a final milestone including as follows:
A) Repository (GitHub) must include at least the following and should be available online on your Github repository

    Wiki pages that describe your project, research, meetings, and other artifacts
    Requirements
    All software design documents
    User scenarios and mockups
    User test cases and testing results (including at least 5 non-memb

[2019-01-02 20:16] byklyci opened #427 "Final Github Readme.md Formation"
I will handle the Readme.md and also add the wanted features there. The style and the features will be change there.

[2019-01-03 18:01] byklyci commented on #427
I made some changes in the Readme.md you can see the changes in the master branch.

[2019-01-03 18:03] byklyci commented on #426
I am preparing  the Final presentation (ppt, pptx, pdf) right now.Can anybody doing anything?

[2019-01-03 18:16] byklyci commented on #426
I am also exporting mlabDB because the costumer wants us our database.

[2019-01-03 18:58] byklyci opened #429 "Actopus Database Backup and Migration from mLab"
We need to create backup our database for the final customer report.I will handle this issue.

[2019-01-03 19:05] byklyci commented on #429
The terminal commands as follows for our database backup:
* **I hide our password beacuse of security policy.**
## For the exporting database binary format is;
* mongodump -h ds141813.mlab.com:41813 -d actopus2018 -u admin -p ........... -o ActopusDatabase/actopus2018
## For the exporting annotation collection json format is;
*  mongoexport -h ds141813.mlab.com:41813 -d actopus2018 -c annotations

[2019-01-03 19:26] byklyci opened #430 "Final Milestone Presentation pptx Format for Report"
I will handle this presentation for the final customer milestone report.

[2019-01-03 19:31] byklyci commented on #426
You can find Final Report [here.](https://github.com/bounswe/bounswe2018group9/wiki/Customer-Milestone-Report-Final)

[2019-01-03 21:13] akaogluozgur commented on #426
I am currently working on **Project Plan (simplified version in a report-friendly format)** part.

[2019-01-04 05:52] okyksl commented on #424
This is not resolved, you can verify that by opening any member's feed.

[2019-01-04 05:54] okyksl commented on #427
#428

[2019-01-04 19:39] srknzl commented on #426
I have enumerated and put check boxes for you.

[2019-01-04 19:50] gumityolcu opened #431 "Compliance with Annotation Protocol"
Hello everyone, I have failed big time by suggesting it is not required for us to comply fully with [the annotation protocol documentation](https://www.w3.org/TR/annotation-protocol/). It is clearly stated in the project description given by the customer. Sorry for that.

I will be working on the backend implementation and will try to get it working quickly.

[2019-01-04 19:50] srknzl commented on #426
Please in B part, if you checked include the file path that is related. Because in that part we need some files that will be put into USB or other media

[2019-01-04 20:00] srknzl opened #432 "Frontend Code Documentation"
We need to document our frontend code by explaining how it works at low level. Also we may comment our code and refactor it if it is needed.

As in #426 it should be in html format
16.Software documentation (generated as html)

[2019-01-04 20:01] srknzl opened #433 "User & system manuals"
Someone should write User and System manuals.

[2019-01-04 20:03] srknzl opened #434 "Tests for final document"
We need to decide on the fate of unit tests of out project, whether we will try to make them or not.

[2019-01-04 20:05] srknzl opened #435 "Packing and making the application ready for delivery"
We need to pack our web application and android solution, and make them ready to deliver

[2019-01-04 20:07] srknzl commented on #431
I have realised this today also. It is good to see that you are intended to do this since it may affect our final score

[2019-01-04 20:14] srknzl opened #436 "Backend Code Documentation"
We need to document our backend code by explaining how it works at low level. Also we may comment our code and refactor it if it is needed.

As in #426 it should be in html format
16.Software documentation (generated as html)

[2019-01-05 11:47] byklyci commented on #427
I am closing this issue, it is done

[2019-01-05 11:47] #427 closed

[2019-01-05 11:55] byklyci commented on #429
I am closing this issue because it is done.

[2019-01-05 11:56] gumityolcu opened #437 "Realistic Database Preparation"
According to the mail sent to us by the customer, we need to have **at least 100 items** that are **real** or **realistic**.

@didemongu @dkilyas  Can anyone of you handle this issue?

[2019-01-05 11:56] byklyci commented on #426
Milestone 1 and 2 is available on the main page under Documentation folder.

[2019-01-05 11:57] #381 closed

[2019-01-05 11:59] gumityolcu commented on #429
I think we should reopen the issue because this has to be done **after** #437 doesn't it?

[2019-01-05 12:03] byklyci commented on #429
I am reopening this issue because of the 100 elements needed for the report.

[2019-01-05 12:04] byklyci commented on #397
The demo is passed and we prepared so I am closing this issue.

[2019-01-05 12:04] #397 closed

[2019-01-05 15:32] gumityolcu commented on #400
Closing issue due to inactivity and lack of time.

[2019-01-06 11:03] gumityolcu opened #438 ".apk File for Android app"
Can we generate the apk file you the Android version? Can you do it?

[2019-01-06 11:05] gumityolcu opened #439 "Software documentation specification"
As you know, the customer expects a software documentation. I am not sure about what this document should include. What do you think about the contents of this document?

[2019-01-06 12:36] byklyci opened #440 "Project Plan For Final Milestone Report"
Project Plan (simplified version in a report-friendly format) needs for the final milestone report hardcopy.

[2019-01-06 14:05] okyksl opened #441 "Search Results Doesn't Display in Chrome"
Search results does not display in **Chrome** browser. Search is working on both **Safari** and **Firefox**.

[2019-01-06 15:12] didemongu commented on #437
What is the mean of "item"? Does it mean only event or it contains users? @gumityolcu

[2019-01-06 16:03] gumityolcu opened #443 "Coding Work by Each Person"
Please add your individual contributions to the code [here](https://github.com/bounswe/bounswe2018group9/wiki/Coding-Work-by-Members)

[2019-01-06 17:00] kemaltulum commented on #443
Does the report cover all the semester of just the period after Milestone 2

[2019-01-06 17:02] kemaltulum commented on #441
![screenshot 14](https://user-images.githubusercontent.com/14013649/50739205-eea19900-11ed-11e9-9b4c-e8697d78a25f.png)
Am I the only one seeing the app with its old search version

[2019-01-06 17:03] gumityolcu commented on #443
I believe it covers all the semester

[2019-01-06 17:06] kemaltulum commented on #437
In the case of Actopus approximately 70 events from 30 users might be sufficient. Numbers may change

[2019-01-06 17:06] kemaltulum commented on #438
I cannot do it. I suspect that @okyksl might deal with it.

[2019-01-06 17:20] gumityolcu commented on #426
I am working on system and user manuals

[2019-01-06 17:34] kemaltulum commented on #426
I am working on frontend readme showing deployment and configurations

[2019-01-06 18:00] didemongu commented on #437
I added 100 items

[2019-01-06 18:00] #437 closed

[2019-01-06 18:02] didemongu commented on #429
#437 is closed

[2019-01-06 18:03] byklyci commented on #429
I will backup the database again because the 100 item is added

[2019-01-06 18:03] nazmicancalik commented on #443
Is the document deleted @gumityolcu ?

[2019-01-06 18:04] byklyci commented on #429
I will close when I finish @didemongu not yet.

[2019-01-06 18:10] byklyci commented on #443
https://github.com/bounswe/bounswe2018group9/wiki/Customer-Final-Milestone-Report the report is here.

[2019-01-06 18:10] srknzl commented on #443
I think it is not it is here https://github.com/bounswe/bounswe2018group9/wiki/Customer-Final-Milestone-Report

[2019-01-06 18:11] srknzl commented on #443
I edited the main comment

[2019-01-06 19:15] byklyci commented on #429
I finalized the database backup.

[2019-01-06 19:16] #429 closed

[2019-01-06 19:17] byklyci commented on #430
The presentation of final milestone is finished. You can find the format of .pdf and .odp(ppt).I am closing this issue.

[2019-01-06 19:17] #430 closed

[2019-01-06 20:13] okyksl commented on #425
It fails **only on future events**.

[2019-01-06 20:30] okyksl commented on #440
@akaogluozgur

[2019-01-06 23:47] kemaltulum commented on #439
[Frontend documentation](https://github.com/bounswe/bounswe2018group9/tree/staging/frontend) is generated automatically by compodoc

[2019-01-06 23:50] kemaltulum commented on #435
I do not think that with any additional steps other than building the ionic application. After that zipping the backend folder is necessary. That zip might be deployed on a nodejs server

[2019-01-07 00:07] #424 closed

[2019-01-07 00:07] #425 closed

[2019-01-07 00:34] okyksl commented on #410
Fixed by #446 I guess.

[2019-01-07 00:35] okyksl commented on #441
I'm getting the same thing from the `prod` server.

[2019-01-07 22:31] okyksl commented on #435
I have handled the packing of **web, android and server** solutions.

[2019-01-07 22:31] #435 closed

[2019-01-07 22:32] okyksl commented on #433
Did we handled it?

[2019-01-07 22:33] okyksl commented on #434
@srknzl @byklyci handled this issue.

[2019-01-07 22:33] #434 closed

[2019-01-07 22:35] okyksl commented on #426
Did we have **22.Final project assessment (Final Milestone -- assesses the whole process such as lessons learned)**, if not we should.

[2019-01-07 22:40] okyksl commented on #438
I have handled this issue.

[2019-01-07 22:40] #438 closed

[2019-01-12 09:23] okyksl commented on #440
I'm closing this as the deadline is passed.

[2019-01-12 09:23] okyksl commented on #439
Thanks @kemaltulum for genetic the **compodoc**s.

[2019-01-12 09:25] okyksl commented on #433
We have delivered our manuals to the customer.

[2019-01-12 09:40] okyksl commented on #281
I think we have handled this issue with our `MapComponent`.

[2019-01-12 09:40] #281 closed

[2019-01-12 09:45] okyksl commented on #360
We have handled the **search interfaces**.

[2019-01-12 09:45] #360 closed

[2019-01-12 09:46] okyksl commented on #331
Missing features like **location** and **media** is integrated.

[2019-01-12 09:46] #331 closed

[2019-01-12 09:50] okyksl commented on #290
@kemaltulum handled this issue.

[2019-01-12 09:50] #290 closed

[2019-01-12 09:50] okyksl commented on #233
Any progress @dkilyas?

[2019-01-14 06:13] #399 closed

[2019-01-14 06:14] #364 closed

[2019-01-14 06:14] #289 closed

[2019-01-14 06:15] #268 closed

[2019-12-02 17:55] #436 closed

[2019-12-02 17:55] #432 closed

[2019-12-02 17:55] #317 closed